# üìä Credit Risk Analysis

This project aims to predict credit risk by determining which customers are likely to pay their loans on time and which are not. We'll employ various data science techniques and methodologies.

## üéØ Objectives

We will cover the following concepts:

1. **üîç Exploratory Data Analysis (EDA)**:
   - Analyze the dataset to uncover patterns, spot anomalies, and check assumptions using statistical summaries and visualizations.

2. **üõ†Ô∏è Data Preprocessing**:
   - Clean the data, handle missing values, encode categorical variables, normalize data, and split into training and testing sets.

3. **‚≠ê Feature Importance**:
   - Identify key features influencing `loan_status` to improve model performance and interpretability.

4. **üîΩ Dimensionality Reduction**:
   - Use techniques like PCA to reduce the number of features while retaining essential information, speeding up model training, and reducing overfitting.

5. **ü§ñ Predictive Modeling**:
   - Build various models (logistic regression, decision trees, random forests, gradient boosting) to predict the target variable `loan_status`.

6. **‚öôÔ∏è Hyperparameter Optimization**:
   - Perform hyperparameter tuning with Optuna to find the best parameters for our models.

7. **üß™ Model Testing**:
   - Evaluate models using metrics like accuracy, precision, recall, F1 score, and AUC-ROC to test performance on unseen data.

## üéØ Goal

Predict the `loan_status` to determine the likelihood of customers paying their loans on time. This helps financial institutions make informed loan approval decisions and manage risk effectively.

# üìñ Data Dictionary

| Column Name            | Description                                                                                           |
|------------------------|-------------------------------------------------------------------------------------------------------|
| out_prncp_inv          | Remaining outstanding principal for portion of total amount funded by investors                       |
| policy_code            | Publicly available policy_code=1. <br> New products not publicly available policy_code=2                   |
| pub_rec                | Number of derogatory public records                                                                   |
| purpose                | A category provided by the borrower for the loan request.                                             |
| pymnt_plan             | Indicates if a payment plan has been put in place for the loan                                        |
| recoveries             | Post charge off gross recovery                                                                        |
| revol_bal              | Total credit revolving balance                                                                        |
| revol_util             | Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit. |
| sub_grade              | LC assigned loan subgrade                                                                             |
| term                   | The number of payments on the loan. Values are in months and can be either 36 or 60.                  |
| title                  | The loan title provided by the borrower                                                               |
| total_acc              | The total number of credit lines currently in the borrower's credit file                              |
| total_pymnt            | Payments received to date for total amount funded                                                     |
| total_pymnt_inv        | Payments received to date for portion of total amount funded by investors                             |
| total_rec_int          | Interest received to date                                                                             |
| total_rec_late_fee     | Late fees received to date                                                                            |
| total_rec_prncp        | Principal received to date                                                                            |
| url                    | URL for the LC page with listing data.                                                                |
| verified_status_joint  | Indicates if the co-borrowers' joint income was verified by LC, not verified, or if the income source was verified |
| zip_code               | The first 3 numbers of the zip code provided by the borrower in the loan application.                 |
| open_acc_6m            | Number of open trades in last 6 months                                                                |
| open_il_6m             | Number of currently active installment trades                                                         |
| open_il_12m            | Number of installment accounts opened in past 12 months                                               |
| open_il_24m            | Number of installment accounts opened in past 24 months                                               |
| mths_since_rcnt_il     | Months since most recent installment accounts opened                                                  |
| total_bal_il           | Total current balance of all installment accounts                                                     |
| il_util                | Ratio of total current balance to high credit/credit limit on all install acct                        |
| open_rv_12m            | Number of revolving trades opened in past 12 months                                                   |
| open_rv_24m            | Number of revolving trades opened in past 24 months                                                   |
| max_bal_bc             | Maximum current balance owed on all revolving accounts                                                |
| all_util               | Balance to credit limit on all trades                                                                 |
| total_rev_hi_lim       | Total revolving high credit/credit limit                                                              |
| inq_fi                 | Number of personal finance inquiries                                                                  |
| total_cu_tl            | Number of finance trades                                                                              |
| inq_last_12m           | Number of credit inquiries in past 12 months                                                          |
| acc_now_delinq         | The number of accounts on which the borrower is now delinquent.                                       |
| tot_coll_amt           | Total collection amounts ever owed                                                                    |
| tot_cur_bal            | Total current balance of all accounts                                                                 |

#### * Employer Title replaces Employer Name for all loans listed after 9/23/2013

## Some important features

| Column      | Description                                  |
|-------------|----------------------------------------------|
| loan_amnt   | Amount of money requested by the borrower.   |
| int_rate    | Interest rate of the loan.                   |
| grade       | Loan grade with categories A, B, C, D, E, F, G. |
| annual_inc  | Borrower's annual income.                    |
| purpose     | The primary purpose of borrowing.            |
| installment | Monthly amount payments for opted loan.      |
| term        | Duration of the loan until it‚Äôs paid off.    |

# üöÄ Importing libraries and getting started

In [1]:
import pandas as pd
import numpy as np

import plotly.express as px
from sklearn import metrics
from sklearn.impute import KNNImputer, SimpleImputer, MissingIndicator

In [2]:
data = pd.read_csv('C:/Users/saran/OneDrive/Documents/GitHub/credit-risk/data/loan.csv', low_memory=False)

In [3]:
print(data.shape)
print(data.shape[0] * data.shape[1])

(887379, 74)
65666046

### We have about 887K rows and 74 columns, which amounts to about 65 million data points.

In [4]:
data['loan_status'].unique() # Understanding the target variable

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off', 'Issued'],
      dtype=object)

### Here is what the terms in the target variable mean
| Term                                               | Meaning                                                                                                                                                 |
|----------------------------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------|
| **Fully Paid**                                     | The borrower has completely repaid the loan.                                                                                                             |
| **Charged Off**                                    | The lender has given up on collecting the loan because the borrower hasn‚Äôt paid for a long time. The loan is considered a loss.                          |
| **Current**                                        | The borrower is making payments on time.                                                                                                                 |
| **Default**                                        | The borrower has stopped making payments for a long period, and the loan is in serious trouble.                                                          |
| **Late (31-120 days)**                             | The borrower has missed payments and is behind by 31 to 120 days.                                                                                        |
| **In Grace Period**                                | The borrower missed a payment, but the late fee hasn‚Äôt been applied yet because it‚Äôs within an allowed period after the due date.                        |
| **Late (16-30 days)**                              | The borrower is behind on payments by 16 to 30 days.                                                                                                     |
| **Does not meet the credit policy. Status: Fully Paid** | The loan didn‚Äôt meet the lender's usual criteria but was still given and has been completely repaid.                                                      |
| **Does not meet the credit policy. Status: Charged Off** | The loan didn‚Äôt meet the lender's usual criteria, was still given, but ended up in loss as the borrower didn‚Äôt repay.                                      |
| **Issued**                                         | The loan has been approved and the money has been given to the borrower.                                                                                 |

In [5]:
for i in data.columns[2:]:
    print(i)
    print(data[i].head(), '\n')

loan_amnt
0     5000.0
1     2500.0
2     2400.0
3    10000.0
4     3000.0
Name: loan_amnt, dtype: float64

funded_amnt
0     5000.0
1     2500.0
2     2400.0
3    10000.0
4     3000.0
Name: funded_amnt, dtype: float64

funded_amnt_inv
0     4975.0
1     2500.0
2     2400.0
3    10000.0
4     3000.0
Name: funded_amnt_inv, dtype: float64

term
0     36 months
1     60 months
2     36 months
3     36 months
4     60 months
Name: term, dtype: object

int_rate
0    10.65
1    15.27
2    15.96
3    13.49
4    12.69
Name: int_rate, dtype: float64

installment
0    162.87
1     59.83
2     84.33
3    339.31
4     67.79
Name: installment, dtype: float64

grade
0    B
1    C
2    C
3    C
4    B
Name: grade, dtype: object

sub_grade
0    B2
1    C4
2    C5
3    C1
4    B5
Name: sub_grade, dtype: object

emp_title
0                         NaN
1                       Ryder
2                         NaN
3         AIR RESOURCES BOARD
4    University Medical Group
Name: emp_title, dtype: object

emp_length
0    10+ years
1     < 1 year
2    10+ years
3    10+ years
4       1 year
Name: emp_length, dtype: object

home_ownership
0    RENT
1    RENT
2    RENT
3    RENT
4    RENT
Name: home_ownership, dtype: object

annual_inc
0    24000.0
1    30000.0
2    12252.0
3    49200.0
4    80000.0
Name: annual_inc, dtype: float64

verification_status
0           Verified
1    Source Verified
2       Not Verified
3    Source Verified
4    Source Verified
Name: verification_status, dtype: object

issue_d
0    Dec-2011
1    Dec-2011
2    Dec-2011
3    Dec-2011
4    Dec-2011
Name: issue_d, dtype: object

loan_status
0     Fully Paid
1    Charged Off
2     Fully Paid
3     Fully Paid
4        Current
Name: loan_status, dtype: object

pymnt_plan
0    n
1    n
2    n
3    n
4    n
Name: pymnt_plan, dtype: object

url
0    https://www.lendingclub.com/browse/loanDetail....
1    https://www.lendingclub.com/browse/loanDetail....
2    https://www.lendingclub.com/browse/loanDetail....
3    https://www.lendingclub.com/browse/loanDetail....
4    https://www.lendingclub.com/browse/loanDetail....
Name: url, dtype: object

desc
0      Borrower added on 12/22/11 > I need to upgra...
1      Borrower added on 12/22/11 > I plan to use t...
2                                                  NaN
3      Borrower added on 12/21/11 > to pay for prop...
4      Borrower added on 12/21/11 > I plan on combi...
Name: desc, dtype: object

purpose
0       credit_card
1               car
2    small_business
3             other
4             other
Name: purpose, dtype: object

title
0                Computer
1                    bike
2    real estate business
3                personel
4                Personal
Name: title, dtype: object

zip_code
0    860xx
1    309xx
2    606xx
3    917xx
4    972xx
Name: zip_code, dtype: object

addr_state
0    AZ
1    GA
2    IL
3    CA
4    OR
Name: addr_state, dtype: object

dti
0    27.65
1     1.00
2     8.72
3    20.00
4    17.94
Name: dti, dtype: float64

delinq_2yrs
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: delinq_2yrs, dtype: float64

earliest_cr_line
0    Jan-1985
1    Apr-1999
2    Nov-2001
3    Feb-1996
4    Jan-1996
Name: earliest_cr_line, dtype: object

inq_last_6mths
0    1.0
1    5.0
2    2.0
3    1.0
4    0.0
Name: inq_last_6mths, dtype: float64

mths_since_last_delinq
0     NaN
1     NaN
2     NaN
3    35.0
4    38.0
Name: mths_since_last_delinq, dtype: float64

mths_since_last_record
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: mths_since_last_record, dtype: float64

open_acc
0     3.0
1     3.0
2     2.0
3    10.0
4    15.0
Name: open_acc, dtype: float64

pub_rec
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: pub_rec, dtype: float64

revol_bal
0    13648.0
1     1687.0
2     2956.0
3     5598.0
4    27783.0
Name: revol_bal, dtype: float64

revol_util
0    83.7
1     9.4
2    98.5
3    21.0
4    53.9
Name: revol_util, dtype: float64

total_acc
0     9.0
1     4.0
2    10.0
3    37.0
4    38.0
Name: total_acc, dtype: float64

initial_list_status
0    f
1    f
2    f
3    f
4    f
Name: initial_list_status, dtype: object

out_prncp
0      0.0
1      0.0
2      0.0
3      0.0
4    766.9
Name: out_prncp, dtype: float64

out_prncp_inv
0      0.0
1      0.0
2      0.0
3      0.0
4    766.9
Name: out_prncp_inv, dtype: float64

total_pymnt
0     5861.071414
1     1008.710000
2     3003.653644
3    12226.302212
4     3242.170000
Name: total_pymnt, dtype: float64

total_pymnt_inv
0     5831.78
1     1008.71
2     3003.65
3    12226.30
4     3242.17
Name: total_pymnt_inv, dtype: float64

total_rec_prncp
0     5000.00
1      456.46
2     2400.00
3    10000.00
4     2233.10
Name: total_rec_prncp, dtype: float64

total_rec_int
0     861.07
1     435.17
2     603.65
3    2209.33
4    1009.07
Name: total_rec_int, dtype: float64

total_rec_late_fee
0     0.00
1     0.00
2     0.00
3    16.97
4     0.00
Name: total_rec_late_fee, dtype: float64

recoveries
0      0.00
1    117.08
2      0.00
3      0.00
4      0.00
Name: recoveries, dtype: float64

collection_recovery_fee
0    0.00
1    1.11
2    0.00
3    0.00
4    0.00
Name: collection_recovery_fee, dtype: float64

last_pymnt_d
0    Jan-2015
1    Apr-2013
2    Jun-2014
3    Jan-2015
4    Jan-2016
Name: last_pymnt_d, dtype: object

last_pymnt_amnt
0    171.62
1    119.66
2    649.91
3    357.48
4     67.79
Name: last_pymnt_amnt, dtype: float64

next_pymnt_d
0         NaN
1         NaN
2         NaN
3         NaN
4    Feb-2016
Name: next_pymnt_d, dtype: object

last_credit_pull_d
0    Jan-2016
1    Sep-2013
2    Jan-2016
3    Jan-2015
4    Jan-2016
Name: last_credit_pull_d, dtype: object

collections_12_mths_ex_med
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: collections_12_mths_ex_med, dtype: float64

mths_since_last_major_derog
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: mths_since_last_major_derog, dtype: float64

policy_code
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: policy_code, dtype: float64

application_type
0    INDIVIDUAL
1    INDIVIDUAL
2    INDIVIDUAL
3    INDIVIDUAL
4    INDIVIDUAL
Name: application_type, dtype: object

annual_inc_joint
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: annual_inc_joint, dtype: float64

dti_joint
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: dti_joint, dtype: float64

verification_status_joint
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: verification_status_joint, dtype: object

acc_now_delinq
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: acc_now_delinq, dtype: float64

tot_coll_amt
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: tot_coll_amt, dtype: float64

tot_cur_bal
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: tot_cur_bal, dtype: float64

open_acc_6m
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: open_acc_6m, dtype: float64

open_il_6m
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: open_il_6m, dtype: float64

open_il_12m
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: open_il_12m, dtype: float64

open_il_24m
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: open_il_24m, dtype: float64

mths_since_rcnt_il
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: mths_since_rcnt_il, dtype: float64

total_bal_il
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: total_bal_il, dtype: float64

il_util
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: il_util, dtype: float64

open_rv_12m
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: open_rv_12m, dtype: float64

open_rv_24m
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: open_rv_24m, dtype: float64

max_bal_bc
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: max_bal_bc, dtype: float64

all_util
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: all_util, dtype: float64

total_rev_hi_lim
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: total_rev_hi_lim, dtype: float64

inq_fi
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: inq_fi, dtype: float64

total_cu_tl
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: total_cu_tl, dtype: float64

inq_last_12m
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: inq_last_12m, dtype: float64

In [6]:
y = data['loan_status']

In [7]:
y.isna().sum()

0

No null values in target column.

In [8]:
X = data.drop(columns='loan_status')

In [9]:
X.shape

(887379, 73)

In [10]:
print('Number of null data points:', X.isna().sum().sum())
print('Percentage of null data:', round( (X.isna().sum().sum() / (X.shape[0]*X.shape[1]) ) * 100, 2), '%')

Number of null data points: 17998493
Percentage of null data: 27.78 %

In [11]:
for i in X.columns:
    null = ( X[i].isna().sum() / len(X[i]) ) * 100
    print(f'Percentage null values in {i}: {round(null, 2)}%')

Percentage null values in id: 0.0%
Percentage null values in member_id: 0.0%
Percentage null values in loan_amnt: 0.0%
Percentage null values in funded_amnt: 0.0%
Percentage null values in funded_amnt_inv: 0.0%
Percentage null values in term: 0.0%
Percentage null values in int_rate: 0.0%
Percentage null values in installment: 0.0%
Percentage null values in grade: 0.0%
Percentage null values in sub_grade: 0.0%
Percentage null values in emp_title: 5.8%
Percentage null values in emp_length: 5.05%
Percentage null values in home_ownership: 0.0%
Percentage null values in annual_inc: 0.0%
Percentage null values in verification_status: 0.0%
Percentage null values in issue_d: 0.0%
Percentage null values in pymnt_plan: 0.0%
Percentage null values in url: 0.0%
Percentage null values in desc: 85.8%
Percentage null values in purpose: 0.0%
Percentage null values in title: 0.02%
Percentage null values in zip_code: 0.0%
Percentage null values in addr_state: 0.0%
Percentage null values in dti: 0.0%
Percentage null values in delinq_2yrs: 0.0%
Percentage null values in earliest_cr_line: 0.0%
Percentage null values in inq_last_6mths: 0.0%
Percentage null values in mths_since_last_delinq: 51.2%
Percentage null values in mths_since_last_record: 84.56%
Percentage null values in open_acc: 0.0%
Percentage null values in pub_rec: 0.0%
Percentage null values in revol_bal: 0.0%
Percentage null values in revol_util: 0.06%
Percentage null values in total_acc: 0.0%
Percentage null values in initial_list_status: 0.0%
Percentage null values in out_prncp: 0.0%
Percentage null values in out_prncp_inv: 0.0%
Percentage null values in total_pymnt: 0.0%
Percentage null values in total_pymnt_inv: 0.0%
Percentage null values in total_rec_prncp: 0.0%
Percentage null values in total_rec_int: 0.0%
Percentage null values in total_rec_late_fee: 0.0%
Percentage null values in recoveries: 0.0%
Percentage null values in collection_recovery_fee: 0.0%
Percentage null values in last_pymnt_d: 1.99%
Percentage null values in last_pymnt_amnt: 0.0%
Percentage null values in next_pymnt_d: 28.51%
Percentage null values in last_credit_pull_d: 0.01%
Percentage null values in collections_12_mths_ex_med: 0.02%
Percentage null values in mths_since_last_major_derog: 75.02%
Percentage null values in policy_code: 0.0%
Percentage null values in application_type: 0.0%
Percentage null values in annual_inc_joint: 99.94%
Percentage null values in dti_joint: 99.94%
Percentage null values in verification_status_joint: 99.94%
Percentage null values in acc_now_delinq: 0.0%
Percentage null values in tot_coll_amt: 7.92%
Percentage null values in tot_cur_bal: 7.92%
Percentage null values in open_acc_6m: 97.59%
Percentage null values in open_il_6m: 97.59%
Percentage null values in open_il_12m: 97.59%
Percentage null values in open_il_24m: 97.59%
Percentage null values in mths_since_rcnt_il: 97.65%
Percentage null values in total_bal_il: 97.59%
Percentage null values in il_util: 97.9%
Percentage null values in open_rv_12m: 97.59%
Percentage null values in open_rv_24m: 97.59%
Percentage null values in max_bal_bc: 97.59%
Percentage null values in all_util: 97.59%
Percentage null values in total_rev_hi_lim: 7.92%
Percentage null values in inq_fi: 97.59%
Percentage null values in total_cu_tl: 97.59%
Percentage null values in inq_last_12m: 97.59%

Many features have a high percentage of null values.<br /> We will drop features with more than 97% null values.<br /> For the remaining features with a high percentage of nulls, we will handle them differently.

In [12]:
dropped_list = [] # list to track dropped features
for i in X.columns:
    null = ( X[i].isna().sum() / len(X[i]) ) * 100 
    if null < 97:
        print(f'Percentage null values in {i}: {round(null, 2)}%')

    if null > 97:
        print(f'Percentage null values in {i}: {round(null, 2)}% -- FEATURE DROPPED')
        dropped_list.append(i)
        X.drop(columns=i, inplace = True)

print('Total features dropped: ', len(dropped_list))

Percentage null values in id: 0.0%
Percentage null values in member_id: 0.0%
Percentage null values in loan_amnt: 0.0%
Percentage null values in funded_amnt: 0.0%
Percentage null values in funded_amnt_inv: 0.0%
Percentage null values in term: 0.0%
Percentage null values in int_rate: 0.0%
Percentage null values in installment: 0.0%
Percentage null values in grade: 0.0%
Percentage null values in sub_grade: 0.0%
Percentage null values in emp_title: 5.8%
Percentage null values in emp_length: 5.05%
Percentage null values in home_ownership: 0.0%
Percentage null values in annual_inc: 0.0%
Percentage null values in verification_status: 0.0%
Percentage null values in issue_d: 0.0%
Percentage null values in pymnt_plan: 0.0%
Percentage null values in url: 0.0%
Percentage null values in desc: 85.8%
Percentage null values in purpose: 0.0%
Percentage null values in title: 0.02%
Percentage null values in zip_code: 0.0%
Percentage null values in addr_state: 0.0%
Percentage null values in dti: 0.0%
Percentage null values in delinq_2yrs: 0.0%
Percentage null values in earliest_cr_line: 0.0%
Percentage null values in inq_last_6mths: 0.0%
Percentage null values in mths_since_last_delinq: 51.2%
Percentage null values in mths_since_last_record: 84.56%
Percentage null values in open_acc: 0.0%
Percentage null values in pub_rec: 0.0%
Percentage null values in revol_bal: 0.0%
Percentage null values in revol_util: 0.06%
Percentage null values in total_acc: 0.0%
Percentage null values in initial_list_status: 0.0%
Percentage null values in out_prncp: 0.0%
Percentage null values in out_prncp_inv: 0.0%
Percentage null values in total_pymnt: 0.0%
Percentage null values in total_pymnt_inv: 0.0%
Percentage null values in total_rec_prncp: 0.0%
Percentage null values in total_rec_int: 0.0%
Percentage null values in total_rec_late_fee: 0.0%
Percentage null values in recoveries: 0.0%
Percentage null values in collection_recovery_fee: 0.0%
Percentage null values in last_pymnt_d: 1.99%
Percentage null values in last_pymnt_amnt: 0.0%
Percentage null values in next_pymnt_d: 28.51%
Percentage null values in last_credit_pull_d: 0.01%
Percentage null values in collections_12_mths_ex_med: 0.02%
Percentage null values in mths_since_last_major_derog: 75.02%
Percentage null values in policy_code: 0.0%
Percentage null values in application_type: 0.0%
Percentage null values in annual_inc_joint: 99.94% -- FEATURE DROPPED
Percentage null values in dti_joint: 99.94% -- FEATURE DROPPED
Percentage null values in verification_status_joint: 99.94% -- FEATURE DROPPED
Percentage null values in acc_now_delinq: 0.0%
Percentage null values in tot_coll_amt: 7.92%
Percentage null values in tot_cur_bal: 7.92%
Percentage null values in open_acc_6m: 97.59% -- FEATURE DROPPED
Percentage null values in open_il_6m: 97.59% -- FEATURE DROPPED
Percentage null values in open_il_12m: 97.59% -- FEATURE DROPPED
Percentage null values in open_il_24m: 97.59% -- FEATURE DROPPED
Percentage null values in mths_since_rcnt_il: 97.65% -- FEATURE DROPPED
Percentage null values in total_bal_il: 97.59% -- FEATURE DROPPED
Percentage null values in il_util: 97.9% -- FEATURE DROPPED
Percentage null values in open_rv_12m: 97.59% -- FEATURE DROPPED
Percentage null values in open_rv_24m: 97.59% -- FEATURE DROPPED
Percentage null values in max_bal_bc: 97.59% -- FEATURE DROPPED
Percentage null values in all_util: 97.59% -- FEATURE DROPPED
Percentage null values in total_rev_hi_lim: 7.92%
Percentage null values in inq_fi: 97.59% -- FEATURE DROPPED
Percentage null values in total_cu_tl: 97.59% -- FEATURE DROPPED
Percentage null values in inq_last_12m: 97.59% -- FEATURE DROPPED
Total features dropped:  17

In [13]:
X.shape

(887379, 56)

17 feautures have been dropped.

In [14]:
for i in X.columns:
    null = ( X[i].isna().sum() / len(X[i]) ) * 100
    if null > 50:
        print(f'Percentage null values in {i}: {round(null, 2)}%')
    else:
        pass

Percentage null values in desc: 85.8%
Percentage null values in mths_since_last_delinq: 51.2%
Percentage null values in mths_since_last_record: 84.56%
Percentage null values in mths_since_last_major_derog: 75.02%

We will drop the description feature, and impute other features with 0.

In [15]:
X.drop(columns = 'desc', inplace = True)
dropped_list.append('desc')

In [16]:
num_cols = X.select_dtypes(include=['int64', 'float64']).columns
cat_cols = X.select_dtypes(exclude=['int64', 'float64']).columns

In [40]:
print('NUMERICAL COLUMNS\n')
count_num = 0
count_cat = 0
for i in num_cols:
    null = ( X[i].isna().sum() / len(X[i]) ) * 100
    if null > 0:
        count_num = count_num + 1
        print(f'Percentage null values in {i}: {round(null, 2)}%')
        print(f'Total null values in {i}: {X[i].isna().sum()}\n')
    

print('\nCATEGORICAL COLUMNS\n')
for i in cat_cols:
    null = ( X[i].isna().sum() / len(X[i]) ) * 100
    if null > 0:
        count_cat = count_cat + 1
        print(f'Percentage null values in {i}: {round(null, 2)}%')
        print(f'Total null values in {i}: {X[i].isna().sum()}\n')
    
print(f'Total numeric null features: {count_num}')
print(f'Total categorical null features: {count_cat}')

NUMERICAL COLUMNS

Percentage null values in annual_inc: 0.0%
Total null values in annual_inc: 4

Percentage null values in delinq_2yrs: 0.0%
Total null values in delinq_2yrs: 29

Percentage null values in inq_last_6mths: 0.0%
Total null values in inq_last_6mths: 29

Percentage null values in mths_since_last_delinq: 51.2%
Total null values in mths_since_last_delinq: 454312

Percentage null values in mths_since_last_record: 84.56%
Total null values in mths_since_last_record: 750326

Percentage null values in open_acc: 0.0%
Total null values in open_acc: 29

Percentage null values in pub_rec: 0.0%
Total null values in pub_rec: 29

Percentage null values in revol_util: 0.06%
Total null values in revol_util: 502

Percentage null values in total_acc: 0.0%
Total null values in total_acc: 29

Percentage null values in collections_12_mths_ex_med: 0.02%
Total null values in collections_12_mths_ex_med: 145

Percentage null values in mths_since_last_major_derog: 75.02%
Total null values in mths_since_last_major_derog: 665676

Percentage null values in acc_now_delinq: 0.0%
Total null values in acc_now_delinq: 29

Percentage null values in tot_coll_amt: 7.92%
Total null values in tot_coll_amt: 70276

Percentage null values in tot_cur_bal: 7.92%
Total null values in tot_cur_bal: 70276

Percentage null values in total_rev_hi_lim: 7.92%
Total null values in total_rev_hi_lim: 70276


CATEGORICAL COLUMNS

Percentage null values in emp_title: 5.8%
Total null values in emp_title: 51462

Percentage null values in emp_length: 5.05%
Total null values in emp_length: 44825

Percentage null values in title: 0.02%
Total null values in title: 153

Percentage null values in earliest_cr_line: 0.0%
Total null values in earliest_cr_line: 29

Percentage null values in last_pymnt_d: 1.99%
Total null values in last_pymnt_d: 17659

Percentage null values in next_pymnt_d: 28.51%
Total null values in next_pymnt_d: 252971

Percentage null values in last_credit_pull_d: 0.01%
Total null values in last_credit_pull_d: 53

Total numeric null features: 15
Total categorical null features: 7

In [18]:
X.drop(columns = ['id', 'member_id'], inplace = True)
dropped_list.append('id')
dropped_list.append('member_id')
num_cols = X.select_dtypes(include=['int64', 'float64']).columns

In [19]:
num_cols

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'int_rate',
       'installment', 'annual_inc', 'dti', 'delinq_2yrs', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_amnt',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal',
       'total_rev_hi_lim'],
      dtype='object')

In [20]:
knn_imp = KNNImputer(add_indicator = True)
simp_imp = SimpleImputer(strategy = 'constant',
                         fill_value = 0.0)
mi = MissingIndicator()

In [29]:
new_data = X

In [35]:
for i in num_cols: # Adding a missing indicator for each numerical column with nan values
    if new_data[i].isna().sum() > 0:
        temp = mi.fit_transform(new_data[[i]])
        loc = new_data.columns.get_loc(i)
        new_data.insert(loc+1, value = temp, column = f'{i}_MISSING_INDICATOR')

In [37]:
new_data.shape

(887379, 68)

We have added 15 missing indiactors for 15 columns with missing values.

In [43]:
new_data[num_cols].isna().sum()

loan_amnt                           0
funded_amnt                         0
funded_amnt_inv                     0
int_rate                            0
installment                         0
annual_inc                          4
dti                                 0
delinq_2yrs                        29
inq_last_6mths                     29
mths_since_last_delinq         454312
mths_since_last_record         750326
open_acc                           29
pub_rec                            29
revol_bal                           0
revol_util                        502
total_acc                          29
out_prncp                           0
out_prncp_inv                       0
total_pymnt                         0
total_pymnt_inv                     0
total_rec_prncp                     0
total_rec_int                       0
total_rec_late_fee                  0
recoveries                          0
collection_recovery_fee             0
last_pymnt_amnt                     0
collections_12_mths_ex_med        145
mths_since_last_major_derog    665676
policy_code                         0
acc_now_delinq                     29
tot_coll_amt                    70276
tot_cur_bal                     70276
total_rev_hi_lim                70276
dtype: int64

Now we impute missing numerical values.

In [44]:
new_data['annual_inc'] = knn_imp.fit_transform(new_data[['annual_inc']])

In [45]:
new_data['annual_inc'].isna().sum()

0

In [79]:
for i in num_cols:
    if new_data[i].isna().sum() > 0:
        new_data[i] = simp_imp.fit_transform(new_data[[i]])

In [81]:
new_data.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,policy_code,application_type,acc_now_delinq,acc_now_delinq_MISSING_INDICATOR,tot_coll_amt,tot_coll_amt_MISSING_INDICATOR,tot_cur_bal,tot_cur_bal_MISSING_INDICATOR,total_rev_hi_lim,total_rev_hi_lim_MISSING_INDICATOR
0,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,...,1.0,INDIVIDUAL,0.0,False,0.0,True,0.0,True,0.0,True
1,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,...,1.0,INDIVIDUAL,0.0,False,0.0,True,0.0,True,0.0,True
2,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,...,1.0,INDIVIDUAL,0.0,False,0.0,True,0.0,True,0.0,True
3,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,...,1.0,INDIVIDUAL,0.0,False,0.0,True,0.0,True,0.0,True
4,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,...,1.0,INDIVIDUAL,0.0,False,0.0,True,0.0,True,0.0,True

In [82]:
new_data[num_cols].isna().sum()

loan_amnt                      0
funded_amnt                    0
funded_amnt_inv                0
int_rate                       0
installment                    0
annual_inc                     0
dti                            0
delinq_2yrs                    0
inq_last_6mths                 0
mths_since_last_delinq         0
mths_since_last_record         0
open_acc                       0
pub_rec                        0
revol_bal                      0
revol_util                     0
total_acc                      0
out_prncp                      0
out_prncp_inv                  0
total_pymnt                    0
total_pymnt_inv                0
total_rec_prncp                0
total_rec_int                  0
total_rec_late_fee             0
recoveries                     0
collection_recovery_fee        0
last_pymnt_amnt                0
collections_12_mths_ex_med     0
mths_since_last_major_derog    0
policy_code                    0
acc_now_delinq                 0
tot_coll_amt                   0
tot_cur_bal                    0
total_rev_hi_lim               0
dtype: int64

We have imputed missing values for all numeric columns.