# üìä Credit Risk Analysis

This project aims to predict credit risk by determining which customers are likely to pay their loans on time and which are not. We'll employ various data science techniques and methodologies.

## üéØ Objectives

We will cover the following concepts:

1. **üîç Exploratory Data Analysis (EDA)**:
   - Analyze the dataset to uncover patterns, spot anomalies, and check assumptions using statistical summaries and visualizations.

2. **üõ†Ô∏è Data Preprocessing**:
   - Clean the data, handle missing values, encode categorical variables, normalize data, and split into training and testing sets.

3. **‚≠ê Feature Importance**:
   - Identify key features influencing `loan_status` to improve model performance and interpretability.

4. **üîΩ Dimensionality Reduction**:
   - Use techniques like PCA to reduce the number of features while retaining essential information, speeding up model training, and reducing overfitting.

5. **ü§ñ Predictive Modeling**:
   - Build various models (logistic regression, decision trees, random forests, gradient boosting) to predict the target variable `loan_status`.

6. **‚öôÔ∏è Hyperparameter Optimization**:
   - Perform hyperparameter tuning with Optuna to find the best parameters for our models.

7. **üß™ Model Testing**:
   - Evaluate models using metrics like accuracy, precision, recall, F1 score, and AUC-ROC to test performance on unseen data.

## üéØ Goal

Predict the `loan_status` to determine the likelihood of customers paying their loans on time. This helps financial institutions make informed loan approval decisions and manage risk effectively.

# üìñ Data Dictionary

| Column Name            | Description                                                                                           |
|------------------------|-------------------------------------------------------------------------------------------------------|
| out_prncp_inv          | Remaining outstanding principal for portion of total amount funded by investors                       |
| policy_code            | Publicly available policy_code=1. <br> New products not publicly available policy_code=2                   |
| pub_rec                | Number of derogatory public records                                                                   |
| purpose                | A category provided by the borrower for the loan request.                                             |
| pymnt_plan             | Indicates if a payment plan has been put in place for the loan                                        |
| recoveries             | Post charge off gross recovery                                                                        |
| revol_bal              | Total credit revolving balance                                                                        |
| revol_util             | Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit. |
| sub_grade              | LC assigned loan subgrade                                                                             |
| term                   | The number of payments on the loan. Values are in months and can be either 36 or 60.                  |
| title                  | The loan title provided by the borrower                                                               |
| total_acc              | The total number of credit lines currently in the borrower's credit file                              |
| total_pymnt            | Payments received to date for total amount funded                                                     |
| total_pymnt_inv        | Payments received to date for portion of total amount funded by investors                             |
| total_rec_int          | Interest received to date                                                                             |
| total_rec_late_fee     | Late fees received to date                                                                            |
| total_rec_prncp        | Principal received to date                                                                            |
| url                    | URL for the LC page with listing data.                                                                |
| verified_status_joint  | Indicates if the co-borrowers' joint income was verified by LC, not verified, or if the income source was verified |
| zip_code               | The first 3 numbers of the zip code provided by the borrower in the loan application.                 |
| open_acc_6m            | Number of open trades in last 6 months                                                                |
| open_il_6m             | Number of currently active installment trades                                                         |
| open_il_12m            | Number of installment accounts opened in past 12 months                                               |
| open_il_24m            | Number of installment accounts opened in past 24 months                                               |
| mths_since_rcnt_il     | Months since most recent installment accounts opened                                                  |
| total_bal_il           | Total current balance of all installment accounts                                                     |
| il_util                | Ratio of total current balance to high credit/credit limit on all install acct                        |
| open_rv_12m            | Number of revolving trades opened in past 12 months                                                   |
| open_rv_24m            | Number of revolving trades opened in past 24 months                                                   |
| max_bal_bc             | Maximum current balance owed on all revolving accounts                                                |
| all_util               | Balance to credit limit on all trades                                                                 |
| total_rev_hi_lim       | Total revolving high credit/credit limit                                                              |
| inq_fi                 | Number of personal finance inquiries                                                                  |
| total_cu_tl            | Number of finance trades                                                                              |
| inq_last_12m           | Number of credit inquiries in past 12 months                                                          |
| acc_now_delinq         | The number of accounts on which the borrower is now delinquent.                                       |
| tot_coll_amt           | Total collection amounts ever owed                                                                    |
| tot_cur_bal            | Total current balance of all accounts                                                                 |

#### * Employer Title replaces Employer Name for all loans listed after 9/23/2013

## Some important features

| Column      | Description                                  |
|-------------|----------------------------------------------|
| loan_amnt   | Amount of money requested by the borrower.   |
| int_rate    | Interest rate of the loan.                   |
| grade       | Loan grade with categories A, B, C, D, E, F, G. |
| annual_inc  | Borrower's annual income.                    |
| purpose     | The primary purpose of borrowing.            |
| installment | Monthly amount payments for opted loan.      |
| term        | Duration of the loan until it‚Äôs paid off.    |

# üöÄ Importing libraries and getting started

In [138]:
import pandas as pd
import numpy as np

import plotly.express as px
from sklearn import metrics
from sklearn.impute import KNNImputer, SimpleImputer, MissingIndicator

from sklearn.preprocessing import LabelEncoder, OneHotEncoder, TargetEncoder, StandardScaler
from sklearn.compose import make_column_selector, make_column_transformer
from sklearn.pipeline import make_pipeline

import re

pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
data = pd.read_csv('C:/Users/saran/OneDrive/Documents/GitHub/credit-risk/data/loan.csv', low_memory=False)

In [3]:
print(data.shape)
print(data.shape[0] * data.shape[1])

(887379, 74)
65666046

### We have about 887K rows and 74 columns, which amounts to about 65 million data points.

In [4]:
data['loan_status'].unique() # Understanding the target variable

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off', 'Issued'],
      dtype=object)

### Here is what the terms in the target variable mean
| Term                                               | Meaning                                                                                                                                                 |
|----------------------------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------|
| **Fully Paid**                                     | The borrower has completely repaid the loan.                                                                                                             |
| **Charged Off**                                    | The lender has given up on collecting the loan because the borrower hasn‚Äôt paid for a long time. The loan is considered a loss.                          |
| **Current**                                        | The borrower is making payments on time.                                                                                                                 |
| **Default**                                        | The borrower has stopped making payments for a long period, and the loan is in serious trouble.                                                          |
| **Late (31-120 days)**                             | The borrower has missed payments and is behind by 31 to 120 days.                                                                                        |
| **In Grace Period**                                | The borrower missed a payment, but the late fee hasn‚Äôt been applied yet because it‚Äôs within an allowed period after the due date.                        |
| **Late (16-30 days)**                              | The borrower is behind on payments by 16 to 30 days.                                                                                                     |
| **Does not meet the credit policy. Status: Fully Paid** | The loan didn‚Äôt meet the lender's usual criteria but was still given and has been completely repaid.                                                      |
| **Does not meet the credit policy. Status: Charged Off** | The loan didn‚Äôt meet the lender's usual criteria, was still given, but ended up in loss as the borrower didn‚Äôt repay.                                      |
| **Issued**                                         | The loan has been approved and the money has been given to the borrower.                                                                                 |

In [5]:
for i in data.columns[2:]:
    print(i)
    print(data[i].head(), '\n')

loan_amnt
0     5000.0
1     2500.0
2     2400.0
3    10000.0
4     3000.0
Name: loan_amnt, dtype: float64

funded_amnt
0     5000.0
1     2500.0
2     2400.0
3    10000.0
4     3000.0
Name: funded_amnt, dtype: float64

funded_amnt_inv
0     4975.0
1     2500.0
2     2400.0
3    10000.0
4     3000.0
Name: funded_amnt_inv, dtype: float64

term
0     36 months
1     60 months
2     36 months
3     36 months
4     60 months
Name: term, dtype: object

int_rate
0    10.65
1    15.27
2    15.96
3    13.49
4    12.69
Name: int_rate, dtype: float64

installment
0    162.87
1     59.83
2     84.33
3    339.31
4     67.79
Name: installment, dtype: float64

grade
0    B
1    C
2    C
3    C
4    B
Name: grade, dtype: object

sub_grade
0    B2
1    C4
2    C5
3    C1
4    B5
Name: sub_grade, dtype: object

emp_title
0                         NaN
1                       Ryder
2                         NaN
3         AIR RESOURCES BOARD
4    University Medical Group
Name: emp_title, dtype: object

emp_length
0    10+ years
1     < 1 year
2    10+ years
3    10+ years
4       1 year
Name: emp_length, dtype: object

home_ownership
0    RENT
1    RENT
2    RENT
3    RENT
4    RENT
Name: home_ownership, dtype: object

annual_inc
0    24000.0
1    30000.0
2    12252.0
3    49200.0
4    80000.0
Name: annual_inc, dtype: float64

verification_status
0           Verified
1    Source Verified
2       Not Verified
3    Source Verified
4    Source Verified
Name: verification_status, dtype: object

issue_d
0    Dec-2011
1    Dec-2011
2    Dec-2011
3    Dec-2011
4    Dec-2011
Name: issue_d, dtype: object

loan_status
0     Fully Paid
1    Charged Off
2     Fully Paid
3     Fully Paid
4        Current
Name: loan_status, dtype: object

pymnt_plan
0    n
1    n
2    n
3    n
4    n
Name: pymnt_plan, dtype: object

url
0    https://www.lendingclub.com/browse/loanDetail....
1    https://www.lendingclub.com/browse/loanDetail....
2    https://www.lendingclub.com/browse/loanDetail....
3    https://www.lendingclub.com/browse/loanDetail....
4    https://www.lendingclub.com/browse/loanDetail....
Name: url, dtype: object

desc
0      Borrower added on 12/22/11 > I need to upgra...
1      Borrower added on 12/22/11 > I plan to use t...
2                                                  NaN
3      Borrower added on 12/21/11 > to pay for prop...
4      Borrower added on 12/21/11 > I plan on combi...
Name: desc, dtype: object

purpose
0       credit_card
1               car
2    small_business
3             other
4             other
Name: purpose, dtype: object

title
0                Computer
1                    bike
2    real estate business
3                personel
4                Personal
Name: title, dtype: object

zip_code
0    860xx
1    309xx
2    606xx
3    917xx
4    972xx
Name: zip_code, dtype: object

addr_state
0    AZ
1    GA
2    IL
3    CA
4    OR
Name: addr_state, dtype: object

dti
0    27.65
1     1.00
2     8.72
3    20.00
4    17.94
Name: dti, dtype: float64

delinq_2yrs
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: delinq_2yrs, dtype: float64

earliest_cr_line
0    Jan-1985
1    Apr-1999
2    Nov-2001
3    Feb-1996
4    Jan-1996
Name: earliest_cr_line, dtype: object

inq_last_6mths
0    1.0
1    5.0
2    2.0
3    1.0
4    0.0
Name: inq_last_6mths, dtype: float64

mths_since_last_delinq
0     NaN
1     NaN
2     NaN
3    35.0
4    38.0
Name: mths_since_last_delinq, dtype: float64

mths_since_last_record
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: mths_since_last_record, dtype: float64

open_acc
0     3.0
1     3.0
2     2.0
3    10.0
4    15.0
Name: open_acc, dtype: float64

pub_rec
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: pub_rec, dtype: float64

revol_bal
0    13648.0
1     1687.0
2     2956.0
3     5598.0
4    27783.0
Name: revol_bal, dtype: float64

revol_util
0    83.7
1     9.4
2    98.5
3    21.0
4    53.9
Name: revol_util, dtype: float64

total_acc
0     9.0
1     4.0
2    10.0
3    37.0
4    38.0
Name: total_acc, dtype: float64

initial_list_status
0    f
1    f
2    f
3    f
4    f
Name: initial_list_status, dtype: object

out_prncp
0      0.0
1      0.0
2      0.0
3      0.0
4    766.9
Name: out_prncp, dtype: float64

out_prncp_inv
0      0.0
1      0.0
2      0.0
3      0.0
4    766.9
Name: out_prncp_inv, dtype: float64

total_pymnt
0     5861.071414
1     1008.710000
2     3003.653644
3    12226.302212
4     3242.170000
Name: total_pymnt, dtype: float64

total_pymnt_inv
0     5831.78
1     1008.71
2     3003.65
3    12226.30
4     3242.17
Name: total_pymnt_inv, dtype: float64

total_rec_prncp
0     5000.00
1      456.46
2     2400.00
3    10000.00
4     2233.10
Name: total_rec_prncp, dtype: float64

total_rec_int
0     861.07
1     435.17
2     603.65
3    2209.33
4    1009.07
Name: total_rec_int, dtype: float64

total_rec_late_fee
0     0.00
1     0.00
2     0.00
3    16.97
4     0.00
Name: total_rec_late_fee, dtype: float64

recoveries
0      0.00
1    117.08
2      0.00
3      0.00
4      0.00
Name: recoveries, dtype: float64

collection_recovery_fee
0    0.00
1    1.11
2    0.00
3    0.00
4    0.00
Name: collection_recovery_fee, dtype: float64

last_pymnt_d
0    Jan-2015
1    Apr-2013
2    Jun-2014
3    Jan-2015
4    Jan-2016
Name: last_pymnt_d, dtype: object

last_pymnt_amnt
0    171.62
1    119.66
2    649.91
3    357.48
4     67.79
Name: last_pymnt_amnt, dtype: float64

next_pymnt_d
0         NaN
1         NaN
2         NaN
3         NaN
4    Feb-2016
Name: next_pymnt_d, dtype: object

last_credit_pull_d
0    Jan-2016
1    Sep-2013
2    Jan-2016
3    Jan-2015
4    Jan-2016
Name: last_credit_pull_d, dtype: object

collections_12_mths_ex_med
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: collections_12_mths_ex_med, dtype: float64

mths_since_last_major_derog
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: mths_since_last_major_derog, dtype: float64

policy_code
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: policy_code, dtype: float64

application_type
0    INDIVIDUAL
1    INDIVIDUAL
2    INDIVIDUAL
3    INDIVIDUAL
4    INDIVIDUAL
Name: application_type, dtype: object

annual_inc_joint
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: annual_inc_joint, dtype: float64

dti_joint
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: dti_joint, dtype: float64

verification_status_joint
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: verification_status_joint, dtype: object

acc_now_delinq
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: acc_now_delinq, dtype: float64

tot_coll_amt
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: tot_coll_amt, dtype: float64

tot_cur_bal
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: tot_cur_bal, dtype: float64

open_acc_6m
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: open_acc_6m, dtype: float64

open_il_6m
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: open_il_6m, dtype: float64

open_il_12m
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: open_il_12m, dtype: float64

open_il_24m
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: open_il_24m, dtype: float64

mths_since_rcnt_il
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: mths_since_rcnt_il, dtype: float64

total_bal_il
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: total_bal_il, dtype: float64

il_util
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: il_util, dtype: float64

open_rv_12m
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: open_rv_12m, dtype: float64

open_rv_24m
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: open_rv_24m, dtype: float64

max_bal_bc
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: max_bal_bc, dtype: float64

all_util
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: all_util, dtype: float64

total_rev_hi_lim
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: total_rev_hi_lim, dtype: float64

inq_fi
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: inq_fi, dtype: float64

total_cu_tl
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: total_cu_tl, dtype: float64

inq_last_12m
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: inq_last_12m, dtype: float64

In [6]:
y = data['loan_status']

In [7]:
y.isna().sum()

0

No null values in target column.

In [8]:
X = data.drop(columns='loan_status')

In [9]:
X.shape

(887379, 73)

In [10]:
print('Number of null data points:', X.isna().sum().sum())
print('Percentage of null data:', round( (X.isna().sum().sum() / (X.shape[0]*X.shape[1]) ) * 100, 2), '%')

Number of null data points: 17998493
Percentage of null data: 27.78 %

In [11]:
for i in X.columns:
    null = ( X[i].isna().sum() / len(X[i]) ) * 100
    print(f'Percentage null values in {i}: {round(null, 2)}%')

Percentage null values in id: 0.0%
Percentage null values in member_id: 0.0%
Percentage null values in loan_amnt: 0.0%
Percentage null values in funded_amnt: 0.0%
Percentage null values in funded_amnt_inv: 0.0%
Percentage null values in term: 0.0%
Percentage null values in int_rate: 0.0%
Percentage null values in installment: 0.0%
Percentage null values in grade: 0.0%
Percentage null values in sub_grade: 0.0%
Percentage null values in emp_title: 5.8%
Percentage null values in emp_length: 5.05%
Percentage null values in home_ownership: 0.0%
Percentage null values in annual_inc: 0.0%
Percentage null values in verification_status: 0.0%
Percentage null values in issue_d: 0.0%
Percentage null values in pymnt_plan: 0.0%
Percentage null values in url: 0.0%
Percentage null values in desc: 85.8%
Percentage null values in purpose: 0.0%
Percentage null values in title: 0.02%
Percentage null values in zip_code: 0.0%
Percentage null values in addr_state: 0.0%
Percentage null values in dti: 0.0%
Percentage null values in delinq_2yrs: 0.0%
Percentage null values in earliest_cr_line: 0.0%
Percentage null values in inq_last_6mths: 0.0%
Percentage null values in mths_since_last_delinq: 51.2%
Percentage null values in mths_since_last_record: 84.56%
Percentage null values in open_acc: 0.0%
Percentage null values in pub_rec: 0.0%
Percentage null values in revol_bal: 0.0%
Percentage null values in revol_util: 0.06%
Percentage null values in total_acc: 0.0%
Percentage null values in initial_list_status: 0.0%
Percentage null values in out_prncp: 0.0%
Percentage null values in out_prncp_inv: 0.0%
Percentage null values in total_pymnt: 0.0%
Percentage null values in total_pymnt_inv: 0.0%
Percentage null values in total_rec_prncp: 0.0%
Percentage null values in total_rec_int: 0.0%
Percentage null values in total_rec_late_fee: 0.0%
Percentage null values in recoveries: 0.0%
Percentage null values in collection_recovery_fee: 0.0%
Percentage null values in last_pymnt_d: 1.99%
Percentage null values in last_pymnt_amnt: 0.0%
Percentage null values in next_pymnt_d: 28.51%
Percentage null values in last_credit_pull_d: 0.01%
Percentage null values in collections_12_mths_ex_med: 0.02%
Percentage null values in mths_since_last_major_derog: 75.02%
Percentage null values in policy_code: 0.0%
Percentage null values in application_type: 0.0%
Percentage null values in annual_inc_joint: 99.94%
Percentage null values in dti_joint: 99.94%
Percentage null values in verification_status_joint: 99.94%
Percentage null values in acc_now_delinq: 0.0%
Percentage null values in tot_coll_amt: 7.92%
Percentage null values in tot_cur_bal: 7.92%
Percentage null values in open_acc_6m: 97.59%
Percentage null values in open_il_6m: 97.59%
Percentage null values in open_il_12m: 97.59%
Percentage null values in open_il_24m: 97.59%
Percentage null values in mths_since_rcnt_il: 97.65%
Percentage null values in total_bal_il: 97.59%
Percentage null values in il_util: 97.9%
Percentage null values in open_rv_12m: 97.59%
Percentage null values in open_rv_24m: 97.59%
Percentage null values in max_bal_bc: 97.59%
Percentage null values in all_util: 97.59%
Percentage null values in total_rev_hi_lim: 7.92%
Percentage null values in inq_fi: 97.59%
Percentage null values in total_cu_tl: 97.59%
Percentage null values in inq_last_12m: 97.59%

Many features have a high percentage of null values.<br /> We will drop features with more than 97% null values.<br /> For the remaining features with a high percentage of nulls, we will handle them differently.

In [12]:
dropped_list = [] # list to track dropped features
for i in X.columns:
    null = ( X[i].isna().sum() / len(X[i]) ) * 100 
    if null < 97:
        print(f'Percentage null values in {i}: {round(null, 2)}%')

    if null > 97:
        print(f'Percentage null values in {i}: {round(null, 2)}% -- FEATURE DROPPED')
        dropped_list.append(i)
        X.drop(columns=i, inplace = True)

print('Total features dropped: ', len(dropped_list))

Percentage null values in id: 0.0%
Percentage null values in member_id: 0.0%
Percentage null values in loan_amnt: 0.0%
Percentage null values in funded_amnt: 0.0%
Percentage null values in funded_amnt_inv: 0.0%
Percentage null values in term: 0.0%
Percentage null values in int_rate: 0.0%
Percentage null values in installment: 0.0%
Percentage null values in grade: 0.0%
Percentage null values in sub_grade: 0.0%
Percentage null values in emp_title: 5.8%
Percentage null values in emp_length: 5.05%
Percentage null values in home_ownership: 0.0%
Percentage null values in annual_inc: 0.0%
Percentage null values in verification_status: 0.0%
Percentage null values in issue_d: 0.0%
Percentage null values in pymnt_plan: 0.0%
Percentage null values in url: 0.0%
Percentage null values in desc: 85.8%
Percentage null values in purpose: 0.0%
Percentage null values in title: 0.02%
Percentage null values in zip_code: 0.0%
Percentage null values in addr_state: 0.0%
Percentage null values in dti: 0.0%
Percentage null values in delinq_2yrs: 0.0%
Percentage null values in earliest_cr_line: 0.0%
Percentage null values in inq_last_6mths: 0.0%
Percentage null values in mths_since_last_delinq: 51.2%
Percentage null values in mths_since_last_record: 84.56%
Percentage null values in open_acc: 0.0%
Percentage null values in pub_rec: 0.0%
Percentage null values in revol_bal: 0.0%
Percentage null values in revol_util: 0.06%
Percentage null values in total_acc: 0.0%
Percentage null values in initial_list_status: 0.0%
Percentage null values in out_prncp: 0.0%
Percentage null values in out_prncp_inv: 0.0%
Percentage null values in total_pymnt: 0.0%
Percentage null values in total_pymnt_inv: 0.0%
Percentage null values in total_rec_prncp: 0.0%
Percentage null values in total_rec_int: 0.0%
Percentage null values in total_rec_late_fee: 0.0%
Percentage null values in recoveries: 0.0%
Percentage null values in collection_recovery_fee: 0.0%
Percentage null values in last_pymnt_d: 1.99%
Percentage null values in last_pymnt_amnt: 0.0%
Percentage null values in next_pymnt_d: 28.51%
Percentage null values in last_credit_pull_d: 0.01%
Percentage null values in collections_12_mths_ex_med: 0.02%
Percentage null values in mths_since_last_major_derog: 75.02%
Percentage null values in policy_code: 0.0%
Percentage null values in application_type: 0.0%
Percentage null values in annual_inc_joint: 99.94% -- FEATURE DROPPED
Percentage null values in dti_joint: 99.94% -- FEATURE DROPPED
Percentage null values in verification_status_joint: 99.94% -- FEATURE DROPPED
Percentage null values in acc_now_delinq: 0.0%
Percentage null values in tot_coll_amt: 7.92%
Percentage null values in tot_cur_bal: 7.92%
Percentage null values in open_acc_6m: 97.59% -- FEATURE DROPPED
Percentage null values in open_il_6m: 97.59% -- FEATURE DROPPED
Percentage null values in open_il_12m: 97.59% -- FEATURE DROPPED
Percentage null values in open_il_24m: 97.59% -- FEATURE DROPPED
Percentage null values in mths_since_rcnt_il: 97.65% -- FEATURE DROPPED
Percentage null values in total_bal_il: 97.59% -- FEATURE DROPPED
Percentage null values in il_util: 97.9% -- FEATURE DROPPED
Percentage null values in open_rv_12m: 97.59% -- FEATURE DROPPED
Percentage null values in open_rv_24m: 97.59% -- FEATURE DROPPED
Percentage null values in max_bal_bc: 97.59% -- FEATURE DROPPED
Percentage null values in all_util: 97.59% -- FEATURE DROPPED
Percentage null values in total_rev_hi_lim: 7.92%
Percentage null values in inq_fi: 97.59% -- FEATURE DROPPED
Percentage null values in total_cu_tl: 97.59% -- FEATURE DROPPED
Percentage null values in inq_last_12m: 97.59% -- FEATURE DROPPED
Total features dropped:  17

In [13]:
X.shape

(887379, 56)

17 feautures have been dropped.

In [14]:
for i in X.columns:
    null = ( X[i].isna().sum() / len(X[i]) ) * 100
    if null > 50:
        print(f'Percentage null values in {i}: {round(null, 2)}%')
    else:
        pass

Percentage null values in desc: 85.8%
Percentage null values in mths_since_last_delinq: 51.2%
Percentage null values in mths_since_last_record: 84.56%
Percentage null values in mths_since_last_major_derog: 75.02%

We will drop the description feature, and impute other features with 0.

In [15]:
X.drop(columns = 'desc', inplace = True)
dropped_list.append('desc')

In [16]:
num_cols = X.select_dtypes(include=['int64', 'float64']).columns
cat_cols = X.select_dtypes(exclude=['int64', 'float64']).columns

In [17]:
print('NUMERICAL COLUMNS\n')
count_num = 0
count_cat = 0
for i in num_cols:
    null = ( X[i].isna().sum() / len(X[i]) ) * 100
    if null > 0:
        count_num = count_num + 1
        print(f'Percentage null values in {i}: {round(null, 2)}%')
        print(f'Total null values in {i}: {X[i].isna().sum()}\n')
    

print('\nCATEGORICAL COLUMNS\n')
for i in cat_cols:
    null = ( X[i].isna().sum() / len(X[i]) ) * 100
    if null > 0:
        count_cat = count_cat + 1
        print(f'Percentage null values in {i}: {round(null, 2)}%')
        print(f'Total null values in {i}: {X[i].isna().sum()}\n')
    
print(f'Total numeric null features: {count_num}')
print(f'Total categorical null features: {count_cat}')

NUMERICAL COLUMNS

Percentage null values in annual_inc: 0.0%
Total null values in annual_inc: 4

Percentage null values in delinq_2yrs: 0.0%
Total null values in delinq_2yrs: 29

Percentage null values in inq_last_6mths: 0.0%
Total null values in inq_last_6mths: 29

Percentage null values in mths_since_last_delinq: 51.2%
Total null values in mths_since_last_delinq: 454312

Percentage null values in mths_since_last_record: 84.56%
Total null values in mths_since_last_record: 750326

Percentage null values in open_acc: 0.0%
Total null values in open_acc: 29

Percentage null values in pub_rec: 0.0%
Total null values in pub_rec: 29

Percentage null values in revol_util: 0.06%
Total null values in revol_util: 502

Percentage null values in total_acc: 0.0%
Total null values in total_acc: 29

Percentage null values in collections_12_mths_ex_med: 0.02%
Total null values in collections_12_mths_ex_med: 145

Percentage null values in mths_since_last_major_derog: 75.02%
Total null values in mths_since_last_major_derog: 665676

Percentage null values in acc_now_delinq: 0.0%
Total null values in acc_now_delinq: 29

Percentage null values in tot_coll_amt: 7.92%
Total null values in tot_coll_amt: 70276

Percentage null values in tot_cur_bal: 7.92%
Total null values in tot_cur_bal: 70276

Percentage null values in total_rev_hi_lim: 7.92%
Total null values in total_rev_hi_lim: 70276


CATEGORICAL COLUMNS

Percentage null values in emp_title: 5.8%
Total null values in emp_title: 51462

Percentage null values in emp_length: 5.05%
Total null values in emp_length: 44825

Percentage null values in title: 0.02%
Total null values in title: 153

Percentage null values in earliest_cr_line: 0.0%
Total null values in earliest_cr_line: 29

Percentage null values in last_pymnt_d: 1.99%
Total null values in last_pymnt_d: 17659

Percentage null values in next_pymnt_d: 28.51%
Total null values in next_pymnt_d: 252971

Percentage null values in last_credit_pull_d: 0.01%
Total null values in last_credit_pull_d: 53

Total numeric null features: 15
Total categorical null features: 7

In [18]:
X.drop(columns = ['id', 'member_id'], inplace = True)
dropped_list.append('id')
dropped_list.append('member_id')
num_cols = X.select_dtypes(include=['int64', 'float64']).columns

In [19]:
num_cols

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'int_rate', 'installment', 'annual_inc', 'dti', 'delinq_2yrs', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_amnt', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim'], dtype='object')

In [20]:
knn_imp = KNNImputer(add_indicator = True)
simp_imp = SimpleImputer(strategy = 'constant',
                         fill_value = 0.0)
mi = MissingIndicator()

In [21]:
new_data = X.copy()

In [22]:
for i in num_cols: # Adding a missing indicator for each numerical column with nan values
    if new_data[i].isna().sum() > 0:
        temp = mi.fit_transform(new_data[[i]])
        loc = new_data.columns.get_loc(i)
        new_data.insert(loc+1, value = temp, column = f'{i}_MISSING_INDICATOR')

In [23]:
new_data.shape

(887379, 68)

We have added 15 missing indiactors for 15 columns with missing values.

In [24]:
new_data[num_cols].isna().sum()

loan_amnt                           0
funded_amnt                         0
funded_amnt_inv                     0
int_rate                            0
installment                         0
annual_inc                          4
dti                                 0
delinq_2yrs                        29
inq_last_6mths                     29
mths_since_last_delinq         454312
mths_since_last_record         750326
open_acc                           29
pub_rec                            29
revol_bal                           0
revol_util                        502
total_acc                          29
out_prncp                           0
out_prncp_inv                       0
total_pymnt                         0
total_pymnt_inv                     0
total_rec_prncp                     0
total_rec_int                       0
total_rec_late_fee                  0
recoveries                          0
collection_recovery_fee             0
last_pymnt_amnt                     0
collections_12_mths_ex_med        145
mths_since_last_major_derog    665676
policy_code                         0
acc_now_delinq                     29
tot_coll_amt                    70276
tot_cur_bal                     70276
total_rev_hi_lim                70276
dtype: int64

Now we impute missing numerical values.

In [25]:
new_data['annual_inc'] = knn_imp.fit_transform(new_data[['annual_inc']])

In [26]:
new_data['annual_inc'].isna().sum()

0

In [27]:
for i in num_cols:
    if new_data[i].isna().sum() > 0:
        new_data[i] = simp_imp.fit_transform(new_data[[i]])

In [28]:
new_data.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,annual_inc_MISSING_INDICATOR,verification_status,issue_d,pymnt_plan,url,purpose,title,zip_code,addr_state,dti,delinq_2yrs,delinq_2yrs_MISSING_INDICATOR,earliest_cr_line,inq_last_6mths,inq_last_6mths_MISSING_INDICATOR,mths_since_last_delinq,mths_since_last_delinq_MISSING_INDICATOR,mths_since_last_record,mths_since_last_record_MISSING_INDICATOR,open_acc,open_acc_MISSING_INDICATOR,pub_rec,pub_rec_MISSING_INDICATOR,revol_bal,revol_util,revol_util_MISSING_INDICATOR,total_acc,total_acc_MISSING_INDICATOR,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,collections_12_mths_ex_med_MISSING_INDICATOR,mths_since_last_major_derog,mths_since_last_major_derog_MISSING_INDICATOR,policy_code,application_type,acc_now_delinq,acc_now_delinq_MISSING_INDICATOR,tot_coll_amt,tot_coll_amt_MISSING_INDICATOR,tot_cur_bal,tot_cur_bal_MISSING_INDICATOR,total_rev_hi_lim,total_rev_hi_lim_MISSING_INDICATOR
0,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,False,Verified,Dec-2011,n,https://www.lendingclub.com/browse/loanDetail....,credit_card,Computer,860xx,AZ,27.65,0.0,False,Jan-1985,1.0,False,0.0,True,0.0,True,3.0,False,0.0,False,13648.0,83.7,False,9.0,False,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-2015,171.62,NaN,Jan-2016,0.0,False,0.0,True,1.0,INDIVIDUAL,0.0,False,0.0,True,0.0,True,0.0,True
1,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,False,Source Verified,Dec-2011,n,https://www.lendingclub.com/browse/loanDetail....,car,bike,309xx,GA,1.00,0.0,False,Apr-1999,5.0,False,0.0,True,0.0,True,3.0,False,0.0,False,1687.0,9.4,False,4.0,False,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,NaN,Sep-2013,0.0,False,0.0,True,1.0,INDIVIDUAL,0.0,False,0.0,True,0.0,True,0.0,True
2,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,False,Not Verified,Dec-2011,n,https://www.lendingclub.com/browse/loanDetail....,small_business,real estate business,606xx,IL,8.72,0.0,False,Nov-2001,2.0,False,0.0,True,0.0,True,2.0,False,0.0,False,2956.0,98.5,False,10.0,False,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-2014,649.91,NaN,Jan-2016,0.0,False,0.0,True,1.0,INDIVIDUAL,0.0,False,0.0,True,0.0,True,0.0,True
3,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,False,Source Verified,Dec-2011,n,https://www.lendingclub.com/browse/loanDetail....,other,personel,917xx,CA,20.00,0.0,False,Feb-1996,1.0,False,35.0,False,0.0,True,10.0,False,0.0,False,5598.0,21.0,False,37.0,False,f,0.0,0.0,12226.302212,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-2015,357.48,NaN,Jan-2015,0.0,False,0.0,True,1.0,INDIVIDUAL,0.0,False,0.0,True,0.0,True,0.0,True
4,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,False,Source Verified,Dec-2011,n,https://www.lendingclub.com/browse/loanDetail....,other,Personal,972xx,OR,17.94,0.0,False,Jan-1996,0.0,False,38.0,False,0.0,True,15.0,False,0.0,False,27783.0,53.9,False,38.0,False,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-2016,67.79,Feb-2016,Jan-2016,0.0,False,0.0,True,1.0,INDIVIDUAL,0.0,False,0.0,True,0.0,True,0.0,True

In [29]:
new_data[num_cols].isna().sum()

loan_amnt                      0
funded_amnt                    0
funded_amnt_inv                0
int_rate                       0
installment                    0
annual_inc                     0
dti                            0
delinq_2yrs                    0
inq_last_6mths                 0
mths_since_last_delinq         0
mths_since_last_record         0
open_acc                       0
pub_rec                        0
revol_bal                      0
revol_util                     0
total_acc                      0
out_prncp                      0
out_prncp_inv                  0
total_pymnt                    0
total_pymnt_inv                0
total_rec_prncp                0
total_rec_int                  0
total_rec_late_fee             0
recoveries                     0
collection_recovery_fee        0
last_pymnt_amnt                0
collections_12_mths_ex_med     0
mths_since_last_major_derog    0
policy_code                    0
acc_now_delinq                 0
tot_coll_amt                   0
tot_cur_bal                    0
total_rev_hi_lim               0
dtype: int64

We have imputed missing values for all numeric columns and added corresponding missing indicator columns.

In [30]:
new_data[cat_cols].head()

         term grade sub_grade                 emp_title emp_length home_ownership verification_status   issue_d pymnt_plan                                                url         purpose                 title zip_code addr_state earliest_cr_line initial_list_status last_pymnt_d next_pymnt_d last_credit_pull_d application_type
0   36 months     B        B2                       NaN  10+ years           RENT            Verified  Dec-2011          n  https://www.lendingclub.com/browse/loanDetail....     credit_card              Computer    860xx         AZ         Jan-1985                   f     Jan-2015          NaN           Jan-2016       INDIVIDUAL
1   60 months     C        C4                     Ryder   < 1 year           RENT     Source Verified  Dec-2011          n  https://www.lendingclub.com/browse/loanDetail....             car                  bike    309xx         GA         Apr-1999                   f     Apr-2013          NaN           Sep-2013       INDIVIDUAL
2   36 months     C        C5                       NaN  10+ years           RENT        Not Verified  Dec-2011          n  https://www.lendingclub.com/browse/loanDetail....  small_business  real estate business    606xx         IL         Nov-2001                   f     Jun-2014          NaN           Jan-2016       INDIVIDUAL
3   36 months     C        C1       AIR RESOURCES BOARD  10+ years           RENT     Source Verified  Dec-2011          n  https://www.lendingclub.com/browse/loanDetail....           other              personel    917xx         CA         Feb-1996                   f     Jan-2015          NaN           Jan-2015       INDIVIDUAL
4   60 months     B        B5  University Medical Group     1 year           RENT     Source Verified  Dec-2011          n  https://www.lendingclub.com/browse/loanDetail....           other              Personal    972xx         OR         Jan-1996                   f     Jan-2016     Feb-2016           Jan-2016       INDIVIDUAL

In [31]:
new_data[cat_cols].dtypes

term                   object
grade                  object
sub_grade              object
emp_title              object
emp_length             object
home_ownership         object
verification_status    object
issue_d                object
pymnt_plan             object
url                    object
purpose                object
title                  object
zip_code               object
addr_state             object
earliest_cr_line       object
initial_list_status    object
last_pymnt_d           object
next_pymnt_d           object
last_credit_pull_d     object
application_type       object
dtype: object

In [32]:
try:
    for i in cat_cols:
        print(np.unique(new_data[i]))
except TypeError: 
    print(TypeError)

[' 36 months' ' 60 months']
['A' 'B' 'C' 'D' 'E' 'F' 'G']
['A1' 'A2' 'A3' 'A4' 'A5' 'B1' 'B2' 'B3' 'B4' 'B5' 'C1' 'C2' 'C3' 'C4'
 'C5' 'D1' 'D2' 'D3' 'D4' 'D5' 'E1' 'E2' 'E3' 'E4' 'E5' 'F1' 'F2' 'F3'
 'F4' 'F5' 'G1' 'G2' 'G3' 'G4' 'G5']
<class 'TypeError'>

_Object_ datatype does not gurantee that the data included is of _str_ type. Object generally refers to mixed data type. We can verify this below:

In [33]:
for i in cat_cols:
    print(type(new_data[i].loc[0]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>

Above code gave us error for the 3rd feature in the cat_cols list. The 3rd feature's first value is of type _float_. We can typecast all categorical values as _str_.

In [34]:
new_data[cat_cols] = new_data[cat_cols].astype(str)

In [35]:
new_data[cat_cols].dtypes

term                   object
grade                  object
sub_grade              object
emp_title              object
emp_length             object
home_ownership         object
verification_status    object
issue_d                object
pymnt_plan             object
url                    object
purpose                object
title                  object
zip_code               object
addr_state             object
earliest_cr_line       object
initial_list_status    object
last_pymnt_d           object
next_pymnt_d           object
last_credit_pull_d     object
application_type       object
dtype: object

Since _Object_ datatype does not gurantee string, we have to use the type() function to verify.

In [36]:
for i in cat_cols:
    print(type(new_data[i].loc[0]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

All the categorical features have been converted into _str_ now. We can proceed further.

In [37]:
for i in cat_cols:
    print(f'Feature: {i}\nUnique values: {new_data[i].nunique()}\n{np.unique(new_data[i])}\n')

Feature: term
Unique values: 2
[' 36 months' ' 60 months']

Feature: grade
Unique values: 7
['A' 'B' 'C' 'D' 'E' 'F' 'G']

Feature: sub_grade
Unique values: 35
['A1' 'A2' 'A3' 'A4' 'A5' 'B1' 'B2' 'B3' 'B4' 'B5' 'C1' 'C2' 'C3' 'C4'
 'C5' 'D1' 'D2' 'D3' 'D4' 'D5' 'E1' 'E2' 'E3' 'E4' 'E5' 'F1' 'F2' 'F3'
 'F4' 'F5' 'G1' 'G2' 'G3' 'G4' 'G5']

Feature: emp_title
Unique values: 299272
[' \tAdv Mtr Proj Fld Rep' '       NSA Industries llc'
 '    MOTHER  THERESA  HOME' ... 'zulily' '√Ö\x9ar.  Technical Illustrator'
 '\u200bLicense Compliance Investigator']

Feature: emp_length
Unique values: 12
['1 year' '10+ years' '2 years' '3 years' '4 years' '5 years' '6 years'
 '7 years' '8 years' '9 years' '< 1 year' 'nan']

Feature: home_ownership
Unique values: 6
['ANY' 'MORTGAGE' 'NONE' 'OTHER' 'OWN' 'RENT']

Feature: verification_status
Unique values: 3
['Not Verified' 'Source Verified' 'Verified']

Feature: issue_d
Unique values: 103
['Apr-2008' 'Apr-2009' 'Apr-2010' 'Apr-2011' 'Apr-2012' 'Apr-2013'
 'Apr-2014' 'Apr-2015' 'Aug-2007' 'Aug-2008' 'Aug-2009' 'Aug-2010'
 'Aug-2011' 'Aug-2012' 'Aug-2013' 'Aug-2014' 'Aug-2015' 'Dec-2007'
 'Dec-2008' 'Dec-2009' 'Dec-2010' 'Dec-2011' 'Dec-2012' 'Dec-2013'
 'Dec-2014' 'Dec-2015' 'Feb-2008' 'Feb-2009' 'Feb-2010' 'Feb-2011'
 'Feb-2012' 'Feb-2013' 'Feb-2014' 'Feb-2015' 'Jan-2008' 'Jan-2009'
 'Jan-2010' 'Jan-2011' 'Jan-2012' 'Jan-2013' 'Jan-2014' 'Jan-2015'
 'Jul-2007' 'Jul-2008' 'Jul-2009' 'Jul-2010' 'Jul-2011' 'Jul-2012'
 'Jul-2013' 'Jul-2014' 'Jul-2015' 'Jun-2007' 'Jun-2008' 'Jun-2009'
 'Jun-2010' 'Jun-2011' 'Jun-2012' 'Jun-2013' 'Jun-2014' 'Jun-2015'
 'Mar-2008' 'Mar-2009' 'Mar-2010' 'Mar-2011' 'Mar-2012' 'Mar-2013'
 'Mar-2014' 'Mar-2015' 'May-2008' 'May-2009' 'May-2010' 'May-2011'
 'May-2012' 'May-2013' 'May-2014' 'May-2015' 'Nov-2007' 'Nov-2008'
 'Nov-2009' 'Nov-2010' 'Nov-2011' 'Nov-2012' 'Nov-2013' 'Nov-2014'
 'Nov-2015' 'Oct-2007' 'Oct-2008' 'Oct-2009' 'Oct-2010' 'Oct-2011'
 'Oct-2012' 'Oct-2013' 'Oct-2014' 'Oct-2015' 'Sep-2007' 'Sep-2008'
 'Sep-2009' 'Sep-2010' 'Sep-2011' 'Sep-2012' 'Sep-2013' 'Sep-2014'
 'Sep-2015']

Feature: pymnt_plan
Unique values: 2
['n' 'y']

Feature: url
Unique values: 887379
['https://www.lendingclub.com/browse/loanDetail.action?loan_id=1000007'
 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=1000030'
 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=1000033'
 ... 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=999981'
 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=999983'
 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=999989']

Feature: purpose
Unique values: 14
['car' 'credit_card' 'debt_consolidation' 'educational' 'home_improvement'
 'house' 'major_purchase' 'medical' 'moving' 'other' 'renewable_energy'
 'small_business' 'vacation' 'wedding']

Feature: title
Unique values: 63144
['\tcredit_card' '\tdebt_consolidation' '\thouse' ...
 '~Life Reorganization~' '~Summer Fun~'
 '√Æ\x81\x97√Æ\x81\x97MY FIRST CAR √Æ\x81\x97√Æ\x81\x97']

Feature: zip_code
Unique values: 935
['007xx' '008xx' '010xx' '011xx' '012xx' '013xx' '014xx' '015xx' '016xx'
 '017xx' '018xx' '019xx' '020xx' '021xx' '022xx' '023xx' '024xx' '025xx'
 '026xx' '027xx' '028xx' '029xx' '030xx' '031xx' '032xx' '033xx' '034xx'
 '035xx' '036xx' '037xx' '038xx' '039xx' '040xx' '041xx' '042xx' '043xx'
 '044xx' '045xx' '046xx' '047xx' '048xx' '049xx' '050xx' '051xx' '052xx'
 '053xx' '054xx' '056xx' '057xx' '058xx' '059xx' '060xx' '061xx' '062xx'
 '063xx' '064xx' '065xx' '066xx' '067xx' '068xx' '069xx' '070xx' '071xx'
 '072xx' '073xx' '074xx' '075xx' '076xx' '077xx' '078xx' '079xx' '080xx'
 '081xx' '082xx' '083xx' '084xx' '085xx' '086xx' '087xx' '088xx' '089xx'
 '090xx' '091xx' '092xx' '093xx' '094xx' '096xx' '097xx' '098xx' '100xx'
 '101xx' '102xx' '103xx' '104xx' '105xx' '106xx' '107xx' '108xx' '109xx'
 '110xx' '111xx' '112xx' '113xx' '114xx' '115xx' '116xx' '117xx' '118xx'
 '119xx' '120xx' '121xx' '122xx' '123xx' '124xx' '125xx' '126xx' '127xx'
 '128xx' '129xx' '130xx' '131xx' '132xx' '133xx' '134xx' '135xx' '136xx'
 '137xx' '138xx' '139xx' '140xx' '141xx' '142xx' '143xx' '144xx' '145xx'
 '146xx' '147xx' '148xx' '149xx' '150xx' '151xx' '152xx' '153xx' '154xx'
 '155xx' '156xx' '157xx' '158xx' '159xx' '160xx' '161xx' '162xx' '163xx'
 '164xx' '165xx' '166xx' '167xx' '168xx' '169xx' '170xx' '171xx' '172xx'
 '173xx' '174xx' '175xx' '176xx' '177xx' '178xx' '179xx' '180xx' '181xx'
 '182xx' '183xx' '184xx' '185xx' '186xx' '187xx' '188xx' '189xx' '190xx'
 '191xx' '193xx' '194xx' '195xx' '196xx' '197xx' '198xx' '199xx' '200xx'
 '201xx' '203xx' '204xx' '205xx' '206xx' '207xx' '208xx' '209xx' '210xx'
 '211xx' '212xx' '214xx' '215xx' '216xx' '217xx' '218xx' '219xx' '220xx'
 '221xx' '222xx' '223xx' '224xx' '225xx' '226xx' '227xx' '228xx' '229xx'
 '230xx' '231xx' '232xx' '233xx' '234xx' '235xx' '236xx' '237xx' '238xx'
 '239xx' '240xx' '241xx' '242xx' '243xx' '244xx' '245xx' '246xx' '247xx'
 '248xx' '249xx' '250xx' '251xx' '252xx' '253xx' '254xx' '255xx' '256xx'
 '257xx' '258xx' '259xx' '260xx' '261xx' '262xx' '263xx' '264xx' '265xx'
 '266xx' '267xx' '268xx' '269xx' '270xx' '271xx' '272xx' '273xx' '274xx'
 '275xx' '276xx' '277xx' '278xx' '279xx' '280xx' '281xx' '282xx' '283xx'
 '284xx' '285xx' '286xx' '287xx' '288xx' '289xx' '290xx' '291xx' '292xx'
 '293xx' '294xx' '295xx' '296xx' '297xx' '298xx' '299xx' '300xx' '301xx'
 '302xx' '303xx' '304xx' '305xx' '306xx' '307xx' '308xx' '309xx' '310xx'
 '311xx' '312xx' '313xx' '314xx' '315xx' '316xx' '317xx' '318xx' '319xx'
 '320xx' '321xx' '322xx' '323xx' '324xx' '325xx' '326xx' '327xx' '328xx'
 '329xx' '330xx' '331xx' '332xx' '333xx' '334xx' '335xx' '336xx' '337xx'
 '338xx' '339xx' '340xx' '341xx' '342xx' '343xx' '344xx' '346xx' '347xx'
 '348xx' '349xx' '350xx' '351xx' '352xx' '353xx' '354xx' '355xx' '356xx'
 '357xx' '358xx' '359xx' '360xx' '361xx' '362xx' '363xx' '364xx' '365xx'
 '366xx' '367xx' '368xx' '369xx' '370xx' '371xx' '372xx' '373xx' '374xx'
 '375xx' '376xx' '377xx' '378xx' '379xx' '380xx' '381xx' '382xx' '383xx'
 '384xx' '385xx' '386xx' '387xx' '388xx' '389xx' '390xx' '391xx' '392xx'
 '393xx' '394xx' '395xx' '396xx' '397xx' '398xx' '399xx' '400xx' '401xx'
 '402xx' '403xx' '404xx' '405xx' '406xx' '407xx' '408xx' '409xx' '410xx'
 '411xx' '412xx' '413xx' '414xx' '415xx' '416xx' '417xx' '418xx' '420xx'
 '421xx' '422xx' '423xx' '424xx' '425xx' '426xx' '427xx' '429xx' '430xx'
 '431xx' '432xx' '433xx' '434xx' '435xx' '436xx' '437xx' '438xx' '439xx'
 '440xx' '441xx' '442xx' '443xx' '444xx' '445xx' '446xx' '447xx' '448xx'
 '449xx' '450xx' '451xx' '452xx' '453xx' '454xx' '455xx' '456xx' '457xx'
 '458xx' '460xx' '461xx' '462xx' '463xx' '464xx' '465xx' '466xx' '467xx'
 '468xx' '469xx' '470xx' '471xx' '472xx' '473xx' '474xx' '475xx' '476xx'
 '477xx' '478xx' '479xx' '480xx' '481xx' '482xx' '483xx' '484xx' '485xx'
 '486xx' '487xx' '488xx' '489xx' '490xx' '491xx' '492xx' '493xx' '494xx'
 '495xx' '496xx' '497xx' '498xx' '499xx' '500xx' '501xx' '502xx' '503xx'
 '504xx' '506xx' '507xx' '509xx' '510xx' '511xx' '513xx' '514xx' '516xx'
 '520xx' '522xx' '523xx' '524xx' '527xx' '528xx' '530xx' '531xx' '532xx'
 '534xx' '535xx' '537xx' '538xx' '539xx' '540xx' '541xx' '542xx' '543xx'
 '544xx' '545xx' '546xx' '547xx' '548xx' '549xx' '550xx' '551xx' '553xx'
 '554xx' '555xx' '556xx' '557xx' '558xx' '559xx' '560xx' '561xx' '562xx'
 '563xx' '564xx' '565xx' '566xx' '567xx' '568xx' '569xx' '570xx' '571xx'
 '572xx' '573xx' '574xx' '575xx' '576xx' '577xx' '580xx' '581xx' '582xx'
 '583xx' '584xx' '585xx' '586xx' '587xx' '588xx' '590xx' '591xx' '592xx'
 '593xx' '594xx' '595xx' '596xx' '597xx' '598xx' '599xx' '600xx' '601xx'
 '602xx' '603xx' '604xx' '605xx' '606xx' '607xx' '608xx' '609xx' '610xx'
 '611xx' '612xx' '613xx' '614xx' '615xx' '616xx' '617xx' '618xx' '619xx'
 '620xx' '621xx' '622xx' '623xx' '624xx' '625xx' '626xx' '627xx' '628xx'
 '629xx' '630xx' '631xx' '633xx' '634xx' '635xx' '636xx' '637xx' '638xx'
 '639xx' '640xx' '641xx' '643xx' '644xx' '645xx' '646xx' '647xx' '648xx'
 '649xx' '650xx' '651xx' '652xx' '653xx' '654xx' '655xx' '656xx' '657xx'
 '658xx' '660xx' '661xx' '662xx' '663xx' '664xx' '665xx' '666xx' '667xx'
 '668xx' '669xx' '670xx' '671xx' '672xx' '673xx' '674xx' '675xx' '676xx'
 '677xx' '678xx' '679xx' '680xx' '681xx' '682xx' '683xx' '684xx' '685xx'
 '686xx' '687xx' '688xx' '689xx' '690xx' '691xx' '692xx' '693xx' '694xx'
 '700xx' '701xx' '702xx' '703xx' '704xx' '705xx' '706xx' '707xx' '708xx'
 '709xx' '710xx' '711xx' '712xx' '713xx' '714xx' '716xx' '717xx' '718xx'
 '719xx' '720xx' '721xx' '722xx' '723xx' '724xx' '725xx' '726xx' '727xx'
 '728xx' '729xx' '730xx' '731xx' '734xx' '735xx' '736xx' '737xx' '738xx'
 '739xx' '740xx' '741xx' '742xx' '743xx' '744xx' '745xx' '746xx' '747xx'
 '748xx' '749xx' '750xx' '751xx' '752xx' '753xx' '754xx' '755xx' '756xx'
 '757xx' '758xx' '759xx' '760xx' '761xx' '762xx' '763xx' '764xx' '765xx'
 '766xx' '767xx' '768xx' '769xx' '770xx' '771xx' '772xx' '773xx' '774xx'
 '775xx' '776xx' '777xx' '778xx' '779xx' '780xx' '781xx' '782xx' '783xx'
 '784xx' '785xx' '786xx' '787xx' '788xx' '789xx' '790xx' '791xx' '792xx'
 '793xx' '794xx' '795xx' '796xx' '797xx' '798xx' '799xx' '800xx' '801xx'
 '802xx' '803xx' '804xx' '805xx' '806xx' '807xx' '808xx' '809xx' '810xx'
 '811xx' '812xx' '813xx' '814xx' '815xx' '816xx' '817xx' '819xx' '820xx'
 '821xx' '822xx' '823xx' '824xx' '825xx' '826xx' '827xx' '828xx' '829xx'
 '830xx' '831xx' '832xx' '833xx' '834xx' '835xx' '836xx' '837xx' '838xx'
 '840xx' '841xx' '843xx' '844xx' '845xx' '846xx' '847xx' '849xx' '850xx'
 '851xx' '852xx' '853xx' '854xx' '855xx' '856xx' '857xx' '859xx' '860xx'
 '861xx' '862xx' '863xx' '864xx' '865xx' '870xx' '871xx' '873xx' '874xx'
 '875xx' '877xx' '878xx' '879xx' '880xx' '881xx' '882xx' '883xx' '884xx'
 '888xx' '889xx' '890xx' '891xx' '892xx' '893xx' '894xx' '895xx' '897xx'
 '898xx' '900xx' '901xx' '902xx' '903xx' '904xx' '905xx' '906xx' '907xx'
 '908xx' '909xx' '910xx' '911xx' '912xx' '913xx' '914xx' '915xx' '916xx'
 '917xx' '918xx' '919xx' '920xx' '921xx' '922xx' '923xx' '924xx' '925xx'
 '926xx' '927xx' '928xx' '929xx' '930xx' '931xx' '932xx' '933xx' '934xx'
 '935xx' '936xx' '937xx' '938xx' '939xx' '940xx' '941xx' '942xx' '943xx'
 '944xx' '945xx' '946xx' '947xx' '948xx' '949xx' '950xx' '951xx' '952xx'
 '953xx' '954xx' '955xx' '956xx' '957xx' '958xx' '959xx' '960xx' '961xx'
 '962xx' '963xx' '965xx' '967xx' '968xx' '969xx' '970xx' '971xx' '972xx'
 '973xx' '974xx' '975xx' '976xx' '977xx' '978xx' '979xx' '980xx' '981xx'
 '982xx' '983xx' '984xx' '985xx' '986xx' '988xx' '989xx' '990xx' '991xx'
 '992xx' '993xx' '994xx' '995xx' '996xx' '997xx' '998xx' '999xx']

Feature: addr_state
Unique values: 51
['AK' 'AL' 'AR' 'AZ' 'CA' 'CO' 'CT' 'DC' 'DE' 'FL' 'GA' 'HI' 'IA' 'ID'
 'IL' 'IN' 'KS' 'KY' 'LA' 'MA' 'MD' 'ME' 'MI' 'MN' 'MO' 'MS' 'MT' 'NC'
 'ND' 'NE' 'NH' 'NJ' 'NM' 'NV' 'NY' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'SD'
 'TN' 'TX' 'UT' 'VA' 'VT' 'WA' 'WI' 'WV' 'WY']

Feature: earliest_cr_line
Unique values: 698
['Apr-1955' 'Apr-1958' 'Apr-1960' 'Apr-1961' 'Apr-1962' 'Apr-1963'
 'Apr-1964' 'Apr-1965' 'Apr-1966' 'Apr-1967' 'Apr-1968' 'Apr-1969'
 'Apr-1970' 'Apr-1971' 'Apr-1972' 'Apr-1973' 'Apr-1974' 'Apr-1975'
 'Apr-1976' 'Apr-1977' 'Apr-1978' 'Apr-1979' 'Apr-1980' 'Apr-1981'
 'Apr-1982' 'Apr-1983' 'Apr-1984' 'Apr-1985' 'Apr-1986' 'Apr-1987'
 'Apr-1988' 'Apr-1989' 'Apr-1990' 'Apr-1991' 'Apr-1992' 'Apr-1993'
 'Apr-1994' 'Apr-1995' 'Apr-1996' 'Apr-1997' 'Apr-1998' 'Apr-1999'
 'Apr-2000' 'Apr-2001' 'Apr-2002' 'Apr-2003' 'Apr-2004' 'Apr-2005'
 'Apr-2006' 'Apr-2007' 'Apr-2008' 'Apr-2009' 'Apr-2010' 'Apr-2011'
 'Apr-2012' 'Aug-1946' 'Aug-1950' 'Aug-1951' 'Aug-1955' 'Aug-1958'
 'Aug-1959' 'Aug-1960' 'Aug-1961' 'Aug-1962' 'Aug-1963' 'Aug-1964'
 'Aug-1965' 'Aug-1966' 'Aug-1967' 'Aug-1968' 'Aug-1969' 'Aug-1970'
 'Aug-1971' 'Aug-1972' 'Aug-1973' 'Aug-1974' 'Aug-1975' 'Aug-1976'
 'Aug-1977' 'Aug-1978' 'Aug-1979' 'Aug-1980' 'Aug-1981' 'Aug-1982'
 'Aug-1983' 'Aug-1984' 'Aug-1985' 'Aug-1986' 'Aug-1987' 'Aug-1988'
 'Aug-1989' 'Aug-1990' 'Aug-1991' 'Aug-1992' 'Aug-1993' 'Aug-1994'
 'Aug-1995' 'Aug-1996' 'Aug-1997' 'Aug-1998' 'Aug-1999' 'Aug-2000'
 'Aug-2001' 'Aug-2002' 'Aug-2003' 'Aug-2004' 'Aug-2005' 'Aug-2006'
 'Aug-2007' 'Aug-2008' 'Aug-2009' 'Aug-2010' 'Aug-2011' 'Aug-2012'
 'Dec-1950' 'Dec-1951' 'Dec-1956' 'Dec-1958' 'Dec-1959' 'Dec-1960'
 'Dec-1961' 'Dec-1962' 'Dec-1963' 'Dec-1964' 'Dec-1965' 'Dec-1966'
 'Dec-1967' 'Dec-1968' 'Dec-1969' 'Dec-1970' 'Dec-1971' 'Dec-1972'
 'Dec-1973' 'Dec-1974' 'Dec-1975' 'Dec-1976' 'Dec-1977' 'Dec-1978'
 'Dec-1979' 'Dec-1980' 'Dec-1981' 'Dec-1982' 'Dec-1983' 'Dec-1984'
 'Dec-1985' 'Dec-1986' 'Dec-1987' 'Dec-1988' 'Dec-1989' 'Dec-1990'
 'Dec-1991' 'Dec-1992' 'Dec-1993' 'Dec-1994' 'Dec-1995' 'Dec-1996'
 'Dec-1997' 'Dec-1998' 'Dec-1999' 'Dec-2000' 'Dec-2001' 'Dec-2002'
 'Dec-2003' 'Dec-2004' 'Dec-2005' 'Dec-2006' 'Dec-2007' 'Dec-2008'
 'Dec-2009' 'Dec-2010' 'Dec-2011' 'Feb-1957' 'Feb-1959' 'Feb-1960'
 'Feb-1961' 'Feb-1963' 'Feb-1964' 'Feb-1965' 'Feb-1966' 'Feb-1967'
 'Feb-1968' 'Feb-1969' 'Feb-1970' 'Feb-1971' 'Feb-1972' 'Feb-1973'
 'Feb-1974' 'Feb-1975' 'Feb-1976' 'Feb-1977' 'Feb-1978' 'Feb-1979'
 'Feb-1980' 'Feb-1981' 'Feb-1982' 'Feb-1983' 'Feb-1984' 'Feb-1985'
 'Feb-1986' 'Feb-1987' 'Feb-1988' 'Feb-1989' 'Feb-1990' 'Feb-1991'
 'Feb-1992' 'Feb-1993' 'Feb-1994' 'Feb-1995' 'Feb-1996' 'Feb-1997'
 'Feb-1998' 'Feb-1999' 'Feb-2000' 'Feb-2001' 'Feb-2002' 'Feb-2003'
 'Feb-2004' 'Feb-2005' 'Feb-2006' 'Feb-2007' 'Feb-2008' 'Feb-2009'
 'Feb-2010' 'Feb-2011' 'Feb-2012' 'Jan-1944' 'Jan-1946' 'Jan-1948'
 'Jan-1950' 'Jan-1951' 'Jan-1952' 'Jan-1953' 'Jan-1954' 'Jan-1955'
 'Jan-1956' 'Jan-1957' 'Jan-1958' 'Jan-1959' 'Jan-1960' 'Jan-1961'
 'Jan-1962' 'Jan-1963' 'Jan-1964' 'Jan-1965' 'Jan-1966' 'Jan-1967'
 'Jan-1968' 'Jan-1969' 'Jan-1970' 'Jan-1971' 'Jan-1972' 'Jan-1973'
 'Jan-1974' 'Jan-1975' 'Jan-1976' 'Jan-1977' 'Jan-1978' 'Jan-1979'
 'Jan-1980' 'Jan-1981' 'Jan-1982' 'Jan-1983' 'Jan-1984' 'Jan-1985'
 'Jan-1986' 'Jan-1987' 'Jan-1988' 'Jan-1989' 'Jan-1990' 'Jan-1991'
 'Jan-1992' 'Jan-1993' 'Jan-1994' 'Jan-1995' 'Jan-1996' 'Jan-1997'
 'Jan-1998' 'Jan-1999' 'Jan-2000' 'Jan-2001' 'Jan-2002' 'Jan-2003'
 'Jan-2004' 'Jan-2005' 'Jan-2006' 'Jan-2007' 'Jan-2008' 'Jan-2009'
 'Jan-2010' 'Jan-2011' 'Jan-2012' 'Jul-1951' 'Jul-1955' 'Jul-1958'
 'Jul-1959' 'Jul-1960' 'Jul-1961' 'Jul-1962' 'Jul-1963' 'Jul-1964'
 'Jul-1965' 'Jul-1966' 'Jul-1967' 'Jul-1968' 'Jul-1969' 'Jul-1970'
 'Jul-1971' 'Jul-1972' 'Jul-1973' 'Jul-1974' 'Jul-1975' 'Jul-1976'
 'Jul-1977' 'Jul-1978' 'Jul-1979' 'Jul-1980' 'Jul-1981' 'Jul-1982'
 'Jul-1983' 'Jul-1984' 'Jul-1985' 'Jul-1986' 'Jul-1987' 'Jul-1988'
 'Jul-1989' 'Jul-1990' 'Jul-1991' 'Jul-1992' 'Jul-1993' 'Jul-1994'
 'Jul-1995' 'Jul-1996' 'Jul-1997' 'Jul-1998' 'Jul-1999' 'Jul-2000'
 'Jul-2001' 'Jul-2002' 'Jul-2003' 'Jul-2004' 'Jul-2005' 'Jul-2006'
 'Jul-2007' 'Jul-2008' 'Jul-2009' 'Jul-2010' 'Jul-2011' 'Jul-2012'
 'Jun-1949' 'Jun-1955' 'Jun-1957' 'Jun-1958' 'Jun-1959' 'Jun-1960'
 'Jun-1961' 'Jun-1962' 'Jun-1963' 'Jun-1964' 'Jun-1965' 'Jun-1966'
 'Jun-1967' 'Jun-1968' 'Jun-1969' 'Jun-1970' 'Jun-1971' 'Jun-1972'
 'Jun-1973' 'Jun-1974' 'Jun-1975' 'Jun-1976' 'Jun-1977' 'Jun-1978'
 'Jun-1979' 'Jun-1980' 'Jun-1981' 'Jun-1982' 'Jun-1983' 'Jun-1984'
 'Jun-1985' 'Jun-1986' 'Jun-1987' 'Jun-1988' 'Jun-1989' 'Jun-1990'
 'Jun-1991' 'Jun-1992' 'Jun-1993' 'Jun-1994' 'Jun-1995' 'Jun-1996'
 'Jun-1997' 'Jun-1998' 'Jun-1999' 'Jun-2000' 'Jun-2001' 'Jun-2002'
 'Jun-2003' 'Jun-2004' 'Jun-2005' 'Jun-2006' 'Jun-2007' 'Jun-2008'
 'Jun-2009' 'Jun-2010' 'Jun-2011' 'Jun-2012' 'Mar-1955' 'Mar-1958'
 'Mar-1959' 'Mar-1960' 'Mar-1961' 'Mar-1962' 'Mar-1963' 'Mar-1964'
 'Mar-1965' 'Mar-1966' 'Mar-1967' 'Mar-1968' 'Mar-1969' 'Mar-1970'
 'Mar-1971' 'Mar-1972' 'Mar-1973' 'Mar-1974' 'Mar-1975' 'Mar-1976'
 'Mar-1977' 'Mar-1978' 'Mar-1979' 'Mar-1980' 'Mar-1981' 'Mar-1982'
 'Mar-1983' 'Mar-1984' 'Mar-1985' 'Mar-1986' 'Mar-1987' 'Mar-1988'
 'Mar-1989' 'Mar-1990' 'Mar-1991' 'Mar-1992' 'Mar-1993' 'Mar-1994'
 'Mar-1995' 'Mar-1996' 'Mar-1997' 'Mar-1998' 'Mar-1999' 'Mar-2000'
 'Mar-2001' 'Mar-2002' 'Mar-2003' 'Mar-2004' 'Mar-2005' 'Mar-2006'
 'Mar-2007' 'Mar-2008' 'Mar-2009' 'Mar-2010' 'Mar-2011' 'Mar-2012'
 'May-1950' 'May-1953' 'May-1955' 'May-1957' 'May-1958' 'May-1959'
 'May-1960' 'May-1961' 'May-1962' 'May-1963' 'May-1964' 'May-1965'
 'May-1966' 'May-1967' 'May-1968' 'May-1969' 'May-1970' 'May-1971'
 'May-1972' 'May-1973' 'May-1974' 'May-1975' 'May-1976' 'May-1977'
 'May-1978' 'May-1979' 'May-1980' 'May-1981' 'May-1982' 'May-1983'
 'May-1984' 'May-1985' 'May-1986' 'May-1987' 'May-1988' 'May-1989'
 'May-1990' 'May-1991' 'May-1992' 'May-1993' 'May-1994' 'May-1995'
 'May-1996' 'May-1997' 'May-1998' 'May-1999' 'May-2000' 'May-2001'
 'May-2002' 'May-2003' 'May-2004' 'May-2005' 'May-2006' 'May-2007'
 'May-2008' 'May-2009' 'May-2010' 'May-2011' 'May-2012' 'Nov-1950'
 'Nov-1953' 'Nov-1954' 'Nov-1955' 'Nov-1956' 'Nov-1957' 'Nov-1958'
 'Nov-1959' 'Nov-1960' 'Nov-1961' 'Nov-1962' 'Nov-1963' 'Nov-1964'
 'Nov-1965' 'Nov-1966' 'Nov-1967' 'Nov-1968' 'Nov-1969' 'Nov-1970'
 'Nov-1971' 'Nov-1972' 'Nov-1973' 'Nov-1974' 'Nov-1975' 'Nov-1976'
 'Nov-1977' 'Nov-1978' 'Nov-1979' 'Nov-1980' 'Nov-1981' 'Nov-1982'
 'Nov-1983' 'Nov-1984' 'Nov-1985' 'Nov-1986' 'Nov-1987' 'Nov-1988'
 'Nov-1989' 'Nov-1990' 'Nov-1991' 'Nov-1992' 'Nov-1993' 'Nov-1994'
 'Nov-1995' 'Nov-1996' 'Nov-1997' 'Nov-1998' 'Nov-1999' 'Nov-2000'
 'Nov-2001' 'Nov-2002' 'Nov-2003' 'Nov-2004' 'Nov-2005' 'Nov-2006'
 'Nov-2007' 'Nov-2008' 'Nov-2009' 'Nov-2010' 'Nov-2011' 'Nov-2012'
 'Oct-1950' 'Oct-1954' 'Oct-1957' 'Oct-1958' 'Oct-1959' 'Oct-1960'
 'Oct-1961' 'Oct-1962' 'Oct-1963' 'Oct-1964' 'Oct-1965' 'Oct-1966'
 'Oct-1967' 'Oct-1968' 'Oct-1969' 'Oct-1970' 'Oct-1971' 'Oct-1972'
 'Oct-1973' 'Oct-1974' 'Oct-1975' 'Oct-1976' 'Oct-1977' 'Oct-1978'
 'Oct-1979' 'Oct-1980' 'Oct-1981' 'Oct-1982' 'Oct-1983' 'Oct-1984'
 'Oct-1985' 'Oct-1986' 'Oct-1987' 'Oct-1988' 'Oct-1989' 'Oct-1990'
 'Oct-1991' 'Oct-1992' 'Oct-1993' 'Oct-1994' 'Oct-1995' 'Oct-1996'
 'Oct-1997' 'Oct-1998' 'Oct-1999' 'Oct-2000' 'Oct-2001' 'Oct-2002'
 'Oct-2003' 'Oct-2004' 'Oct-2005' 'Oct-2006' 'Oct-2007' 'Oct-2008'
 'Oct-2009' 'Oct-2010' 'Oct-2011' 'Oct-2012' 'Sep-1953' 'Sep-1956'
 'Sep-1957' 'Sep-1959' 'Sep-1960' 'Sep-1961' 'Sep-1962' 'Sep-1963'
 'Sep-1964' 'Sep-1965' 'Sep-1966' 'Sep-1967' 'Sep-1968' 'Sep-1969'
 'Sep-1970' 'Sep-1971' 'Sep-1972' 'Sep-1973' 'Sep-1974' 'Sep-1975'
 'Sep-1976' 'Sep-1977' 'Sep-1978' 'Sep-1979' 'Sep-1980' 'Sep-1981'
 'Sep-1982' 'Sep-1983' 'Sep-1984' 'Sep-1985' 'Sep-1986' 'Sep-1987'
 'Sep-1988' 'Sep-1989' 'Sep-1990' 'Sep-1991' 'Sep-1992' 'Sep-1993'
 'Sep-1994' 'Sep-1995' 'Sep-1996' 'Sep-1997' 'Sep-1998' 'Sep-1999'
 'Sep-2000' 'Sep-2001' 'Sep-2002' 'Sep-2003' 'Sep-2004' 'Sep-2005'
 'Sep-2006' 'Sep-2007' 'Sep-2008' 'Sep-2009' 'Sep-2010' 'Sep-2011'
 'Sep-2012' 'nan']

Feature: initial_list_status
Unique values: 2
['f' 'w']

Feature: last_pymnt_d
Unique values: 99
['Apr-2008' 'Apr-2009' 'Apr-2010' 'Apr-2011' 'Apr-2012' 'Apr-2013'
 'Apr-2014' 'Apr-2015' 'Aug-2008' 'Aug-2009' 'Aug-2010' 'Aug-2011'
 'Aug-2012' 'Aug-2013' 'Aug-2014' 'Aug-2015' 'Dec-2007' 'Dec-2008'
 'Dec-2009' 'Dec-2010' 'Dec-2011' 'Dec-2012' 'Dec-2013' 'Dec-2014'
 'Dec-2015' 'Feb-2008' 'Feb-2009' 'Feb-2010' 'Feb-2011' 'Feb-2012'
 'Feb-2013' 'Feb-2014' 'Feb-2015' 'Jan-2008' 'Jan-2009' 'Jan-2010'
 'Jan-2011' 'Jan-2012' 'Jan-2013' 'Jan-2014' 'Jan-2015' 'Jan-2016'
 'Jul-2008' 'Jul-2009' 'Jul-2010' 'Jul-2011' 'Jul-2012' 'Jul-2013'
 'Jul-2014' 'Jul-2015' 'Jun-2008' 'Jun-2009' 'Jun-2010' 'Jun-2011'
 'Jun-2012' 'Jun-2013' 'Jun-2014' 'Jun-2015' 'Mar-2008' 'Mar-2009'
 'Mar-2010' 'Mar-2011' 'Mar-2012' 'Mar-2013' 'Mar-2014' 'Mar-2015'
 'May-2008' 'May-2009' 'May-2010' 'May-2011' 'May-2012' 'May-2013'
 'May-2014' 'May-2015' 'Nov-2008' 'Nov-2009' 'Nov-2010' 'Nov-2011'
 'Nov-2012' 'Nov-2013' 'Nov-2014' 'Nov-2015' 'Oct-2008' 'Oct-2009'
 'Oct-2010' 'Oct-2011' 'Oct-2012' 'Oct-2013' 'Oct-2014' 'Oct-2015'
 'Sep-2008' 'Sep-2009' 'Sep-2010' 'Sep-2011' 'Sep-2012' 'Sep-2013'
 'Sep-2014' 'Sep-2015' 'nan']

Feature: next_pymnt_d

Drop the emp_title, url, and title features because they won't add useful information to the machine learning model.

In [38]:
new_data.drop(columns = ['emp_title', 'url', 'title'], inplace = True)

dropped_list.append('emp_title')
dropped_list.append('url')
dropped_list.append('title')

In [39]:
new_data.shape

(887379, 65)

In [40]:
for i in cat_cols:
    if i not in new_data.columns:
        continue
    else:
        print(f'Feature: {i}\nUnique values: {new_data[i].nunique()}\nNaN values: {new_data[i].isna().sum()}\n{np.unique(new_data[i])}\n')

Feature: term
Unique values: 2
NaN values: 0
[' 36 months' ' 60 months']

Feature: grade
Unique values: 7
NaN values: 0
['A' 'B' 'C' 'D' 'E' 'F' 'G']

Feature: sub_grade
Unique values: 35
NaN values: 0
['A1' 'A2' 'A3' 'A4' 'A5' 'B1' 'B2' 'B3' 'B4' 'B5' 'C1' 'C2' 'C3' 'C4'
 'C5' 'D1' 'D2' 'D3' 'D4' 'D5' 'E1' 'E2' 'E3' 'E4' 'E5' 'F1' 'F2' 'F3'
 'F4' 'F5' 'G1' 'G2' 'G3' 'G4' 'G5']

Feature: emp_length
Unique values: 12
NaN values: 0
['1 year' '10+ years' '2 years' '3 years' '4 years' '5 years' '6 years'
 '7 years' '8 years' '9 years' '< 1 year' 'nan']

Feature: home_ownership
Unique values: 6
NaN values: 0
['ANY' 'MORTGAGE' 'NONE' 'OTHER' 'OWN' 'RENT']

Feature: verification_status
Unique values: 3
NaN values: 0
['Not Verified' 'Source Verified' 'Verified']

Feature: issue_d
Unique values: 103
NaN values: 0
['Apr-2008' 'Apr-2009' 'Apr-2010' 'Apr-2011' 'Apr-2012' 'Apr-2013'
 'Apr-2014' 'Apr-2015' 'Aug-2007' 'Aug-2008' 'Aug-2009' 'Aug-2010'
 'Aug-2011' 'Aug-2012' 'Aug-2013' 'Aug-2014' 'Aug-2015' 'Dec-2007'
 'Dec-2008' 'Dec-2009' 'Dec-2010' 'Dec-2011' 'Dec-2012' 'Dec-2013'
 'Dec-2014' 'Dec-2015' 'Feb-2008' 'Feb-2009' 'Feb-2010' 'Feb-2011'
 'Feb-2012' 'Feb-2013' 'Feb-2014' 'Feb-2015' 'Jan-2008' 'Jan-2009'
 'Jan-2010' 'Jan-2011' 'Jan-2012' 'Jan-2013' 'Jan-2014' 'Jan-2015'
 'Jul-2007' 'Jul-2008' 'Jul-2009' 'Jul-2010' 'Jul-2011' 'Jul-2012'
 'Jul-2013' 'Jul-2014' 'Jul-2015' 'Jun-2007' 'Jun-2008' 'Jun-2009'
 'Jun-2010' 'Jun-2011' 'Jun-2012' 'Jun-2013' 'Jun-2014' 'Jun-2015'
 'Mar-2008' 'Mar-2009' 'Mar-2010' 'Mar-2011' 'Mar-2012' 'Mar-2013'
 'Mar-2014' 'Mar-2015' 'May-2008' 'May-2009' 'May-2010' 'May-2011'
 'May-2012' 'May-2013' 'May-2014' 'May-2015' 'Nov-2007' 'Nov-2008'
 'Nov-2009' 'Nov-2010' 'Nov-2011' 'Nov-2012' 'Nov-2013' 'Nov-2014'
 'Nov-2015' 'Oct-2007' 'Oct-2008' 'Oct-2009' 'Oct-2010' 'Oct-2011'
 'Oct-2012' 'Oct-2013' 'Oct-2014' 'Oct-2015' 'Sep-2007' 'Sep-2008'
 'Sep-2009' 'Sep-2010' 'Sep-2011' 'Sep-2012' 'Sep-2013' 'Sep-2014'
 'Sep-2015']

Feature: pymnt_plan
Unique values: 2
NaN values: 0
['n' 'y']

Feature: purpose
Unique values: 14
NaN values: 0
['car' 'credit_card' 'debt_consolidation' 'educational' 'home_improvement'
 'house' 'major_purchase' 'medical' 'moving' 'other' 'renewable_energy'
 'small_business' 'vacation' 'wedding']

Feature: zip_code
Unique values: 935
NaN values: 0
['007xx' '008xx' '010xx' '011xx' '012xx' '013xx' '014xx' '015xx' '016xx'
 '017xx' '018xx' '019xx' '020xx' '021xx' '022xx' '023xx' '024xx' '025xx'
 '026xx' '027xx' '028xx' '029xx' '030xx' '031xx' '032xx' '033xx' '034xx'
 '035xx' '036xx' '037xx' '038xx' '039xx' '040xx' '041xx' '042xx' '043xx'
 '044xx' '045xx' '046xx' '047xx' '048xx' '049xx' '050xx' '051xx' '052xx'
 '053xx' '054xx' '056xx' '057xx' '058xx' '059xx' '060xx' '061xx' '062xx'
 '063xx' '064xx' '065xx' '066xx' '067xx' '068xx' '069xx' '070xx' '071xx'
 '072xx' '073xx' '074xx' '075xx' '076xx' '077xx' '078xx' '079xx' '080xx'
 '081xx' '082xx' '083xx' '084xx' '085xx' '086xx' '087xx' '088xx' '089xx'
 '090xx' '091xx' '092xx' '093xx' '094xx' '096xx' '097xx' '098xx' '100xx'
 '101xx' '102xx' '103xx' '104xx' '105xx' '106xx' '107xx' '108xx' '109xx'
 '110xx' '111xx' '112xx' '113xx' '114xx' '115xx' '116xx' '117xx' '118xx'
 '119xx' '120xx' '121xx' '122xx' '123xx' '124xx' '125xx' '126xx' '127xx'
 '128xx' '129xx' '130xx' '131xx' '132xx' '133xx' '134xx' '135xx' '136xx'
 '137xx' '138xx' '139xx' '140xx' '141xx' '142xx' '143xx' '144xx' '145xx'
 '146xx' '147xx' '148xx' '149xx' '150xx' '151xx' '152xx' '153xx' '154xx'
 '155xx' '156xx' '157xx' '158xx' '159xx' '160xx' '161xx' '162xx' '163xx'
 '164xx' '165xx' '166xx' '167xx' '168xx' '169xx' '170xx' '171xx' '172xx'
 '173xx' '174xx' '175xx' '176xx' '177xx' '178xx' '179xx' '180xx' '181xx'
 '182xx' '183xx' '184xx' '185xx' '186xx' '187xx' '188xx' '189xx' '190xx'
 '191xx' '193xx' '194xx' '195xx' '196xx' '197xx' '198xx' '199xx' '200xx'
 '201xx' '203xx' '204xx' '205xx' '206xx' '207xx' '208xx' '209xx' '210xx'
 '211xx' '212xx' '214xx' '215xx' '216xx' '217xx' '218xx' '219xx' '220xx'
 '221xx' '222xx' '223xx' '224xx' '225xx' '226xx' '227xx' '228xx' '229xx'
 '230xx' '231xx' '232xx' '233xx' '234xx' '235xx' '236xx' '237xx' '238xx'
 '239xx' '240xx' '241xx' '242xx' '243xx' '244xx' '245xx' '246xx' '247xx'
 '248xx' '249xx' '250xx' '251xx' '252xx' '253xx' '254xx' '255xx' '256xx'
 '257xx' '258xx' '259xx' '260xx' '261xx' '262xx' '263xx' '264xx' '265xx'
 '266xx' '267xx' '268xx' '269xx' '270xx' '271xx' '272xx' '273xx' '274xx'
 '275xx' '276xx' '277xx' '278xx' '279xx' '280xx' '281xx' '282xx' '283xx'
 '284xx' '285xx' '286xx' '287xx' '288xx' '289xx' '290xx' '291xx' '292xx'
 '293xx' '294xx' '295xx' '296xx' '297xx' '298xx' '299xx' '300xx' '301xx'
 '302xx' '303xx' '304xx' '305xx' '306xx' '307xx' '308xx' '309xx' '310xx'
 '311xx' '312xx' '313xx' '314xx' '315xx' '316xx' '317xx' '318xx' '319xx'
 '320xx' '321xx' '322xx' '323xx' '324xx' '325xx' '326xx' '327xx' '328xx'
 '329xx' '330xx' '331xx' '332xx' '333xx' '334xx' '335xx' '336xx' '337xx'
 '338xx' '339xx' '340xx' '341xx' '342xx' '343xx' '344xx' '346xx' '347xx'
 '348xx' '349xx' '350xx' '351xx' '352xx' '353xx' '354xx' '355xx' '356xx'
 '357xx' '358xx' '359xx' '360xx' '361xx' '362xx' '363xx' '364xx' '365xx'
 '366xx' '367xx' '368xx' '369xx' '370xx' '371xx' '372xx' '373xx' '374xx'
 '375xx' '376xx' '377xx' '378xx' '379xx' '380xx' '381xx' '382xx' '383xx'
 '384xx' '385xx' '386xx' '387xx' '388xx' '389xx' '390xx' '391xx' '392xx'
 '393xx' '394xx' '395xx' '396xx' '397xx' '398xx' '399xx' '400xx' '401xx'
 '402xx' '403xx' '404xx' '405xx' '406xx' '407xx' '408xx' '409xx' '410xx'
 '411xx' '412xx' '413xx' '414xx' '415xx' '416xx' '417xx' '418xx' '420xx'
 '421xx' '422xx' '423xx' '424xx' '425xx' '426xx' '427xx' '429xx' '430xx'
 '431xx' '432xx' '433xx' '434xx' '435xx' '436xx' '437xx' '438xx' '439xx'
 '440xx' '441xx' '442xx' '443xx' '444xx' '445xx' '446xx' '447xx' '448xx'
 '449xx' '450xx' '451xx' '452xx' '453xx' '454xx' '455xx' '456xx' '457xx'
 '458xx' '460xx' '461xx' '462xx' '463xx' '464xx' '465xx' '466xx' '467xx'
 '468xx' '469xx' '470xx' '471xx' '472xx' '473xx' '474xx' '475xx' '476xx'
 '477xx' '478xx' '479xx' '480xx' '481xx' '482xx' '483xx' '484xx' '485xx'
 '486xx' '487xx' '488xx' '489xx' '490xx' '491xx' '492xx' '493xx' '494xx'
 '495xx' '496xx' '497xx' '498xx' '499xx' '500xx' '501xx' '502xx' '503xx'
 '504xx' '506xx' '507xx' '509xx' '510xx' '511xx' '513xx' '514xx' '516xx'
 '520xx' '522xx' '523xx' '524xx' '527xx' '528xx' '530xx' '531xx' '532xx'
 '534xx' '535xx' '537xx' '538xx' '539xx' '540xx' '541xx' '542xx' '543xx'
 '544xx' '545xx' '546xx' '547xx' '548xx' '549xx' '550xx' '551xx' '553xx'
 '554xx' '555xx' '556xx' '557xx' '558xx' '559xx' '560xx' '561xx' '562xx'
 '563xx' '564xx' '565xx' '566xx' '567xx' '568xx' '569xx' '570xx' '571xx'
 '572xx' '573xx' '574xx' '575xx' '576xx' '577xx' '580xx' '581xx' '582xx'
 '583xx' '584xx' '585xx' '586xx' '587xx' '588xx' '590xx' '591xx' '592xx'
 '593xx' '594xx' '595xx' '596xx' '597xx' '598xx' '599xx' '600xx' '601xx'
 '602xx' '603xx' '604xx' '605xx' '606xx' '607xx' '608xx' '609xx' '610xx'
 '611xx' '612xx' '613xx' '614xx' '615xx' '616xx' '617xx' '618xx' '619xx'
 '620xx' '621xx' '622xx' '623xx' '624xx' '625xx' '626xx' '627xx' '628xx'
 '629xx' '630xx' '631xx' '633xx' '634xx' '635xx' '636xx' '637xx' '638xx'
 '639xx' '640xx' '641xx' '643xx' '644xx' '645xx' '646xx' '647xx' '648xx'
 '649xx' '650xx' '651xx' '652xx' '653xx' '654xx' '655xx' '656xx' '657xx'
 '658xx' '660xx' '661xx' '662xx' '663xx' '664xx' '665xx' '666xx' '667xx'
 '668xx' '669xx' '670xx' '671xx' '672xx' '673xx' '674xx' '675xx' '676xx'
 '677xx' '678xx' '679xx' '680xx' '681xx' '682xx' '683xx' '684xx' '685xx'
 '686xx' '687xx' '688xx' '689xx' '690xx' '691xx' '692xx' '693xx' '694xx'
 '700xx' '701xx' '702xx' '703xx' '704xx' '705xx' '706xx' '707xx' '708xx'
 '709xx' '710xx' '711xx' '712xx' '713xx' '714xx' '716xx' '717xx' '718xx'
 '719xx' '720xx' '721xx' '722xx' '723xx' '724xx' '725xx' '726xx' '727xx'
 '728xx' '729xx' '730xx' '731xx' '734xx' '735xx' '736xx' '737xx' '738xx'
 '739xx' '740xx' '741xx' '742xx' '743xx' '744xx' '745xx' '746xx' '747xx'
 '748xx' '749xx' '750xx' '751xx' '752xx' '753xx' '754xx' '755xx' '756xx'
 '757xx' '758xx' '759xx' '760xx' '761xx' '762xx' '763xx' '764xx' '765xx'
 '766xx' '767xx' '768xx' '769xx' '770xx' '771xx' '772xx' '773xx' '774xx'
 '775xx' '776xx' '777xx' '778xx' '779xx' '780xx' '781xx' '782xx' '783xx'
 '784xx' '785xx' '786xx' '787xx' '788xx' '789xx' '790xx' '791xx' '792xx'
 '793xx' '794xx' '795xx' '796xx' '797xx' '798xx' '799xx' '800xx' '801xx'
 '802xx' '803xx' '804xx' '805xx' '806xx' '807xx' '808xx' '809xx' '810xx'
 '811xx' '812xx' '813xx' '814xx' '815xx' '816xx' '817xx' '819xx' '820xx'
 '821xx' '822xx' '823xx' '824xx' '825xx' '826xx' '827xx' '828xx' '829xx'
 '830xx' '831xx' '832xx' '833xx' '834xx' '835xx' '836xx' '837xx' '838xx'
 '840xx' '841xx' '843xx' '844xx' '845xx' '846xx' '847xx' '849xx' '850xx'
 '851xx' '852xx' '853xx' '854xx' '855xx' '856xx' '857xx' '859xx' '860xx'
 '861xx' '862xx' '863xx' '864xx' '865xx' '870xx' '871xx' '873xx' '874xx'
 '875xx' '877xx' '878xx' '879xx' '880xx' '881xx' '882xx' '883xx' '884xx'
 '888xx' '889xx' '890xx' '891xx' '892xx' '893xx' '894xx' '895xx' '897xx'
 '898xx' '900xx' '901xx' '902xx' '903xx' '904xx' '905xx' '906xx' '907xx'
 '908xx' '909xx' '910xx' '911xx' '912xx' '913xx' '914xx' '915xx' '916xx'
 '917xx' '918xx' '919xx' '920xx' '921xx' '922xx' '923xx' '924xx' '925xx'
 '926xx' '927xx' '928xx' '929xx' '930xx' '931xx' '932xx' '933xx' '934xx'
 '935xx' '936xx' '937xx' '938xx' '939xx' '940xx' '941xx' '942xx' '943xx'
 '944xx' '945xx' '946xx' '947xx' '948xx' '949xx' '950xx' '951xx' '952xx'
 '953xx' '954xx' '955xx' '956xx' '957xx' '958xx' '959xx' '960xx' '961xx'
 '962xx' '963xx' '965xx' '967xx' '968xx' '969xx' '970xx' '971xx' '972xx'
 '973xx' '974xx' '975xx' '976xx' '977xx' '978xx' '979xx' '980xx' '981xx'
 '982xx' '983xx' '984xx' '985xx' '986xx' '988xx' '989xx' '990xx' '991xx'
 '992xx' '993xx' '994xx' '995xx' '996xx' '997xx' '998xx' '999xx']

Feature: addr_state
Unique values: 51
NaN values: 0
['AK' 'AL' 'AR' 'AZ' 'CA' 'CO' 'CT' 'DC' 'DE' 'FL' 'GA' 'HI' 'IA' 'ID'
 'IL' 'IN' 'KS' 'KY' 'LA' 'MA' 'MD' 'ME' 'MI' 'MN' 'MO' 'MS' 'MT' 'NC'
 'ND' 'NE' 'NH' 'NJ' 'NM' 'NV' 'NY' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'SD'
 'TN' 'TX' 'UT' 'VA' 'VT' 'WA' 'WI' 'WV' 'WY']

Feature: earliest_cr_line
Unique values: 698
NaN values: 0
['Apr-1955' 'Apr-1958' 'Apr-1960' 'Apr-1961' 'Apr-1962' 'Apr-1963'
 'Apr-1964' 'Apr-1965' 'Apr-1966' 'Apr-1967' 'Apr-1968' 'Apr-1969'
 'Apr-1970' 'Apr-1971' 'Apr-1972' 'Apr-1973' 'Apr-1974' 'Apr-1975'
 'Apr-1976' 'Apr-1977' 'Apr-1978' 'Apr-1979' 'Apr-1980' 'Apr-1981'
 'Apr-1982' 'Apr-1983' 'Apr-1984' 'Apr-1985' 'Apr-1986' 'Apr-1987'
 'Apr-1988' 'Apr-1989' 'Apr-1990' 'Apr-1991' 'Apr-1992' 'Apr-1993'
 'Apr-1994' 'Apr-1995' 'Apr-1996' 'Apr-1997' 'Apr-1998' 'Apr-1999'
 'Apr-2000' 'Apr-2001' 'Apr-2002' 'Apr-2003' 'Apr-2004' 'Apr-2005'
 'Apr-2006' 'Apr-2007' 'Apr-2008' 'Apr-2009' 'Apr-2010' 'Apr-2011'
 'Apr-2012' 'Aug-1946' 'Aug-1950' 'Aug-1951' 'Aug-1955' 'Aug-1958'
 'Aug-1959' 'Aug-1960' 'Aug-1961' 'Aug-1962' 'Aug-1963' 'Aug-1964'
 'Aug-1965' 'Aug-1966' 'Aug-1967' 'Aug-1968' 'Aug-1969' 'Aug-1970'
 'Aug-1971' 'Aug-1972' 'Aug-1973' 'Aug-1974' 'Aug-1975' 'Aug-1976'
 'Aug-1977' 'Aug-1978' 'Aug-1979' 'Aug-1980' 'Aug-1981' 'Aug-1982'
 'Aug-1983' 'Aug-1984' 'Aug-1985' 'Aug-1986' 'Aug-1987' 'Aug-1988'
 'Aug-1989' 'Aug-1990' 'Aug-1991' 'Aug-1992' 'Aug-1993' 'Aug-1994'
 'Aug-1995' 'Aug-1996' 'Aug-1997' 'Aug-1998' 'Aug-1999' 'Aug-2000'
 'Aug-2001' 'Aug-2002' 'Aug-2003' 'Aug-2004' 'Aug-2005' 'Aug-2006'
 'Aug-2007' 'Aug-2008' 'Aug-2009' 'Aug-2010' 'Aug-2011' 'Aug-2012'
 'Dec-1950' 'Dec-1951' 'Dec-1956' 'Dec-1958' 'Dec-1959' 'Dec-1960'
 'Dec-1961' 'Dec-1962' 'Dec-1963' 'Dec-1964' 'Dec-1965' 'Dec-1966'
 'Dec-1967' 'Dec-1968' 'Dec-1969' 'Dec-1970' 'Dec-1971' 'Dec-1972'
 'Dec-1973' 'Dec-1974' 'Dec-1975' 'Dec-1976' 'Dec-1977' 'Dec-1978'
 'Dec-1979' 'Dec-1980' 'Dec-1981' 'Dec-1982' 'Dec-1983' 'Dec-1984'
 'Dec-1985' 'Dec-1986' 'Dec-1987' 'Dec-1988' 'Dec-1989' 'Dec-1990'
 'Dec-1991' 'Dec-1992' 'Dec-1993' 'Dec-1994' 'Dec-1995' 'Dec-1996'
 'Dec-1997' 'Dec-1998' 'Dec-1999' 'Dec-2000' 'Dec-2001' 'Dec-2002'
 'Dec-2003' 'Dec-2004' 'Dec-2005' 'Dec-2006' 'Dec-2007' 'Dec-2008'
 'Dec-2009' 'Dec-2010' 'Dec-2011' 'Feb-1957' 'Feb-1959' 'Feb-1960'
 'Feb-1961' 'Feb-1963' 'Feb-1964' 'Feb-1965' 'Feb-1966' 'Feb-1967'
 'Feb-1968' 'Feb-1969' 'Feb-1970' 'Feb-1971' 'Feb-1972' 'Feb-1973'
 'Feb-1974' 'Feb-1975' 'Feb-1976' 'Feb-1977' 'Feb-1978' 'Feb-1979'
 'Feb-1980' 'Feb-1981' 'Feb-1982' 'Feb-1983' 'Feb-1984' 'Feb-1985'
 'Feb-1986' 'Feb-1987' 'Feb-1988' 'Feb-1989' 'Feb-1990' 'Feb-1991'
 'Feb-1992' 'Feb-1993' 'Feb-1994' 'Feb-1995' 'Feb-1996' 'Feb-1997'
 'Feb-1998' 'Feb-1999' 'Feb-2000' 'Feb-2001' 'Feb-2002' 'Feb-2003'
 'Feb-2004' 'Feb-2005' 'Feb-2006' 'Feb-2007' 'Feb-2008' 'Feb-2009'
 'Feb-2010' 'Feb-2011' 'Feb-2012' 'Jan-1944' 'Jan-1946' 'Jan-1948'
 'Jan-1950' 'Jan-1951' 'Jan-1952' 'Jan-1953' 'Jan-1954' 'Jan-1955'
 'Jan-1956' 'Jan-1957' 'Jan-1958' 'Jan-1959' 'Jan-1960' 'Jan-1961'
 'Jan-1962' 'Jan-1963' 'Jan-1964' 'Jan-1965' 'Jan-1966' 'Jan-1967'
 'Jan-1968' 'Jan-1969' 'Jan-1970' 'Jan-1971' 'Jan-1972' 'Jan-1973'
 'Jan-1974' 'Jan-1975' 'Jan-1976' 'Jan-1977' 'Jan-1978' 'Jan-1979'
 'Jan-1980' 'Jan-1981' 'Jan-1982' 'Jan-1983' 'Jan-1984' 'Jan-1985'
 'Jan-1986' 'Jan-1987' 'Jan-1988' 'Jan-1989' 'Jan-1990' 'Jan-1991'
 'Jan-1992' 'Jan-1993' 'Jan-1994' 'Jan-1995' 'Jan-1996' 'Jan-1997'
 'Jan-1998' 'Jan-1999' 'Jan-2000' 'Jan-2001' 'Jan-2002' 'Jan-2003'
 'Jan-2004' 'Jan-2005' 'Jan-2006' 'Jan-2007' 'Jan-2008' 'Jan-2009'
 'Jan-2010' 'Jan-2011' 'Jan-2012' 'Jul-1951' 'Jul-1955' 'Jul-1958'
 'Jul-1959' 'Jul-1960' 'Jul-1961' 'Jul-1962' 'Jul-1963' 'Jul-1964'
 'Jul-1965' 'Jul-1966' 'Jul-1967' 'Jul-1968' 'Jul-1969' 'Jul-1970'
 'Jul-1971' 'Jul-1972' 'Jul-1973' 'Jul-1974' 'Jul-1975' 'Jul-1976'
 'Jul-1977' 'Jul-1978' 'Jul-1979' 'Jul-1980' 'Jul-1981' 'Jul-1982'
 'Jul-1983' 'Jul-1984' 'Jul-1985' 'Jul-1986' 'Jul-1987' 'Jul-1988'
 'Jul-1989' 'Jul-1990' 'Jul-1991' 'Jul-1992' 'Jul-1993' 'Jul-1994'
 'Jul-1995' 'Jul-1996' 'Jul-1997' 'Jul-1998' 'Jul-1999' 'Jul-2000'
 'Jul-2001' 'Jul-2002' 'Jul-2003' 'Jul-2004' 'Jul-2005' 'Jul-2006'
 'Jul-2007' 'Jul-2008' 'Jul-2009' 'Jul-2010' 'Jul-2011' 'Jul-2012'
 'Jun-1949' 'Jun-1955' 'Jun-1957' 'Jun-1958' 'Jun-1959' 'Jun-1960'
 'Jun-1961' 'Jun-1962' 'Jun-1963' 'Jun-1964' 'Jun-1965' 'Jun-1966'
 'Jun-1967' 'Jun-1968' 'Jun-1969' 'Jun-1970' 'Jun-1971' 'Jun-1972'
 'Jun-1973' 'Jun-1974' 'Jun-1975' 'Jun-1976' 'Jun-1977' 'Jun-1978'
 'Jun-1979' 'Jun-1980' 'Jun-1981' 'Jun-1982' 'Jun-1983' 'Jun-1984'
 'Jun-1985' 'Jun-1986' 'Jun-1987' 'Jun-1988' 'Jun-1989' 'Jun-1990'
 'Jun-1991' 'Jun-1992' 'Jun-1993' 'Jun-1994' 'Jun-1995' 'Jun-1996'
 'Jun-1997' 'Jun-1998' 'Jun-1999' 'Jun-2000' 'Jun-2001' 'Jun-2002'
 'Jun-2003' 'Jun-2004' 'Jun-2005' 'Jun-2006' 'Jun-2007' 'Jun-2008'
 'Jun-2009' 'Jun-2010' 'Jun-2011' 'Jun-2012' 'Mar-1955' 'Mar-1958'
 'Mar-1959' 'Mar-1960' 'Mar-1961' 'Mar-1962' 'Mar-1963' 'Mar-1964'
 'Mar-1965' 'Mar-1966' 'Mar-1967' 'Mar-1968' 'Mar-1969' 'Mar-1970'
 'Mar-1971' 'Mar-1972' 'Mar-1973' 'Mar-1974' 'Mar-1975' 'Mar-1976'
 'Mar-1977' 'Mar-1978' 'Mar-1979' 'Mar-1980' 'Mar-1981' 'Mar-1982'
 'Mar-1983' 'Mar-1984' 'Mar-1985' 'Mar-1986' 'Mar-1987' 'Mar-1988'
 'Mar-1989' 'Mar-1990' 'Mar-1991' 'Mar-1992' 'Mar-1993' 'Mar-1994'
 'Mar-1995' 'Mar-1996' 'Mar-1997' 'Mar-1998' 'Mar-1999' 'Mar-2000'
 'Mar-2001' 'Mar-2002' 'Mar-2003' 'Mar-2004' 'Mar-2005' 'Mar-2006'
 'Mar-2007' 'Mar-2008' 'Mar-2009' 'Mar-2010' 'Mar-2011' 'Mar-2012'
 'May-1950' 'May-1953' 'May-1955' 'May-1957' 'May-1958' 'May-1959'
 'May-1960' 'May-1961' 'May-1962' 'May-1963' 'May-1964' 'May-1965'
 'May-1966' 'May-1967' 'May-1968' 'May-1969' 'May-1970' 'May-1971'
 'May-1972' 'May-1973' 'May-1974' 'May-1975' 'May-1976' 'May-1977'
 'May-1978' 'May-1979' 'May-1980' 'May-1981' 'May-1982' 'May-1983'
 'May-1984' 'May-1985' 'May-1986' 'May-1987' 'May-1988' 'May-1989'
 'May-1990' 'May-1991' 'May-1992' 'May-1993' 'May-1994' 'May-1995'
 'May-1996' 'May-1997' 'May-1998' 'May-1999' 'May-2000' 'May-2001'
 'May-2002' 'May-2003' 'May-2004' 'May-2005' 'May-2006' 'May-2007'
 'May-2008' 'May-2009' 'May-2010' 'May-2011' 'May-2012' 'Nov-1950'
 'Nov-1953' 'Nov-1954' 'Nov-1955' 'Nov-1956' 'Nov-1957' 'Nov-1958'
 'Nov-1959' 'Nov-1960' 'Nov-1961' 'Nov-1962' 'Nov-1963' 'Nov-1964'
 'Nov-1965' 'Nov-1966' 'Nov-1967' 'Nov-1968' 'Nov-1969' 'Nov-1970'
 'Nov-1971' 'Nov-1972' 'Nov-1973' 'Nov-1974' 'Nov-1975' 'Nov-1976'
 'Nov-1977' 'Nov-1978' 'Nov-1979' 'Nov-1980' 'Nov-1981' 'Nov-1982'
 'Nov-1983' 'Nov-1984' 'Nov-1985' 'Nov-1986' 'Nov-1987' 'Nov-1988'
 'Nov-1989' 'Nov-1990' 'Nov-1991' 'Nov-1992' 'Nov-1993' 'Nov-1994'
 'Nov-1995' 'Nov-1996' 'Nov-1997' 'Nov-1998' 'Nov-1999' 'Nov-2000'
 'Nov-2001' 'Nov-2002' 'Nov-2003' 'Nov-2004' 'Nov-2005' 'Nov-2006'
 'Nov-2007' 'Nov-2008' 'Nov-2009' 'Nov-2010' 'Nov-2011' 'Nov-2012'
 'Oct-1950' 'Oct-1954' 'Oct-1957' 'Oct-1958' 'Oct-1959' 'Oct-1960'
 'Oct-1961' 'Oct-1962' 'Oct-1963' 'Oct-1964' 'Oct-1965' 'Oct-1966'
 'Oct-1967' 'Oct-1968' 'Oct-1969' 'Oct-1970' 'Oct-1971' 'Oct-1972'
 'Oct-1973' 'Oct-1974' 'Oct-1975' 'Oct-1976' 'Oct-1977' 'Oct-1978'
 'Oct-1979' 'Oct-1980' 'Oct-1981' 'Oct-1982' 'Oct-1983' 'Oct-1984'
 'Oct-1985' 'Oct-1986' 'Oct-1987' 'Oct-1988' 'Oct-1989' 'Oct-1990'
 'Oct-1991' 'Oct-1992' 'Oct-1993' 'Oct-1994' 'Oct-1995' 'Oct-1996'
 'Oct-1997' 'Oct-1998' 'Oct-1999' 'Oct-2000' 'Oct-2001' 'Oct-2002'
 'Oct-2003' 'Oct-2004' 'Oct-2005' 'Oct-2006' 'Oct-2007' 'Oct-2008'
 'Oct-2009' 'Oct-2010' 'Oct-2011' 'Oct-2012' 'Sep-1953' 'Sep-1956'
 'Sep-1957' 'Sep-1959' 'Sep-1960' 'Sep-1961' 'Sep-1962' 'Sep-1963'
 'Sep-1964' 'Sep-1965' 'Sep-1966' 'Sep-1967' 'Sep-1968' 'Sep-1969'
 'Sep-1970' 'Sep-1971' 'Sep-1972' 'Sep-1973' 'Sep-1974' 'Sep-1975'
 'Sep-1976' 'Sep-1977' 'Sep-1978' 'Sep-1979' 'Sep-1980' 'Sep-1981'
 'Sep-1982' 'Sep-1983' 'Sep-1984' 'Sep-1985' 'Sep-1986' 'Sep-1987'
 'Sep-1988' 'Sep-1989' 'Sep-1990' 'Sep-1991' 'Sep-1992' 'Sep-1993'
 'Sep-1994' 'Sep-1995' 'Sep-1996' 'Sep-1997' 'Sep-1998' 'Sep-1999'
 'Sep-2000' 'Sep-2001' 'Sep-2002' 'Sep-2003' 'Sep-2004' 'Sep-2005'
 'Sep-2006' 'Sep-2007' 'Sep-2008' 'Sep-2009' 'Sep-2010' 'Sep-2011'
 'Sep-2012' 'nan']

Feature: initial_list_status
Unique values: 2
NaN values: 0
['f' 'w']

Feature: last_pymnt_d
Unique values: 99
NaN values: 0
['Apr-2008' 'Apr-2009' 'Apr-2010' 'Apr-2011' 'Apr-2012' 'Apr-2013'
 'Apr-2014' 'Apr-2015' 'Aug-2008' 'Aug-2009' 'Aug-2010' 'Aug-2011'
 'Aug-2012' 'Aug-2013' 'Aug-2014' 'Aug-2015' 'Dec-2007' 'Dec-2008'
 'Dec-2009' 'Dec-2010' 'Dec-2011' 'Dec-2012' 'Dec-2013' 'Dec-2014'
 'Dec-2015' 'Feb-2008' 'Feb-2009' 'Feb-2010' 'Feb-2011' 'Feb-2012'
 'Feb-2013' 'Feb-2014' 'Feb-2015' 'Jan-2008' 'Jan-2009' 'Jan-2010'
 'Jan-2011' 'Jan-2012' 'Jan-2013' 'Jan-2014' 'Jan-2015' 'Jan-2016'
 'Jul-2008' 'Jul-2009' 'Jul-2010' 'Jul-2011' 'Jul-2012' 'Jul-2013'
 'Jul-2014' 'Jul-2015' 'Jun-2008' 'Jun-2009' 'Jun-2010' 'Jun-2011'
 'Jun-2012' 'Jun-2013' 'Jun-2014' 'Jun-2015' 'Mar-2008' 'Mar-2009'
 'Mar-2010' 'Mar-2011' 'Mar-2012' 'Mar-2013' 'Mar-2014' 'Mar-2015'
 'May-2008' 'May-2009' 'May-2010' 'May-2011' 'May-2012' 'May-2013'
 'May-2014' 'May-2015' 'Nov-2008' 'Nov-2009' 'Nov-2010' 'Nov-2011'
 'Nov-2012' 'Nov-2013' 'Nov-2014' 'Nov-2015' 'Oct-2008' 'Oct-2009'
 'Oct-2010' 'Oct-2011' 'Oct-2012' 'Oct-2013' 'Oct-2014' 'Oct-2015'
 'Sep-2008' 'Sep-2009' 'Sep-2010' 'Sep-2011' 'Sep-2012' 'Sep-2013'
 'Sep-2014' 'Sep-2015' 'nan']

Feature: next_pymnt_d
Unique values: 101
NaN values: 0
['Apr-2008' 'Apr-2009' 'Apr-2010' 'Apr-2011' 'Apr-2012' 'Apr-2013'
 'Apr-2014' 'Apr-2015' 'Aug-2008' 'Aug-2009' 'Aug-2010' 'Aug-2011'
 'Aug-2012' 'Aug-2013' 'Aug-2014' 'Aug-2015' 'Dec-2007' 'Dec-2008'
 'Dec-2009' 'Dec-2010' 'Dec-2011' 'Dec-2012' 'Dec-2013' 'Dec-2014'
 'Dec-2015' 'Feb-2008' 'Feb-2009' 'Feb-2010' 'Feb-2011' 'Feb-2012'
 'Feb-2013' 'Feb-2014' 'Feb-2015' 'Feb-2016' 'Jan-2008' 'Jan-2009'
 'Jan-2010' 'Jan-2011' 'Jan-2012' 'Jan-2013' 'Jan-2014' 'Jan-2015'
 'Jan-2016' 'Jul-2008' 'Jul-2009' 'Jul-2010' 'Jul-2011' 'Jul-2012'
 'Jul-2013' 'Jul-2014' 'Jul-2015' 'Jun-2008' 'Jun-2009' 'Jun-2010'

In [41]:
new_data[new_data['emp_length'] == 'nan']

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,annual_inc_MISSING_INDICATOR,verification_status,issue_d,pymnt_plan,purpose,zip_code,addr_state,dti,delinq_2yrs,delinq_2yrs_MISSING_INDICATOR,earliest_cr_line,inq_last_6mths,inq_last_6mths_MISSING_INDICATOR,mths_since_last_delinq,mths_since_last_delinq_MISSING_INDICATOR,mths_since_last_record,mths_since_last_record_MISSING_INDICATOR,open_acc,open_acc_MISSING_INDICATOR,pub_rec,pub_rec_MISSING_INDICATOR,revol_bal,revol_util,revol_util_MISSING_INDICATOR,total_acc,total_acc_MISSING_INDICATOR,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,collections_12_mths_ex_med_MISSING_INDICATOR,mths_since_last_major_derog,mths_since_last_major_derog_MISSING_INDICATOR,policy_code,application_type,acc_now_delinq,acc_now_delinq_MISSING_INDICATOR,tot_coll_amt,tot_coll_amt_MISSING_INDICATOR,tot_cur_bal,tot_cur_bal_MISSING_INDICATOR,total_rev_hi_lim,total_rev_hi_lim_MISSING_INDICATOR
168,2500.0,2500.0,2500.0,36 months,7.51,77.78,A,A3,nan,OWN,12000.0,False,Source Verified,Dec-2011,n,debt_consolidation,961xx,CA,16.30,0.0,False,Aug-1994,2.0,False,0.0,True,0.0,True,13.0,False,0.0,False,4853.0,42.2,False,20.0,False,f,0.00,0.00,1838.880000,1838.88,1575.06,253.74,0.0,10.08,0.0000,Dec-2013,77.78,nan,Jan-2016,0.0,False,0.0,True,1.0,INDIVIDUAL,0.0,False,0.0,True,0.0,True,0.0,True
323,18000.0,18000.0,18000.0,60 months,17.58,452.98,D,D4,nan,MORTGAGE,60000.0,False,Verified,Dec-2011,n,debt_consolidation,363xx,AL,21.96,0.0,False,Mar-2003,1.0,False,75.0,False,0.0,True,11.0,False,0.0,False,5945.0,83.7,False,28.0,False,f,0.00,0.00,26369.525524,26369.53,18000.00,8369.53,0.0,0.00,0.0000,Sep-2015,6909.59,nan,Sep-2015,0.0,False,0.0,True,1.0,INDIVIDUAL,0.0,False,0.0,True,0.0,True,0.0,True
394,4000.0,4000.0,4000.0,36 months,11.71,132.31,B,B3,nan,RENT,24000.0,False,Source Verified,Dec-2011,n,home_improvement,328xx,FL,7.50,1.0,False,Feb-2005,0.0,False,16.0,False,0.0,True,4.0,False,0.0,False,1593.0,54.9,False,6.0,False,f,0.00,0.00,4185.930000,4185.93,4000.00,185.93,0.0,0.00,0.0000,May-2012,3658.15,nan,May-2012,0.0,False,0.0,True,1.0,INDIVIDUAL,0.0,False,0.0,True,0.0,True,0.0,True
422,1000.0,1000.0,1000.0,36 months,14.65,34.50,C,C3,nan,RENT,18408.0,False,Not Verified,Dec-2011,n,major_purchase,080xx,NJ,6.00,0.0,False,Apr-1993,2.0,False,0.0,True,114.0,False,3.0,False,1.0,False,2510.0,83.7,False,8.0,False,f,0.00,0.00,91.310000,91.31,22.24,12.18,0.0,56.89,10.2402,Jan-2012,34.50,nan,Jun-2012,0.0,False,0.0,True,1.0,INDIVIDUAL,0.0,False,0.0,True,0.0,True,0.0,True
439,8250.0,8250.0,8250.0,36 months,7.51,256.67,A,A3,nan,MORTGAGE,31500.0,False,Verified,Dec-2011,n,debt_consolidation,218xx,MD,17.87,0.0,False,Dec-1981,4.0,False,0.0,True,0.0,True,17.0,False,0.0,False,7521.0,10.4,False,37.0,False,f,0.00,0.00,9236.369059,9236.37,8250.00,986.37,0.0,0.00,0.0000,Dec-2014,278.92,nan,Dec-2014,0.0,False,0.0,True,1.0,INDIVIDUAL,0.0,False,0.0,True,0.0,True,0.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887321,20000.0,20000.0,20000.0,60 months,8.67,411.98,B,B1,nan,MORTGAGE,62000.0,False,Verified,Jan-2015,n,credit_card,290xx,SC,8.82,0.0,False,Mar-1975,0.0,False,0.0,True,0.0,True,10.0,False,0.0,False,18980.0,34.8,False,25.0,False,w,16659.57,16659.57,4934.130000,4934.13,3340.43,1593.70,0.0,0.00,0.0000,Jan-2016,411.98,Feb-2016,Jan-2016,0.0,False,0.0,True,1.0,INDIVIDUAL,0.0,False,0.0,False,111924.0,False,54500.0,False
887337,19600.0,19600.0,19600.0,60 months,14.31,459.22,C,C4,nan,OWN,49000.0,False,Verified,Jan-2015,n,credit_card,322xx,FL,22.58,1.0,False,Jan-1990,2.0,False,6.0,False,0.0,True,22.0,False,0.0,False,141120.0,26.7,False,48.0,False,w,17286.47,17286.47,4064.940000,4064.94,2313.53,1751.41,0.0,0.00,0.0000,Sep-2015,459.22,Feb-2016,Jan-2016,0.0,False,0.0,True,1.0,INDIVIDUAL,0.0,False,0.0,False,141120.0,False,233000.0,False
887355,26950.0,26950.0,26950.0,36 months,8.19,846.88,A,A5,nan,RENT,54000.0,False,Verified,Jan-2015,n,debt_consolidation,840xx,UT,18.11,0.0,False,Jun-1993,0.0,False,0.0,True,0.0,True,14.0,False,0.0,False,32167.0,24.9,False,28.0,False,f,18689.12,18689.12,10138.040000,10138.04,8260.88,1877.16,0.0,0.00,0.0000,Jan-2016,846.88,Feb-2016,Jan-2016,0.0,False,0.0,True,1.0,INDIVIDUAL,0.0,False,0.0,False,41650.0,False,129100.0,False
887359,25000.0,25000.0,25000.0,60 months,15.59,602.52,D,D1,nan,OWN,55000.0,False,Not Verified,Jan-2015,n,debt_consolidation,550xx,MN,5.52,0.0,False,May-2003,0.0,False,0.0,True,0.0,True,9.0,False,0.0,False,13860.0,56.8,False,26.0,False,f,21418.50,21418.50,7186.930000,7186.93,3581.50,3605.43,0.0,0.00,0.0000,Jan-2016,602.52,Feb-2016,Jan-2016,0.0,False,0.0,True,1.0,INDIVIDUAL,0.0,False,0.0,False,13860.0,False,24400.0,False
887371,10850.0,10850.0,10850.0,36 months,19.24,399.04,E,E2,nan,OWN,32000.0,False,Verified,Jan-2015,n,debt_consolidation,430xx,OH,29.44,0.0,False,Jun-2002,1.0,False,65.0,False,0.0,True,9.0,False,0.0,False,6987.0,41.6,False,20.0,False,f,0.00,0.00,2396.050000,2396.05,1405.77,990.28,0.0,0.00,0.0000,Aug-2015,25.00,nan,Jan-2016,0.0,False,0.0,True,1.0,INDIVIDUAL,0.0,False,972.0,False,53777.0,False,16800.0,False

In [42]:
new_data1 = new_data.copy()

In [43]:
issue_d_month = []
issue_d_year = []

earliest_cr_line_month = []
earliest_cr_line_year = []

last_pymnt_d_month = []
last_pymnt_d_year = []

next_pymnt_d_month = []
next_pymnt_d_year = []

last_credit_pull_d_month = []
last_credit_pull_d_year = []

In [44]:
def month_num(mm):

    month = mm.lower()
    if month == 'jan':
        return 1
    
    elif month == 'feb':
        return 2
        
    elif month == 'mar':
        return 3
        
    elif month == 'apr':
        return 4
        
    elif month == 'may':
        return 5
        
    elif month == 'jun':
        return 6
        
    elif month == 'jul':
        return 7
        
    elif month == 'aug':
        return 8
        
    elif month == 'sept':
        return 9
        
    elif month == 'oct':
        return 10
        
    elif month == 'nov':
        return 11
        
    elif month == 'dec':
        return 12

    else :
        return 0

In [45]:
date_cols = ['issue_d', 'earliest_cr_line', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [46]:
for i in date_cols:
    for j in range(0, new_data1.shape[0]):
        if new_data1[i][j] != 'nan':
            
            match = re.match(r'([A-Za-z]{3})-(\d{4})', new_data1[i][j])

            month = match.group(1)
            month = month_num(month)

            year = match.group(2)

            if i == 'issue_d':
                issue_d_month.append(month)
                issue_d_year.append(int(year))
            
            elif i == 'earliest_cr_line':
                earliest_cr_line_month.append(month)
                earliest_cr_line_year.append(int(year))

            elif i == 'last_pymnt_d':
                last_pymnt_d_month.append(month)
                last_pymnt_d_year.append(int(year))

            elif i == 'next_pymnt_d':
                next_pymnt_d_month.append(month)
                next_pymnt_d_year.append(int(year))

            elif i == 'last_credit_pull_d':
                last_credit_pull_d_month.append(month)
                last_credit_pull_d_year.append(int(year))

        else:
            month = 0
            year = 0
            
            if i == 'issue_d':
                issue_d_month.append(month)
                issue_d_year.append(int(year))
            
            elif i == 'earliest_cr_line':
                earliest_cr_line_month.append(month)
                earliest_cr_line_year.append(int(year))

            elif i == 'last_pymnt_d':
                last_pymnt_d_month.append(month)
                last_pymnt_d_year.append(int(year))

            elif i == 'next_pymnt_d':
                next_pymnt_d_month.append(month)
                next_pymnt_d_year.append(int(year))

            elif i == 'last_credit_pull_d':
                last_credit_pull_d_month.append(month)
                last_credit_pull_d_year.append(int(year))

In [47]:
loc_issue_d = new_data1.columns.get_loc('issue_d')
new_data1.insert(loc = loc_issue_d+1, column='issue_d_month', value = issue_d_month)
new_data1.insert(loc = loc_issue_d+2, column='issue_d_year', value = issue_d_year)

loc_earliest_cr_line = new_data1.columns.get_loc('earliest_cr_line')
new_data1.insert(loc = loc_earliest_cr_line+1, column='earliest_cr_line_month', value = earliest_cr_line_month)
new_data1.insert(loc = loc_earliest_cr_line+2, column='earliest_cr_line_year', value = earliest_cr_line_year)

loc_last_pymnt_d = new_data1.columns.get_loc('last_pymnt_d')
new_data1.insert(loc = loc_last_pymnt_d+1, column='last_pymnt_d_month', value = last_pymnt_d_month)
new_data1.insert(loc = loc_last_pymnt_d+2, column='last_pymnt_d_year', value = last_pymnt_d_year)

loc_next_pymnt_d = new_data1.columns.get_loc('next_pymnt_d')
new_data1.insert(loc = loc_next_pymnt_d+1, column='next_pymnt_d_month', value = next_pymnt_d_month)
new_data1.insert(loc = loc_next_pymnt_d+2, column='next_pymnt_d_year', value = next_pymnt_d_year)

loc_last_credit_pull_d = new_data1.columns.get_loc('last_credit_pull_d')
new_data1.insert(loc = loc_last_credit_pull_d+1, column='last_credit_pull_d_month', value = last_credit_pull_d_month)
new_data1.insert(loc = loc_last_credit_pull_d+2, column='last_credit_pull_d_year', value = last_credit_pull_d_year)

new_data1.drop(columns = ['issue_d', 'earliest_cr_line', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d'], inplace = True)

In [48]:
new_data1.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,annual_inc_MISSING_INDICATOR,verification_status,issue_d_month,issue_d_year,pymnt_plan,purpose,zip_code,addr_state,dti,delinq_2yrs,delinq_2yrs_MISSING_INDICATOR,earliest_cr_line_month,earliest_cr_line_year,inq_last_6mths,inq_last_6mths_MISSING_INDICATOR,mths_since_last_delinq,mths_since_last_delinq_MISSING_INDICATOR,mths_since_last_record,mths_since_last_record_MISSING_INDICATOR,open_acc,open_acc_MISSING_INDICATOR,pub_rec,pub_rec_MISSING_INDICATOR,revol_bal,revol_util,revol_util_MISSING_INDICATOR,total_acc,total_acc_MISSING_INDICATOR,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d_month,last_pymnt_d_year,last_pymnt_amnt,next_pymnt_d_month,next_pymnt_d_year,last_credit_pull_d_month,last_credit_pull_d_year,collections_12_mths_ex_med,collections_12_mths_ex_med_MISSING_INDICATOR,mths_since_last_major_derog,mths_since_last_major_derog_MISSING_INDICATOR,policy_code,application_type,acc_now_delinq,acc_now_delinq_MISSING_INDICATOR,tot_coll_amt,tot_coll_amt_MISSING_INDICATOR,tot_cur_bal,tot_cur_bal_MISSING_INDICATOR,total_rev_hi_lim,total_rev_hi_lim_MISSING_INDICATOR
0,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,10+ years,RENT,24000.0,False,Verified,12,2011,n,credit_card,860xx,AZ,27.65,0.0,False,1,1985,1.0,False,0.0,True,0.0,True,3.0,False,0.0,False,13648.0,83.7,False,9.0,False,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,1,2015,171.62,0,0,1,2016,0.0,False,0.0,True,1.0,INDIVIDUAL,0.0,False,0.0,True,0.0,True,0.0,True
1,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,< 1 year,RENT,30000.0,False,Source Verified,12,2011,n,car,309xx,GA,1.00,0.0,False,4,1999,5.0,False,0.0,True,0.0,True,3.0,False,0.0,False,1687.0,9.4,False,4.0,False,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,4,2013,119.66,0,0,0,2013,0.0,False,0.0,True,1.0,INDIVIDUAL,0.0,False,0.0,True,0.0,True,0.0,True
2,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,10+ years,RENT,12252.0,False,Not Verified,12,2011,n,small_business,606xx,IL,8.72,0.0,False,11,2001,2.0,False,0.0,True,0.0,True,2.0,False,0.0,False,2956.0,98.5,False,10.0,False,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,6,2014,649.91,0,0,1,2016,0.0,False,0.0,True,1.0,INDIVIDUAL,0.0,False,0.0,True,0.0,True,0.0,True
3,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,10+ years,RENT,49200.0,False,Source Verified,12,2011,n,other,917xx,CA,20.00,0.0,False,2,1996,1.0,False,35.0,False,0.0,True,10.0,False,0.0,False,5598.0,21.0,False,37.0,False,f,0.0,0.0,12226.302212,12226.30,10000.00,2209.33,16.97,0.00,0.00,1,2015,357.48,0,0,1,2015,0.0,False,0.0,True,1.0,INDIVIDUAL,0.0,False,0.0,True,0.0,True,0.0,True
4,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,1 year,RENT,80000.0,False,Source Verified,12,2011,n,other,972xx,OR,17.94,0.0,False,1,1996,0.0,False,38.0,False,0.0,True,15.0,False,0.0,False,27783.0,53.9,False,38.0,False,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,1,2016,67.79,2,2016,1,2016,0.0,False,0.0,True,1.0,INDIVIDUAL,0.0,False,0.0,True,0.0,True,0.0,True

In [49]:
new_data1.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_length', 'home_ownership', 'annual_inc', 'annual_inc_MISSING_INDICATOR', 'verification_status', 'issue_d_month', 'issue_d_year', 'pymnt_plan', 'purpose', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'delinq_2yrs_MISSING_INDICATOR', 'earliest_cr_line_month', 'earliest_cr_line_year', 'inq_last_6mths', 'inq_last_6mths_MISSING_INDICATOR', 'mths_since_last_delinq', 'mths_since_last_delinq_MISSING_INDICATOR', 'mths_since_last_record', 'mths_since_last_record_MISSING_INDICATOR', 'open_acc', 'open_acc_MISSING_INDICATOR', 'pub_rec', 'pub_rec_MISSING_INDICATOR', 'revol_bal', 'revol_util', 'revol_util_MISSING_INDICATOR', 'total_acc', 'total_acc_MISSING_INDICATOR', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d_month',
       'last_pymnt_d_year', 'last_pymnt_amnt', 'next_pymnt_d_month', 'next_pymnt_d_year', 'last_credit_pull_d_month', 'last_credit_pull_d_year', 'collections_12_mths_ex_med', 'collections_12_mths_ex_med_MISSING_INDICATOR', 'mths_since_last_major_derog', 'mths_since_last_major_derog_MISSING_INDICATOR', 'policy_code', 'application_type', 'acc_now_delinq', 'acc_now_delinq_MISSING_INDICATOR', 'tot_coll_amt', 'tot_coll_amt_MISSING_INDICATOR', 'tot_cur_bal', 'tot_cur_bal_MISSING_INDICATOR', 'total_rev_hi_lim', 'total_rev_hi_lim_MISSING_INDICATOR'],
      dtype='object')

In [50]:
cat_cols = new_data1.select_dtypes(exclude=['int64', 'float64', 'bool'])
cat_cols

              term grade sub_grade emp_length home_ownership verification_status pymnt_plan             purpose zip_code addr_state initial_list_status application_type
0        36 months     B        B2  10+ years           RENT            Verified          n         credit_card    860xx         AZ                   f       INDIVIDUAL
1        60 months     C        C4   < 1 year           RENT     Source Verified          n                 car    309xx         GA                   f       INDIVIDUAL
2        36 months     C        C5  10+ years           RENT        Not Verified          n      small_business    606xx         IL                   f       INDIVIDUAL
3        36 months     C        C1  10+ years           RENT     Source Verified          n               other    917xx         CA                   f       INDIVIDUAL
4        60 months     B        B5     1 year           RENT     Source Verified          n               other    972xx         OR                   f       INDIVIDUAL
...            ...   ...       ...        ...            ...                 ...        ...                 ...      ...        ...                 ...              ...
887374   36 months     B        B5    8 years           RENT            Verified          n  debt_consolidation    905xx         CA                   f       INDIVIDUAL
887375   36 months     B        B5  10+ years       MORTGAGE            Verified          n    home_improvement    072xx         NJ                   f       INDIVIDUAL
887376   60 months     D        D2    5 years           RENT            Verified          n  debt_consolidation    378xx         TN                   w       INDIVIDUAL
887377   60 months     E        E3     1 year           RENT     Source Verified          n  debt_consolidation    010xx         MA                   w       INDIVIDUAL
887378   36 months     B        B5  10+ years           RENT            Verified          n         credit_card    331xx         FL                   f       INDIVIDUAL

[887379 rows x 12 columns]

In [51]:
for i in cat_cols:
    print(f'Column: {i}\nUniques: {new_data1[i].nunique()} uniques: {np.unique(new_data1[i])}\nHead:\n{new_data1[i].head()}\n')

Column: term
Uniques: 2 uniques: [' 36 months' ' 60 months']
Head:
0     36 months
1     60 months
2     36 months
3     36 months
4     60 months
Name: term, dtype: object

Column: grade
Uniques: 7 uniques: ['A' 'B' 'C' 'D' 'E' 'F' 'G']
Head:
0    B
1    C
2    C
3    C
4    B
Name: grade, dtype: object

Column: sub_grade
Uniques: 35 uniques: ['A1' 'A2' 'A3' 'A4' 'A5' 'B1' 'B2' 'B3' 'B4' 'B5' 'C1' 'C2' 'C3' 'C4'
 'C5' 'D1' 'D2' 'D3' 'D4' 'D5' 'E1' 'E2' 'E3' 'E4' 'E5' 'F1' 'F2' 'F3'
 'F4' 'F5' 'G1' 'G2' 'G3' 'G4' 'G5']
Head:
0    B2
1    C4
2    C5
3    C1
4    B5
Name: sub_grade, dtype: object

Column: emp_length
Uniques: 12 uniques: ['1 year' '10+ years' '2 years' '3 years' '4 years' '5 years' '6 years'
 '7 years' '8 years' '9 years' '< 1 year' 'nan']
Head:
0    10+ years
1     < 1 year
2    10+ years
3    10+ years
4       1 year
Name: emp_length, dtype: object

Column: home_ownership
Uniques: 6 uniques: ['ANY' 'MORTGAGE' 'NONE' 'OTHER' 'OWN' 'RENT']
Head:
0    RENT
1    RENT
2    RENT
3    RENT
4    RENT
Name: home_ownership, dtype: object

Column: verification_status
Uniques: 3 uniques: ['Not Verified' 'Source Verified' 'Verified']
Head:
0           Verified
1    Source Verified
2       Not Verified
3    Source Verified
4    Source Verified
Name: verification_status, dtype: object

Column: pymnt_plan
Uniques: 2 uniques: ['n' 'y']
Head:
0    n
1    n
2    n
3    n
4    n
Name: pymnt_plan, dtype: object

Column: purpose
Uniques: 14 uniques: ['car' 'credit_card' 'debt_consolidation' 'educational' 'home_improvement'
 'house' 'major_purchase' 'medical' 'moving' 'other' 'renewable_energy'
 'small_business' 'vacation' 'wedding']
Head:
0       credit_card
1               car
2    small_business
3             other
4             other
Name: purpose, dtype: object

Column: zip_code
Uniques: 935 uniques: ['007xx' '008xx' '010xx' '011xx' '012xx' '013xx' '014xx' '015xx' '016xx'
 '017xx' '018xx' '019xx' '020xx' '021xx' '022xx' '023xx' '024xx' '025xx'
 '026xx' '027xx' '028xx' '029xx' '030xx' '031xx' '032xx' '033xx' '034xx'
 '035xx' '036xx' '037xx' '038xx' '039xx' '040xx' '041xx' '042xx' '043xx'
 '044xx' '045xx' '046xx' '047xx' '048xx' '049xx' '050xx' '051xx' '052xx'
 '053xx' '054xx' '056xx' '057xx' '058xx' '059xx' '060xx' '061xx' '062xx'
 '063xx' '064xx' '065xx' '066xx' '067xx' '068xx' '069xx' '070xx' '071xx'
 '072xx' '073xx' '074xx' '075xx' '076xx' '077xx' '078xx' '079xx' '080xx'
 '081xx' '082xx' '083xx' '084xx' '085xx' '086xx' '087xx' '088xx' '089xx'
 '090xx' '091xx' '092xx' '093xx' '094xx' '096xx' '097xx' '098xx' '100xx'
 '101xx' '102xx' '103xx' '104xx' '105xx' '106xx' '107xx' '108xx' '109xx'
 '110xx' '111xx' '112xx' '113xx' '114xx' '115xx' '116xx' '117xx' '118xx'
 '119xx' '120xx' '121xx' '122xx' '123xx' '124xx' '125xx' '126xx' '127xx'
 '128xx' '129xx' '130xx' '131xx' '132xx' '133xx' '134xx' '135xx' '136xx'
 '137xx' '138xx' '139xx' '140xx' '141xx' '142xx' '143xx' '144xx' '145xx'
 '146xx' '147xx' '148xx' '149xx' '150xx' '151xx' '152xx' '153xx' '154xx'
 '155xx' '156xx' '157xx' '158xx' '159xx' '160xx' '161xx' '162xx' '163xx'
 '164xx' '165xx' '166xx' '167xx' '168xx' '169xx' '170xx' '171xx' '172xx'
 '173xx' '174xx' '175xx' '176xx' '177xx' '178xx' '179xx' '180xx' '181xx'
 '182xx' '183xx' '184xx' '185xx' '186xx' '187xx' '188xx' '189xx' '190xx'
 '191xx' '193xx' '194xx' '195xx' '196xx' '197xx' '198xx' '199xx' '200xx'
 '201xx' '203xx' '204xx' '205xx' '206xx' '207xx' '208xx' '209xx' '210xx'
 '211xx' '212xx' '214xx' '215xx' '216xx' '217xx' '218xx' '219xx' '220xx'
 '221xx' '222xx' '223xx' '224xx' '225xx' '226xx' '227xx' '228xx' '229xx'
 '230xx' '231xx' '232xx' '233xx' '234xx' '235xx' '236xx' '237xx' '238xx'
 '239xx' '240xx' '241xx' '242xx' '243xx' '244xx' '245xx' '246xx' '247xx'
 '248xx' '249xx' '250xx' '251xx' '252xx' '253xx' '254xx' '255xx' '256xx'
 '257xx' '258xx' '259xx' '260xx' '261xx' '262xx' '263xx' '264xx' '265xx'
 '266xx' '267xx' '268xx' '269xx' '270xx' '271xx' '272xx' '273xx' '274xx'
 '275xx' '276xx' '277xx' '278xx' '279xx' '280xx' '281xx' '282xx' '283xx'
 '284xx' '285xx' '286xx' '287xx' '288xx' '289xx' '290xx' '291xx' '292xx'
 '293xx' '294xx' '295xx' '296xx' '297xx' '298xx' '299xx' '300xx' '301xx'
 '302xx' '303xx' '304xx' '305xx' '306xx' '307xx' '308xx' '309xx' '310xx'
 '311xx' '312xx' '313xx' '314xx' '315xx' '316xx' '317xx' '318xx' '319xx'
 '320xx' '321xx' '322xx' '323xx' '324xx' '325xx' '326xx' '327xx' '328xx'
 '329xx' '330xx' '331xx' '332xx' '333xx' '334xx' '335xx' '336xx' '337xx'
 '338xx' '339xx' '340xx' '341xx' '342xx' '343xx' '344xx' '346xx' '347xx'
 '348xx' '349xx' '350xx' '351xx' '352xx' '353xx' '354xx' '355xx' '356xx'
 '357xx' '358xx' '359xx' '360xx' '361xx' '362xx' '363xx' '364xx' '365xx'
 '366xx' '367xx' '368xx' '369xx' '370xx' '371xx' '372xx' '373xx' '374xx'
 '375xx' '376xx' '377xx' '378xx' '379xx' '380xx' '381xx' '382xx' '383xx'
 '384xx' '385xx' '386xx' '387xx' '388xx' '389xx' '390xx' '391xx' '392xx'
 '393xx' '394xx' '395xx' '396xx' '397xx' '398xx' '399xx' '400xx' '401xx'
 '402xx' '403xx' '404xx' '405xx' '406xx' '407xx' '408xx' '409xx' '410xx'
 '411xx' '412xx' '413xx' '414xx' '415xx' '416xx' '417xx' '418xx' '420xx'
 '421xx' '422xx' '423xx' '424xx' '425xx' '426xx' '427xx' '429xx' '430xx'
 '431xx' '432xx' '433xx' '434xx' '435xx' '436xx' '437xx' '438xx' '439xx'
 '440xx' '441xx' '442xx' '443xx' '444xx' '445xx' '446xx' '447xx' '448xx'
 '449xx' '450xx' '451xx' '452xx' '453xx' '454xx' '455xx' '456xx' '457xx'
 '458xx' '460xx' '461xx' '462xx' '463xx' '464xx' '465xx' '466xx' '467xx'
 '468xx' '469xx' '470xx' '471xx' '472xx' '473xx' '474xx' '475xx' '476xx'
 '477xx' '478xx' '479xx' '480xx' '481xx' '482xx' '483xx' '484xx' '485xx'
 '486xx' '487xx' '488xx' '489xx' '490xx' '491xx' '492xx' '493xx' '494xx'
 '495xx' '496xx' '497xx' '498xx' '499xx' '500xx' '501xx' '502xx' '503xx'
 '504xx' '506xx' '507xx' '509xx' '510xx' '511xx' '513xx' '514xx' '516xx'
 '520xx' '522xx' '523xx' '524xx' '527xx' '528xx' '530xx' '531xx' '532xx'
 '534xx' '535xx' '537xx' '538xx' '539xx' '540xx' '541xx' '542xx' '543xx'
 '544xx' '545xx' '546xx' '547xx' '548xx' '549xx' '550xx' '551xx' '553xx'
 '554xx' '555xx' '556xx' '557xx' '558xx' '559xx' '560xx' '561xx' '562xx'
 '563xx' '564xx' '565xx' '566xx' '567xx' '568xx' '569xx' '570xx' '571xx'
 '572xx' '573xx' '574xx' '575xx' '576xx' '577xx' '580xx' '581xx' '582xx'
 '583xx' '584xx' '585xx' '586xx' '587xx' '588xx' '590xx' '591xx' '592xx'
 '593xx' '594xx' '595xx' '596xx' '597xx' '598xx' '599xx' '600xx' '601xx'
 '602xx' '603xx' '604xx' '605xx' '606xx' '607xx' '608xx' '609xx' '610xx'
 '611xx' '612xx' '613xx' '614xx' '615xx' '616xx' '617xx' '618xx' '619xx'
 '620xx' '621xx' '622xx' '623xx' '624xx' '625xx' '626xx' '627xx' '628xx'
 '629xx' '630xx' '631xx' '633xx' '634xx' '635xx' '636xx' '637xx' '638xx'
 '639xx' '640xx' '641xx' '643xx' '644xx' '645xx' '646xx' '647xx' '648xx'
 '649xx' '650xx' '651xx' '652xx' '653xx' '654xx' '655xx' '656xx' '657xx'
 '658xx' '660xx' '661xx' '662xx' '663xx' '664xx' '665xx' '666xx' '667xx'
 '668xx' '669xx' '670xx' '671xx' '672xx' '673xx' '674xx' '675xx' '676xx'
 '677xx' '678xx' '679xx' '680xx' '681xx' '682xx' '683xx' '684xx' '685xx'
 '686xx' '687xx' '688xx' '689xx' '690xx' '691xx' '692xx' '693xx' '694xx'
 '700xx' '701xx' '702xx' '703xx' '704xx' '705xx' '706xx' '707xx' '708xx'
 '709xx' '710xx' '711xx' '712xx' '713xx' '714xx' '716xx' '717xx' '718xx'
 '719xx' '720xx' '721xx' '722xx' '723xx' '724xx' '725xx' '726xx' '727xx'
 '728xx' '729xx' '730xx' '731xx' '734xx' '735xx' '736xx' '737xx' '738xx'
 '739xx' '740xx' '741xx' '742xx' '743xx' '744xx' '745xx' '746xx' '747xx'
 '748xx' '749xx' '750xx' '751xx' '752xx' '753xx' '754xx' '755xx' '756xx'
 '757xx' '758xx' '759xx' '760xx' '761xx' '762xx' '763xx' '764xx' '765xx'
 '766xx' '767xx' '768xx' '769xx' '770xx' '771xx' '772xx' '773xx' '774xx'
 '775xx' '776xx' '777xx' '778xx' '779xx' '780xx' '781xx' '782xx' '783xx'
 '784xx' '785xx' '786xx' '787xx' '788xx' '789xx' '790xx' '791xx' '792xx'
 '793xx' '794xx' '795xx' '796xx' '797xx' '798xx' '799xx' '800xx' '801xx'
 '802xx' '803xx' '804xx' '805xx' '806xx' '807xx' '808xx' '809xx' '810xx'
 '811xx' '812xx' '813xx' '814xx' '815xx' '816xx' '817xx' '819xx' '820xx'
 '821xx' '822xx' '823xx' '824xx' '825xx' '826xx' '827xx' '828xx' '829xx'
 '830xx' '831xx' '832xx' '833xx' '834xx' '835xx' '836xx' '837xx' '838xx'
 '840xx' '841xx' '843xx' '844xx' '845xx' '846xx' '847xx' '849xx' '850xx'
 '851xx' '852xx' '853xx' '854xx' '855xx' '856xx' '857xx' '859xx' '860xx'
 '861xx' '862xx' '863xx' '864xx' '865xx' '870xx' '871xx' '873xx' '874xx'
 '875xx' '877xx' '878xx' '879xx' '880xx' '881xx' '882xx' '883xx' '884xx'
 '888xx' '889xx' '890xx' '891xx' '892xx' '893xx' '894xx' '895xx' '897xx'
 '898xx' '900xx' '901xx' '902xx' '903xx' '904xx' '905xx' '906xx' '907xx'
 '908xx' '909xx' '910xx' '911xx' '912xx' '913xx' '914xx' '915xx' '916xx'
 '917xx' '918xx' '919xx' '920xx' '921xx' '922xx' '923xx' '924xx' '925xx'
 '926xx' '927xx' '928xx' '929xx' '930xx' '931xx' '932xx' '933xx' '934xx'
 '935xx' '936xx' '937xx' '938xx' '939xx' '940xx' '941xx' '942xx' '943xx'
 '944xx' '945xx' '946xx' '947xx' '948xx' '949xx' '950xx' '951xx' '952xx'
 '953xx' '954xx' '955xx' '956xx' '957xx' '958xx' '959xx' '960xx' '961xx'
 '962xx' '963xx' '965xx' '967xx' '968xx' '969xx' '970xx' '971xx' '972xx'
 '973xx' '974xx' '975xx' '976xx' '977xx' '978xx' '979xx' '980xx' '981xx'
 '982xx' '983xx' '984xx' '985xx' '986xx' '988xx' '989xx' '990xx' '991xx'
 '992xx' '993xx' '994xx' '995xx' '996xx' '997xx' '998xx' '999xx']
Head:
0    860xx
1    309xx
2    606xx
3    917xx
4    972xx
Name: zip_code, dtype: object

Column: addr_state
Uniques: 51 uniques: ['AK' 'AL' 'AR' 'AZ' 'CA' 'CO' 'CT' 'DC' 'DE' 'FL' 'GA' 'HI' 'IA' 'ID'
 'IL' 'IN' 'KS' 'KY' 'LA' 'MA' 'MD' 'ME' 'MI' 'MN' 'MO' 'MS' 'MT' 'NC'
 'ND' 'NE' 'NH' 'NJ' 'NM' 'NV' 'NY' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'SD'
 'TN' 'TX' 'UT' 'VA' 'VT' 'WA' 'WI' 'WV' 'WY']
Head:
0    AZ
1    GA
2    IL
3    CA
4    OR
Name: addr_state, dtype: object

Column: initial_list_status
Uniques: 2 uniques: ['f' 'w']
Head:
0    f
1    f
2    f
3    f
4    f
Name: initial_list_status, dtype: object

Column: application_type
Uniques: 2 uniques: ['INDIVIDUAL' 'JOINT']
Head:
0    INDIVIDUAL
1    INDIVIDUAL
2    INDIVIDUAL
3    INDIVIDUAL
4    INDIVIDUAL
Name: application_type, dtype: object

In [52]:
pattern = r'(\d+)([a-zA-Z]+)'
zip_num = []
for j in range(0, new_data1.shape[0]):
    match = re.match(pattern, new_data1['zip_code'][j])
    zip_num.append(int(match.group(1)))
    # print(match.group(1))

In [53]:
zip_num[:10]

[860, 309, 606, 917, 972, 852, 280, 900, 958, 774]

In [54]:
zip_loc = new_data1.columns.get_loc('zip_code')
zip_loc

17

In [55]:
new_data1.insert(loc = zip_loc + 1, column = 'zip_num', value = zip_num)

In [56]:
new_data1.drop(columns = ['zip_code'], inplace = True)

In [57]:
new_data1.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,annual_inc_MISSING_INDICATOR,verification_status,issue_d_month,issue_d_year,pymnt_plan,purpose,zip_num,addr_state,dti,delinq_2yrs,delinq_2yrs_MISSING_INDICATOR,earliest_cr_line_month,earliest_cr_line_year,inq_last_6mths,inq_last_6mths_MISSING_INDICATOR,mths_since_last_delinq,mths_since_last_delinq_MISSING_INDICATOR,mths_since_last_record,mths_since_last_record_MISSING_INDICATOR,open_acc,open_acc_MISSING_INDICATOR,pub_rec,pub_rec_MISSING_INDICATOR,revol_bal,revol_util,revol_util_MISSING_INDICATOR,total_acc,total_acc_MISSING_INDICATOR,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d_month,last_pymnt_d_year,last_pymnt_amnt,next_pymnt_d_month,next_pymnt_d_year,last_credit_pull_d_month,last_credit_pull_d_year,collections_12_mths_ex_med,collections_12_mths_ex_med_MISSING_INDICATOR,mths_since_last_major_derog,mths_since_last_major_derog_MISSING_INDICATOR,policy_code,application_type,acc_now_delinq,acc_now_delinq_MISSING_INDICATOR,tot_coll_amt,tot_coll_amt_MISSING_INDICATOR,tot_cur_bal,tot_cur_bal_MISSING_INDICATOR,total_rev_hi_lim,total_rev_hi_lim_MISSING_INDICATOR
0,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,10+ years,RENT,24000.0,False,Verified,12,2011,n,credit_card,860,AZ,27.65,0.0,False,1,1985,1.0,False,0.0,True,0.0,True,3.0,False,0.0,False,13648.0,83.7,False,9.0,False,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,1,2015,171.62,0,0,1,2016,0.0,False,0.0,True,1.0,INDIVIDUAL,0.0,False,0.0,True,0.0,True,0.0,True
1,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,< 1 year,RENT,30000.0,False,Source Verified,12,2011,n,car,309,GA,1.00,0.0,False,4,1999,5.0,False,0.0,True,0.0,True,3.0,False,0.0,False,1687.0,9.4,False,4.0,False,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,4,2013,119.66,0,0,0,2013,0.0,False,0.0,True,1.0,INDIVIDUAL,0.0,False,0.0,True,0.0,True,0.0,True
2,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,10+ years,RENT,12252.0,False,Not Verified,12,2011,n,small_business,606,IL,8.72,0.0,False,11,2001,2.0,False,0.0,True,0.0,True,2.0,False,0.0,False,2956.0,98.5,False,10.0,False,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,6,2014,649.91,0,0,1,2016,0.0,False,0.0,True,1.0,INDIVIDUAL,0.0,False,0.0,True,0.0,True,0.0,True
3,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,10+ years,RENT,49200.0,False,Source Verified,12,2011,n,other,917,CA,20.00,0.0,False,2,1996,1.0,False,35.0,False,0.0,True,10.0,False,0.0,False,5598.0,21.0,False,37.0,False,f,0.0,0.0,12226.302212,12226.30,10000.00,2209.33,16.97,0.00,0.00,1,2015,357.48,0,0,1,2015,0.0,False,0.0,True,1.0,INDIVIDUAL,0.0,False,0.0,True,0.0,True,0.0,True
4,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,1 year,RENT,80000.0,False,Source Verified,12,2011,n,other,972,OR,17.94,0.0,False,1,1996,0.0,False,38.0,False,0.0,True,15.0,False,0.0,False,27783.0,53.9,False,38.0,False,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,1,2016,67.79,2,2016,1,2016,0.0,False,0.0,True,1.0,INDIVIDUAL,0.0,False,0.0,True,0.0,True,0.0,True

In [58]:
cat_cols = new_data1.select_dtypes(exclude=['int64', 'float64', 'bool']).columns
new_data1[cat_cols]

              term grade sub_grade emp_length home_ownership verification_status pymnt_plan             purpose addr_state initial_list_status application_type
0        36 months     B        B2  10+ years           RENT            Verified          n         credit_card         AZ                   f       INDIVIDUAL
1        60 months     C        C4   < 1 year           RENT     Source Verified          n                 car         GA                   f       INDIVIDUAL
2        36 months     C        C5  10+ years           RENT        Not Verified          n      small_business         IL                   f       INDIVIDUAL
3        36 months     C        C1  10+ years           RENT     Source Verified          n               other         CA                   f       INDIVIDUAL
4        60 months     B        B5     1 year           RENT     Source Verified          n               other         OR                   f       INDIVIDUAL
...            ...   ...       ...        ...            ...                 ...        ...                 ...        ...                 ...              ...
887374   36 months     B        B5    8 years           RENT            Verified          n  debt_consolidation         CA                   f       INDIVIDUAL
887375   36 months     B        B5  10+ years       MORTGAGE            Verified          n    home_improvement         NJ                   f       INDIVIDUAL
887376   60 months     D        D2    5 years           RENT            Verified          n  debt_consolidation         TN                   w       INDIVIDUAL
887377   60 months     E        E3     1 year           RENT     Source Verified          n  debt_consolidation         MA                   w       INDIVIDUAL
887378   36 months     B        B5  10+ years           RENT            Verified          n         credit_card         FL                   f       INDIVIDUAL

[887379 rows x 11 columns]

In [59]:
for i in cat_cols:
    print(f'Feature: {i}\nUniques: {new_data1[i].nunique()}\n{np.unique(new_data1[i])}\n')

Feature: term
Uniques: 2
[' 36 months' ' 60 months']

Feature: grade
Uniques: 7
['A' 'B' 'C' 'D' 'E' 'F' 'G']

Feature: sub_grade
Uniques: 35
['A1' 'A2' 'A3' 'A4' 'A5' 'B1' 'B2' 'B3' 'B4' 'B5' 'C1' 'C2' 'C3' 'C4'
 'C5' 'D1' 'D2' 'D3' 'D4' 'D5' 'E1' 'E2' 'E3' 'E4' 'E5' 'F1' 'F2' 'F3'
 'F4' 'F5' 'G1' 'G2' 'G3' 'G4' 'G5']

Feature: emp_length
Uniques: 12
['1 year' '10+ years' '2 years' '3 years' '4 years' '5 years' '6 years'
 '7 years' '8 years' '9 years' '< 1 year' 'nan']

Feature: home_ownership
Uniques: 6
['ANY' 'MORTGAGE' 'NONE' 'OTHER' 'OWN' 'RENT']

Feature: verification_status
Uniques: 3
['Not Verified' 'Source Verified' 'Verified']

Feature: pymnt_plan
Uniques: 2
['n' 'y']

Feature: purpose
Uniques: 14
['car' 'credit_card' 'debt_consolidation' 'educational' 'home_improvement'
 'house' 'major_purchase' 'medical' 'moving' 'other' 'renewable_energy'
 'small_business' 'vacation' 'wedding']

Feature: addr_state
Uniques: 51
['AK' 'AL' 'AR' 'AZ' 'CA' 'CO' 'CT' 'DC' 'DE' 'FL' 'GA' 'HI' 'IA' 'ID'
 'IL' 'IN' 'KS' 'KY' 'LA' 'MA' 'MD' 'ME' 'MI' 'MN' 'MO' 'MS' 'MT' 'NC'
 'ND' 'NE' 'NH' 'NJ' 'NM' 'NV' 'NY' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'SD'
 'TN' 'TX' 'UT' 'VA' 'VT' 'WA' 'WI' 'WV' 'WY']

Feature: initial_list_status
Uniques: 2
['f' 'w']

Feature: application_type
Uniques: 2
['INDIVIDUAL' 'JOINT']

In [60]:
new_data[['grade', 'sub_grade']].head(20)

   grade sub_grade
0      B        B2
1      C        C4
2      C        C5
3      C        C1
4      B        B5
5      A        A4
6      C        C5
7      E        E1
8      F        F2
9      B        B5
10     C        C3
11     B        B5
12     C        C1
13     B        B1
14     B        B2
15     D        D1
16     C        C4
17     A        A1
18     B        B3
19     A        A1

In [76]:
pattern = r'([A-Za-z])(\d)' # regex to split sub_grade into numbers and letters
grade_num = []

for i in new_data1[['sub_grade']]:
    
    for j in range(0, new_data1.shape[0]):

        match = re.match(pattern, new_data1[i][j])
        num = match.group(2) # Extracting numbers from sub_grade values

        grade_num.append(int(num))

In [77]:
grade_num[:10]

[2, 4, 5, 1, 5, 4, 5, 1, 2, 5]

In [86]:
sub_grade_loc = new_data1.columns.get_loc('sub_grade')
new_data1.drop(columns=['sub_grade'], inplace=True) # Dropping existing sub_grade feature
new_data1.insert(loc = sub_grade_loc, column='sub_grade', value=grade_num) # Adding new sub_grade feature

In [87]:
new_data1.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,annual_inc_MISSING_INDICATOR,verification_status,issue_d_month,issue_d_year,pymnt_plan,purpose,zip_num,addr_state,dti,delinq_2yrs,delinq_2yrs_MISSING_INDICATOR,earliest_cr_line_month,earliest_cr_line_year,inq_last_6mths,inq_last_6mths_MISSING_INDICATOR,mths_since_last_delinq,mths_since_last_delinq_MISSING_INDICATOR,mths_since_last_record,mths_since_last_record_MISSING_INDICATOR,open_acc,open_acc_MISSING_INDICATOR,pub_rec,pub_rec_MISSING_INDICATOR,revol_bal,revol_util,revol_util_MISSING_INDICATOR,total_acc,total_acc_MISSING_INDICATOR,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d_month,last_pymnt_d_year,last_pymnt_amnt,next_pymnt_d_month,next_pymnt_d_year,last_credit_pull_d_month,last_credit_pull_d_year,collections_12_mths_ex_med,collections_12_mths_ex_med_MISSING_INDICATOR,mths_since_last_major_derog,mths_since_last_major_derog_MISSING_INDICATOR,policy_code,application_type,acc_now_delinq,acc_now_delinq_MISSING_INDICATOR,tot_coll_amt,tot_coll_amt_MISSING_INDICATOR,tot_cur_bal,tot_cur_bal_MISSING_INDICATOR,total_rev_hi_lim,total_rev_hi_lim_MISSING_INDICATOR
0,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,2,10+ years,RENT,24000.0,False,Verified,12,2011,n,credit_card,860,AZ,27.65,0.0,False,1,1985,1.0,False,0.0,True,0.0,True,3.0,False,0.0,False,13648.0,83.7,False,9.0,False,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,1,2015,171.62,0,0,1,2016,0.0,False,0.0,True,1.0,INDIVIDUAL,0.0,False,0.0,True,0.0,True,0.0,True
1,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,4,< 1 year,RENT,30000.0,False,Source Verified,12,2011,n,car,309,GA,1.00,0.0,False,4,1999,5.0,False,0.0,True,0.0,True,3.0,False,0.0,False,1687.0,9.4,False,4.0,False,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,4,2013,119.66,0,0,0,2013,0.0,False,0.0,True,1.0,INDIVIDUAL,0.0,False,0.0,True,0.0,True,0.0,True
2,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,5,10+ years,RENT,12252.0,False,Not Verified,12,2011,n,small_business,606,IL,8.72,0.0,False,11,2001,2.0,False,0.0,True,0.0,True,2.0,False,0.0,False,2956.0,98.5,False,10.0,False,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,6,2014,649.91,0,0,1,2016,0.0,False,0.0,True,1.0,INDIVIDUAL,0.0,False,0.0,True,0.0,True,0.0,True
3,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,1,10+ years,RENT,49200.0,False,Source Verified,12,2011,n,other,917,CA,20.00,0.0,False,2,1996,1.0,False,35.0,False,0.0,True,10.0,False,0.0,False,5598.0,21.0,False,37.0,False,f,0.0,0.0,12226.302212,12226.30,10000.00,2209.33,16.97,0.00,0.00,1,2015,357.48,0,0,1,2015,0.0,False,0.0,True,1.0,INDIVIDUAL,0.0,False,0.0,True,0.0,True,0.0,True
4,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,5,1 year,RENT,80000.0,False,Source Verified,12,2011,n,other,972,OR,17.94,0.0,False,1,1996,0.0,False,38.0,False,0.0,True,15.0,False,0.0,False,27783.0,53.9,False,38.0,False,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,1,2016,67.79,2,2016,1,2016,0.0,False,0.0,True,1.0,INDIVIDUAL,0.0,False,0.0,True,0.0,True,0.0,True

In [88]:
new_data1['sub_grade'].dtype

dtype('int64')

In [132]:
cat_cols = new_data1.select_dtypes(exclude=['int64', 'float64', 'bool'])
cat_cols

              term grade emp_length home_ownership verification_status pymnt_plan             purpose addr_state initial_list_status application_type
0        36 months     B  10+ years           RENT            Verified          n         credit_card         AZ                   f       INDIVIDUAL
1        60 months     C   < 1 year           RENT     Source Verified          n                 car         GA                   f       INDIVIDUAL
2        36 months     C  10+ years           RENT        Not Verified          n      small_business         IL                   f       INDIVIDUAL
3        36 months     C  10+ years           RENT     Source Verified          n               other         CA                   f       INDIVIDUAL
4        60 months     B     1 year           RENT     Source Verified          n               other         OR                   f       INDIVIDUAL
...            ...   ...        ...            ...                 ...        ...                 ...        ...                 ...              ...
887374   36 months     B    8 years           RENT            Verified          n  debt_consolidation         CA                   f       INDIVIDUAL
887375   36 months     B  10+ years       MORTGAGE            Verified          n    home_improvement         NJ                   f       INDIVIDUAL
887376   60 months     D    5 years           RENT            Verified          n  debt_consolidation         TN                   w       INDIVIDUAL
887377   60 months     E     1 year           RENT     Source Verified          n  debt_consolidation         MA                   w       INDIVIDUAL
887378   36 months     B  10+ years           RENT            Verified          n         credit_card         FL                   f       INDIVIDUAL

[887379 rows x 10 columns]

In [115]:
for i in cat_cols:
    print(f'Feature: {i}\nUniques: {new_data1[i].nunique()}\n{np.unique(new_data1[i])}\n')

Feature: term
Uniques: 2
[' 36 months' ' 60 months']

Feature: grade
Uniques: 7
['A' 'B' 'C' 'D' 'E' 'F' 'G']

Feature: emp_length
Uniques: 12
['1 year' '10+ years' '2 years' '3 years' '4 years' '5 years' '6 years'
 '7 years' '8 years' '9 years' '< 1 year' 'nan']

Feature: home_ownership
Uniques: 6
['ANY' 'MORTGAGE' 'NONE' 'OTHER' 'OWN' 'RENT']

Feature: verification_status
Uniques: 3
['Not Verified' 'Source Verified' 'Verified']

Feature: pymnt_plan
Uniques: 2
['n' 'y']

Feature: purpose
Uniques: 14
['car' 'credit_card' 'debt_consolidation' 'educational' 'home_improvement'
 'house' 'major_purchase' 'medical' 'moving' 'other' 'renewable_energy'
 'small_business' 'vacation' 'wedding']

Feature: addr_state
Uniques: 51
['AK' 'AL' 'AR' 'AZ' 'CA' 'CO' 'CT' 'DC' 'DE' 'FL' 'GA' 'HI' 'IA' 'ID'
 'IL' 'IN' 'KS' 'KY' 'LA' 'MA' 'MD' 'ME' 'MI' 'MN' 'MO' 'MS' 'MT' 'NC'
 'ND' 'NE' 'NH' 'NJ' 'NM' 'NV' 'NY' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'SD'
 'TN' 'TX' 'UT' 'VA' 'VT' 'WA' 'WI' 'WV' 'WY']

Feature: initial_list_status
Uniques: 2
['f' 'w']

Feature: application_type
Uniques: 2
['INDIVIDUAL' 'JOINT']

In [139]:
ohe = OneHotEncoder(dtype='int64',
                    handle_unknown='ignore',
                    drop = 'first',
                    feature_name_combiner = 'concat',
                    sparse_output=False).set_output(transform='pandas')

sc = StandardScaler()

In [150]:
col_tx = make_column_transformer(
    (sc, make_column_selector(dtype_include=['int64', 'float64'])),
    (ohe, make_column_selector(dtype_exclude=['int64', 'float64'])),
    verbose_feature_names_out=False
).set_output(transform='pandas')

scaled_data = col_tx.fit_transform(new_data1)

In [151]:
scaled_data.head()

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,sub_grade,annual_inc,issue_d_month,issue_d_year,zip_num,dti,delinq_2yrs,earliest_cr_line_month,earliest_cr_line_year,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d_month,last_pymnt_d_year,last_pymnt_amnt,next_pymnt_d_month,next_pymnt_d_year,last_credit_pull_d_month,last_credit_pull_d_year,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,term_ 60 months,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G,emp_length_10+ years,emp_length_2 years,emp_length_3 years,emp_length_4 years,emp_length_5 years,emp_length_6 years,emp_length_7 years,emp_length_8 years,emp_length_9 years,emp_length_< 1 year,emp_length_nan,home_ownership_MORTGAGE,home_ownership_NONE,home_ownership_OTHER,home_ownership_OWN,home_ownership_RENT,annual_inc_MISSING_INDICATOR_True,verification_status_Source Verified,verification_status_Verified,pymnt_plan_y,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,addr_state_AL,addr_state_AR,addr_state_AZ,addr_state_CA,addr_state_CO,addr_state_CT,addr_state_DC,addr_state_DE,addr_state_FL,addr_state_GA,addr_state_HI,addr_state_IA,addr_state_ID,addr_state_IL,addr_state_IN,addr_state_KS,addr_state_KY,addr_state_LA,addr_state_MA,addr_state_MD,addr_state_ME,addr_state_MI,addr_state_MN,addr_state_MO,addr_state_MS,addr_state_MT,addr_state_NC,addr_state_ND,addr_state_NE,addr_state_NH,addr_state_NJ,addr_state_NM,addr_state_NV,addr_state_NY,addr_state_OH,addr_state_OK,addr_state_OR,addr_state_PA,addr_state_RI,addr_state_SC,addr_state_SD,addr_state_TN,addr_state_TX,addr_state_UT,addr_state_VA,addr_state_VT,addr_state_WA,addr_state_WI,addr_state_WV,addr_state_WY,delinq_2yrs_MISSING_INDICATOR_True,inq_last_6mths_MISSING_INDICATOR_True,mths_since_last_delinq_MISSING_INDICATOR_True,mths_since_last_record_MISSING_INDICATOR_True,open_acc_MISSING_INDICATOR_True,pub_rec_MISSING_INDICATOR_True,revol_util_MISSING_INDICATOR_True,total_acc_MISSING_INDICATOR_True,initial_list_status_w,collections_12_mths_ex_med_MISSING_INDICATOR_True,mths_since_last_major_derog_MISSING_INDICATOR_True,application_type_JOINT,acc_now_delinq_MISSING_INDICATOR_True,tot_coll_amt_MISSING_INDICATOR_True,tot_cur_bal_MISSING_INDICATOR_True,total_rev_hi_lim_MISSING_INDICATOR_True
0,-1.156460,-1.155635,-1.152256,-0.592611,-1.121467,-0.684954,-0.788703,1.485453,-2.394914,1.113190,0.552218,-0.364672,-1.268565,-0.927229,0.305877,-0.726464,-0.391731,-1.607499,-0.335522,-0.145932,1.201140,-1.373775,-0.989366,-0.989366,-0.215691,-0.215315,-0.114363,-0.426531,-0.097042,-0.112082,-0.077319,-0.709319,0.141384,-0.415561,-1.423415,-1.583613,-0.365203,0.025698,-0.107149,-0.499078,0.0,-0.064298,-0.021004,-0.843347,-0.79786,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,1,1,1
1,-1.452829,-1.452198,-1.445430,0.461735,-1.543440,0.730347,-0.695964,1.485453,-2.394914,-0.646576,-0.998047,-0.364672,-0.488652,0.100180,4.312132,-0.726464,-0.391731,-1.607499,-0.335522,-0.679268,-1.912396,-1.796028,-0.989366,-0.989366,-0.832158,-0.830023,-0.800135,-0.629790,-0.097042,0.173693,-0.059735,-0.052165,0.134278,-0.426398,-1.423415,-1.583613,-0.725068,-0.166666,-0.107149,-0.499078,0.0,-0.064298,-0.021004,-0.843347,-0.79786,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,1,1,1
2,-1.464683,-1.464061,-1.457275,0.619202,-1.443107,1.437998,-0.970285,1.485453,-2.394914,0.301973,-0.548965,-0.364672,1.331145,0.246953,1.307441,-0.726464,-0.391731,-1.795553,-0.335522,-0.622684,1.821333,-1.289324,-0.989366,-0.989366,-0.578711,-0.575765,-0.506790,-0.549384,-0.097042,-0.112082,-0.077319,0.385937,0.137831,-0.315809,-1.423415,-1.583613,-0.365203,0.025698,-0.107149,-0.499078,0.0,-0.064298,-0.021004,-0.843347,-0.79786,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,1,1,1
3,-0.563724,-0.562507,-0.557025,0.055515,-0.398905,-1.392605,-0.399202,1.485453,-2.394914,1.295235,0.107207,-0.364672,-1.008594,-0.119979,0.305877,0.803013,-0.391731,-0.291124,-0.335522,-0.504878,-1.426299,0.990842,-0.989366,-0.989366,0.592979,0.599678,0.640304,0.216921,4.054312,-0.112082,-0.077319,-0.709319,0.141384,-0.376798,-1.423415,-1.583613,-0.365203,-0.038423,-0.107149,-0.499078,0.0,-0.064298,-0.021004,-0.843347,-0.79786,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,1,1
4,-1.393555,-1.392886,-1.386203,-0.127055,-1.510842,1.437998,0.076856,1.485453,-2.394914,1.470892,-0.012625,-0.364672,-1.268565,-0.119979,-0.695687,0.934112,-0.391731,0.649144,-0.335522,0.484341,-0.047627,1.075293,-0.899073,-0.899036,-0.548409,-0.545365,-0.531981,-0.355899,-0.097042,-0.112082,-0.077319,-0.709319,0.144937,-0.437216,0.679197,0.631491,-0.365203,0.025698,-0.107149,-0.499078,0.0,-0.064298,-0.021004,-0.843347,-0.79786,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,1,1

In [175]:
scaled_data.describe().T

                                            count          mean       std       min       25%       50%       75%       max
loan_amnt                                887379.0  7.276950e-17  1.000001 -1.689923 -0.800818 -0.208082  0.621749  2.399959
funded_amnt                              887379.0 -1.001221e-16  1.000001 -1.689449 -0.799758 -0.206631  0.623747  2.403129
funded_amnt_inv                          887379.0  1.345211e-18  1.000001 -1.741564 -0.793933 -0.201664  0.627514  2.404322
int_rate                                 887379.0 -2.885797e-16  1.000001 -1.808988 -0.743231 -0.058591  0.673973  3.592822
installment                              887379.0 -4.230368e-16  1.000001 -1.724285 -0.720810 -0.221827  0.556472  4.131035
...                                           ...           ...       ...       ...       ...       ...       ...       ...
application_type_JOINT                   887379.0  5.758532e-04  0.023990  0.000000  0.000000  0.000000  0.000000  1.000000
acc_now_delinq_MISSING_INDICATOR_True    887379.0  3.268051e-05  0.005717  0.000000  0.000000  0.000000  0.000000  1.000000
tot_coll_amt_MISSING_INDICATOR_True      887379.0  7.919502e-02  0.270043  0.000000  0.000000  0.000000  0.000000  1.000000
tot_cur_bal_MISSING_INDICATOR_True       887379.0  7.919502e-02  0.270043  0.000000  0.000000  0.000000  0.000000  1.000000
total_rev_hi_lim_MISSING_INDICATOR_True  887379.0  7.919502e-02  0.270043  0.000000  0.000000  0.000000  0.000000  1.000000

[151 rows x 8 columns]

In [176]:
col_tx = make_column_transformer(
    (ohe, make_column_selector(dtype_exclude=['int64', 'float64'])),
    remainder='passthrough',
    verbose_feature_names_out=False
).set_output(transform='pandas')

enc_data = col_tx.fit_transform(new_data1)

In [177]:
enc_data.head()

,term_ 60 months,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G,emp_length_10+ years,emp_length_2 years,emp_length_3 years,emp_length_4 years,emp_length_5 years,emp_length_6 years,emp_length_7 years,emp_length_8 years,emp_length_9 years,emp_length_< 1 year,emp_length_nan,home_ownership_MORTGAGE,home_ownership_NONE,home_ownership_OTHER,home_ownership_OWN,home_ownership_RENT,annual_inc_MISSING_INDICATOR_True,verification_status_Source Verified,verification_status_Verified,pymnt_plan_y,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,addr_state_AL,addr_state_AR,addr_state_AZ,addr_state_CA,addr_state_CO,addr_state_CT,addr_state_DC,addr_state_DE,addr_state_FL,addr_state_GA,addr_state_HI,addr_state_IA,addr_state_ID,addr_state_IL,addr_state_IN,addr_state_KS,addr_state_KY,addr_state_LA,addr_state_MA,addr_state_MD,addr_state_ME,addr_state_MI,addr_state_MN,addr_state_MO,addr_state_MS,addr_state_MT,addr_state_NC,addr_state_ND,addr_state_NE,addr_state_NH,addr_state_NJ,addr_state_NM,addr_state_NV,addr_state_NY,addr_state_OH,addr_state_OK,addr_state_OR,addr_state_PA,addr_state_RI,addr_state_SC,addr_state_SD,addr_state_TN,addr_state_TX,addr_state_UT,addr_state_VA,addr_state_VT,addr_state_WA,addr_state_WI,addr_state_WV,addr_state_WY,delinq_2yrs_MISSING_INDICATOR_True,inq_last_6mths_MISSING_INDICATOR_True,mths_since_last_delinq_MISSING_INDICATOR_True,mths_since_last_record_MISSING_INDICATOR_True,open_acc_MISSING_INDICATOR_True,pub_rec_MISSING_INDICATOR_True,revol_util_MISSING_INDICATOR_True,total_acc_MISSING_INDICATOR_True,initial_list_status_w,collections_12_mths_ex_med_MISSING_INDICATOR_True,mths_since_last_major_derog_MISSING_INDICATOR_True,application_type_JOINT,acc_now_delinq_MISSING_INDICATOR_True,tot_coll_amt_MISSING_INDICATOR_True,tot_cur_bal_MISSING_INDICATOR_True,total_rev_hi_lim_MISSING_INDICATOR_True,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,sub_grade,annual_inc,issue_d_month,issue_d_year,zip_num,dti,delinq_2yrs,earliest_cr_line_month,earliest_cr_line_year,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d_month,last_pymnt_d_year,last_pymnt_amnt,next_pymnt_d_month,next_pymnt_d_year,last_credit_pull_d_month,last_credit_pull_d_year,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,1,1,1,5000.0,5000.0,4975.0,10.65,162.87,2,24000.0,12,2011,860,27.65,0.0,1,1985,1.0,0.0,0.0,3.0,0.0,13648.0,83.7,9.0,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,1,2015,171.62,0,0,1,2016,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,1,1,1,2500.0,2500.0,2500.0,15.27,59.83,4,30000.0,12,2011,309,1.00,0.0,4,1999,5.0,0.0,0.0,3.0,0.0,1687.0,9.4,4.0,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,4,2013,119.66,0,0,0,2013,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,1,1,1,2400.0,2400.0,2400.0,15.96,84.33,5,12252.0,12,2011,606,8.72,0.0,11,2001,2.0,0.0,0.0,2.0,0.0,2956.0,98.5,10.0,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,6,2014,649.91,0,0,1,2016,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,1,1,10000.0,10000.0,10000.0,13.49,339.31,1,49200.0,12,2011,917,20.00,0.0,2,1996,1.0,35.0,0.0,10.0,0.0,5598.0,21.0,37.0,0.0,0.0,12226.302212,12226.30,10000.00,2209.33,16.97,0.00,0.00,1,2015,357.48,0,0,1,2015,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,1,1,3000.0,3000.0,3000.0,12.69,67.79,5,80000.0,12,2011,972,17.94,0.0,1,1996,0.0,38.0,0.0,15.0,0.0,27783.0,53.9,38.0,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,1,2016,67.79,2,2016,1,2016,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [210]:
loc = enc_data.columns.get_loc('loan_amnt')
# enc_data[: 106].describe()
temp = enc_data.columns[loc:]
temp

enc_data[temp].describe().T

                                count           mean            std      min        25%           50%            75%           max
loan_amnt                    887379.0   14755.264605    8435.455601   500.00   8000.000  13000.000000   20000.000000  3.500000e+04
funded_amnt                  887379.0   14741.877625    8429.897657   500.00   8000.000  13000.000000   20000.000000  3.500000e+04
funded_amnt_inv              887379.0   14702.464383    8442.106732     0.00   8000.000  13000.000000   20000.000000  3.500000e+04
int_rate                     887379.0      13.246740       4.381867     5.32      9.990     12.990000      16.200000  2.899000e+01
installment                  887379.0     436.717127     244.186593    15.67    260.705    382.550000     572.600000  1.445460e+03
sub_grade                    887379.0       2.967927       1.413127     1.00      2.000      3.000000       4.000000  5.000000e+00
annual_inc                   887379.0   75027.587761   64698.154323     0.00  45000.000  65000.000000   90000.000000  9.500000e+06
issue_d_month                887379.0       6.392626       3.774860     0.00      3.000      7.000000      10.000000  1.200000e+01
issue_d_year                 887379.0    2014.021761       1.261741  2007.00   2013.000   2014.000000    2015.000000  2.015000e+03
zip_num                      887379.0     511.449194     313.109956     7.00    227.000    475.000000     802.000000  9.990000e+02
dti                          887379.0      18.157039      17.190626     0.00     11.910     17.650000      23.950000  9.999000e+03
delinq_2yrs                  887379.0       0.314432       0.862232     0.00      0.000      0.000000       0.000000  3.900000e+01
earliest_cr_line_month       887379.0       5.879641       3.846584     0.00      3.000      6.000000      10.000000  1.200000e+01
earliest_cr_line_year        887379.0    1997.634896      13.626518     0.00   1994.000   1999.000000    2003.000000  2.012000e+03
inq_last_6mths               887379.0       0.694601       0.998439     0.00      0.000      0.000000       1.000000  3.300000e+01
mths_since_last_delinq       887379.0      16.624134      22.883648     0.00      0.000      0.000000      30.000000  1.880000e+02
mths_since_last_record       887379.0      10.829498      27.645233     0.00      0.000      0.000000       0.000000  1.290000e+02
open_acc                     887379.0      11.548092       5.317636     0.00      8.000     11.000000      14.000000  9.000000e+01
pub_rec                      887379.0       0.195301       0.582082     0.00      0.000      0.000000       0.000000  8.600000e+01
revol_bal                    887379.0   16920.787533   22426.791896     0.00   6443.000  11875.000000   20829.000000  2.904836e+06
revol_util                   887379.0      55.036541      23.863552     0.00     37.600     56.000000      73.600000  8.923000e+02
total_acc                    887379.0      25.267200      11.841249     0.00     17.000     24.000000      32.000000  1.690000e+02
out_prncp                    887379.0    8403.124852    8493.450269     0.00      0.000   6458.290000   13659.055000  4.937286e+04
out_prncp_inv                887379.0    8399.713242    8489.997617     0.00      0.000   6455.810000   13654.050000  4.937286e+04
total_pymnt                  887379.0    7558.826684    7871.243336     0.00   1914.590   4894.999117   10616.814231  5.777758e+04
total_pymnt_inv              887379.0    7521.160306    7846.108604     0.00   1899.700   4862.010000   10565.690000  5.777758e+04
total_rec_prncp              887379.0    5757.706424    6625.441046     0.00   1200.570   3215.320000    8000.000000  3.500003e+04
total_rec_int                887379.0    1754.804327    2095.356099     0.00    441.460   1073.280000    2238.265000  2.420562e+04
total_rec_late_fee           887379.0       0.396692       4.087825     0.00      0.000      0.000000       0.000000  3.586800e+02
recoveries                   887379.0      45.919243     409.693874     0.00      0.000      0.000000       0.000000  3.352027e+04
collection_recovery_fee      887379.0       4.880757      63.125281     0.00      0.000      0.000000       0.000000  7.002190e+03
last_pymnt_d_month           887379.0       4.238143       4.565148     0.00      1.000      1.000000       8.000000  1.200000e+01
last_pymnt_d_year            887379.0    1975.206814     281.454905     0.00   2015.000   2016.000000    2016.000000  2.016000e+03
last_pymnt_amnt              887379.0    2164.145585    4794.783233     0.00    280.170    462.780000     831.245000  3.647559e+04
next_pymnt_d_month           887379.0       1.353949       0.951198     0.00      0.000      2.000000       2.000000  1.200000e+01
next_pymnt_d_year            887379.0    1441.270411     910.116064     0.00      0.000   2016.000000    2016.000000  2.016000e+03
last_credit_pull_d_month     887379.0       2.014831       2.778820     0.00      1.000      1.000000       1.000000  1.200000e+01
last_credit_pull_d_year      887379.0    2015.599230      15.595425     0.00   2016.000   2016.000000    2016.000000  2.016000e+03
collections_12_mths_ex_med   887379.0       0.014377       0.134180     0.00      0.000      0.000000       0.000000  2.000000e+01
mths_since_last_major_derog  887379.0      11.019164      22.079045     0.00      0.000      0.000000       0.000000  1.880000e+02
policy_code                  887379.0       1.000000       0.000000     1.00      1.000      1.000000       1.000000  1.000000e+00
acc_now_delinq               887379.0       0.004991       0.077624     0.00      0.000      0.000000       0.000000  1.400000e+01
tot_coll_amt                 887379.0     207.828087    9894.829152     0.00      0.000      0.000000       0.000000  9.152545e+06
tot_cur_bal                  887379.0  128413.794873  152266.900958     0.00  23168.000  65332.000000  195794.000000  8.000078e+06
total_rev_hi_lim             887379.0   29528.944955   37010.209490     0.00  11650.000  21800.000000   37800.000000  9.999999e+06